[2016-10-19 19:39] arlin commented on #237
Yes, I agree.  If URL does not start with "http", prepend "http://".   Change the error message to "Invalid URL.  To ensure success, go to the page you want, then copy the text from the browser's URL bar."

[2016-10-19 19:59] #156 closed

[2016-10-19 19:59] #199 closed

[2016-10-19 20:20] ducvan0212 commented on #198
@arlin can you see the pop up when you open a tree in tree viewer?
<img width="638" alt="screen shot 2016-10-19 at 2 19 48 pm" src="https://cloud.githubusercontent.com/assets/1614884/19535982/3a323d76-9607-11e6-8803-de020746eeec.png">

[2016-10-19 20:24] arlin opened #238 "interactive test instructions (tutorial?)"
Write instructions and gather necessary input files for a set of interactive tests that cover everything.  Test with standard inputs, empty inputs, bad inputs, too-large inputs.  Test everything that can be done in anonymous mode.

Here is a quick draft of the list of everything
* view Help (open accordion, play video)
* view About
* view Feedback
* choose public list to view
* select and deselect

[2016-10-19 20:25] arlin commented on #198
Yes.  You can remove this now.

[2016-10-19 20:25] #198 closed

[2016-10-19 20:32] arlin commented on #209
Thanks.  this is currently working.

<img width="474" alt="screen shot 2016-10-19 at 4 31 18 pm" src="https://cloud.githubusercontent.com/assets/1659198/19536336/92b1a45c-9619-11e6-9cf6-91754a23d734.png">

[2016-10-19 20:32] arlin commented on #209
@ducvan0212, are you done with this one?

[2016-10-19 20:34] ducvan0212 commented on #209
I am checking on this issue. Please wait a little bit.

[2016-10-19 20:37] arlin commented on #214
@ducvan0212, anonymous tree creation is now broken, at least for me.    Log out.  Choose "Extract from web" with https://en.wikipedia.org/wiki/Wombat.  Choose "Get tree" .   This is what I see:

[2016-10-19 20:39] arlin commented on #214
I'm making this ticket a priority now.  I assume that this is the one that broke anonymous tree creation.  However, perhaps  the routing is broken due to the new alert message.

[2016-10-19 20:39] ducvan0212 commented on #214
Yes, I am testing so I turned this off.

[2016-10-19 20:59] ducvan0212 commented on #209
@arlin To generate message in the pop up, I counted all names shown in the tree newick format. In your case is 152 species. It is not the number of species in tips of tree. Do this meet your expectation?

[2016-10-19 21:01] ducvan0212 commented on #209
There are some names in middle nodes of trees.

[2016-10-19 21:03] ducvan0212 commented on #214
I turned it back. But please check #209

[2016-10-19 21:06] ducvan0212 commented on #209
I counted species chosen by user, not actual number of species in tree tips. I am not sure how to count the actual number in tree newick format but I will require more process time

[2016-10-19 22:00] arlin commented on #209
I think the formula would be to add the number of commas and left parens.  Anything preceded by a comma or a left paren is a tip.   Another way to do this is to just import some library like DendroPy, and use existing functions.

[2016-10-19 22:05] ducvan0212 commented on #216
In development server, the popup is closed when you click on parts that are not nodes of tree

[2016-10-19 22:07] abusalehmdtayeen commented on #226
@arlin,  I made some modifications to solve this issue. Can you check in the development instance of the portal? Does it look  good?

[2016-10-19 22:09] arlin commented on #209
The number of tips is left parens + commas.  Most people will be interested in the tips.  However, if the list contains the name of a genus, and the name of a species in the genus, it may include both names, or it may include only the species name.

I think the way to do is to report 2 things: the number of tips, and the match of OTT ids between the query and the tree.  You can extract the OTT Ids

[2016-10-19 22:14] arlin commented on #216
Thanks, this is a big improvement :-)

[2016-10-19 22:14] #216 closed

[2016-10-19 22:19] arlin commented on #226
Thanks, I'm going to close this.

I am also going to make a prediction: this will cause problems in the future.  I can see that the tip branches have two segments.  Later on, when we offer the user more customizations, we will have to make sure that this branch is treated as one element, even though it is composed of two elements.   In fact, I can already see a problem.  Open a tree and select "li

[2016-10-19 22:21] arlin commented on #226
And this (blue node disk is the junction between the two segments)
<img width="415" alt="screen shot 2016-10-19 at 6 20 41 pm" src="https://cloud.githubusercontent.com/assets/1659198/19539711/e09907fa-9628-11e6-9a2f-c9c28cac5582.png">

[2016-10-19 22:22] #226 closed

[2016-10-19 22:23] abusalehmdtayeen commented on #226
@arlin, I think I can solve this problem by making the color of the second segment same as the line highlight color.

[2016-10-19 22:24] arlin opened #239 "remove dual-segment of tip branch"
See the comments in phylotastic-portal#226 .  Tip branches are broken into two segments, and this is exposed by the line highlight and box highlight features.

[2016-10-19 22:26] abusalehmdtayeen commented on #239
I think I can solve this problem by making the color and width of the second segment same as the line highlight color and width.

[2016-10-19 22:29] arlin commented on #207
Thanks.  The dev server is down now, but I used this feature earlier today so I know it works.

[2016-10-19 22:29] #207 closed

[2016-10-19 22:31] ducvan0212 commented on #209
@arlin I shut down the server to install a library to parse newick. Can you check this issue?

[2016-10-20 13:59] arlin commented on #215
Maybe this is a good thing?  Users don't click Help because they are getting along fine without any explicit instructions.

[2016-10-20 14:02] arlin opened #240 "re-do screencast for soft release"
portal GUI has changed significantly in the past 3 weeks.  we need to re-do the screencast as soon as the tree-menu changes (#212 and #213) are done.

the screencast would be better if it were shorter.

[2016-10-20 18:46] abusalehmdtayeen commented on #213
@arlin @hdliv , this feature is done. Please check in the development instance of portal.

[2016-10-20 18:47] abusalehmdtayeen commented on #212
@arlin @hdliv , this feature is done. Please check in the development instance of portal.

[2016-10-20 19:08] arlin commented on #212
@abusalehmdtayeen, please change the title from  "Actions menu" to "'LeafName' actions" as requested.

![screen shot 2016-10-20 at 3 04 39 pm](https://cloud.githubusercontent.com/assets/1659198/19574146/01719ef2-96d7-11e6-8886-1ec62216f47a.png)

[2016-10-20 19:11] arlin commented on #213
@abusalehmdtayeen, please change the title from  "Actions menu" to "'NodeName' actions" for a named node, or "Node actions" for an un-named node.

![screen shot 2016-10-20 at 3 06 02 pm](https://cloud.githubusercontent.com/assets/1659198/19574237/65978978-96d7-11e6-8f9d-e70536e847a6.png)

[2016-10-20 19:18] arlin commented on #209
That is an improvement, but the language needs to be fixed.  The matched names are not necessarily "species".  Change this to "Retrieved a tree with 53 tips.  68 of 83 taxa in the input list were matched."

![screen shot 2016-10-20 at 3 14 49 pm](https://cloud.githubusercontent.com/assets/1659198/19574424/3fbaf68a-96d8-11e6-9b39-b976915a642c.png)

[2016-10-20 19:40] arlin opened #241 "highlight feedback tab when selected"
Highlight label of active tab.  This works for "Help" (image) but not for "Feedback" (image). The "Feedback" text seems to be bold, but the tab isn't shaded.

![screen shot 2016-10-20 at 3 40 05 pm](https://cloud.githubusercontent.com/assets/1659198/19578287/109eb088-96e9-11e6-898f-8bfec0b55a65.png)

![screen shot 2016-10-20 at 3 39 55 pm](https://cloud.githubusercontent.com/assets/1659198/1957829

[2016-10-20 19:46] abusalehmdtayeen commented on #213
@arlin, title has been changed.

[2016-10-20 19:47] abusalehmdtayeen commented on #212
@arlin , title has been changed.

[2016-10-20 19:51] arlin commented on #212
better, but the italics disappeared. NodeName has to be distinct from "actions".

![screen shot 2016-10-20 at 3 49 51 pm](https://cloud.githubusercontent.com/assets/1659198/19575546/06a12b30-96dd-11e6-85c0-9bfc126c9980.png)

[2016-10-20 19:52] arlin commented on #213
same comment as for #212

[2016-10-20 20:17] ducvan0212 opened #242 "tree description sample"
Can you provide me some samples of tree description that can address issue raised by Karen: scientists want to know where the tree comes from.

[2016-10-20 20:45] #213 closed

[2016-10-20 20:45] #212 closed

[2016-10-20 20:46] #209 closed

[2016-10-20 20:54] arlin opened #243 "menu styling"

[2016-10-20 20:57] #225 closed

[2016-10-20 20:57] arlin commented on #225
this was removed in #212 and #213

[2016-10-20 21:01] #170 closed

[2016-10-20 21:01] arlin commented on #173
duplicated by #224

[2016-10-20 21:01] #173 closed

[2016-10-20 21:06] arlin commented on #239
internal branches also have 2 segments . i'm sure that this is a simple switch in ETE somewhere.  @jhcepas, can you help?

![screen shot 2016-10-20 at 5 03 37 pm](https://cloud.githubusercontent.com/assets/1659198/19577898/2d49fadc-96e7-11e6-92d1-475cabfc9824.png)

[2016-10-20 21:16] arlin commented on #224
this duplicates #174

[2016-10-21 18:12] arlin opened #244 "fix confusing routing"
Choose "Extract from web".  This typically takes 3 to 7 seconds.  The green progress banner fades away after only a few seconds, and then "Welcome" message & graphic reappears, and then the new list is loaded.

This is confusing.  Users think that their list has not been processed.  Here is how to fix.

1.  display the green banner until the new list loads
2.  change the text in the green banner:

[2016-10-21 18:18] arlin opened #245 "Refer to interface elements using italic label"
In all embedded documentation, use italics when invoking interface elements by their labels.  That is, the "Get tree" button is in plain font, but all references to "Get tree" in Help, float-overs, FAQ should use italics.  This helps the user to link instructions in the documentation with interface elements.

[2016-10-21 20:12] ducvan0212 commented on #236
Can you check again? It is weird because I remember I did include "New list" and "List actions" in that layout. I just pushed things to the dev server

[2016-10-21 20:17] ducvan0212 commented on #241
I forgot to highlight "Feedback" tab. I fixed this, Dr. Arlin.

[2016-10-21 20:22] arlin opened #246 "activate "Get tree" when user hits return button"
From the list view, choose "Get tree".  Enter a name in the box and press return.  Nothing happens.

Users expect that, when a dialog box requests text input, hitting the "return" button will close the dialog box and move ahead in the workflow.

Please fix this by activating Get tree when the user hits the "return" key.

[2016-10-21 20:24] arlin opened #247 "giant buttons in Safari"
This happened some time from the 19th to the 21st of October. Suddenly the buttons are huge in Safara 9.1.3 (OSX 10.9.5).

![screen shot 2016-10-21 at 2 50 30 pm](https://cloud.githubusercontent.com/assets/1659198/19610499/c74485da-97aa-11e6-82d9-611528e771ce.png)

[2016-10-21 21:02] ducvan0212 commented on #246
I made this change, Dr. Arlin.

[2016-10-21 21:03] ducvan0212 commented on #244
I made this change, Dr. Arlin.

[2016-10-21 21:40] arlin commented on #236
It works now.  thanks.  closing

[2016-10-21 21:40] #236 closed

[2016-10-21 22:04] arlin commented on #244
yes, this is much better!

[2016-10-22 02:49] arlin opened #248 "public list option bug"
I did not see the option to make the list public when uploading a DwC-A list.

However, one list failed, and when I clicked on the option to try again, I was given the option to share the list.

[2016-10-22 02:51] ducvan0212 commented on #248
You can find it after clicking on "Edit list/Edit name" button

[2016-10-24 11:52] hdliv commented on #243
i am not sure if this has been mentioned, but the titles of the buttons are not within the button boundaries

[2016-10-24 11:52] hdliv commented on #243
![screen shot 2016-10-24 at 07 50 10](https://cloud.githubusercontent.com/assets/6361361/19644622/d2c4a780-99be-11e6-9af8-9f9cec7a3701.png)

[2016-10-24 11:54] hdliv opened #249 "add link to DwC-A"
A naive user will have no idea what a Darwin cor archive is.  I think we should add a link here to DwC-A

[2016-10-24 15:20] arlin commented on #243
That's a fairly common thing that happens when the browser window is too narrow.

[2016-10-24 15:26] ducvan0212 commented on #243
@arlin I decreased padding so text inside button looks a little bit better. I tested to add background area for some menu parts but I think it looks worse. Would you like to see menus in grey background then decide to keep them or not?

[2016-10-24 16:40] hdliv commented on #186
for some reason the descriptions are not showing up when I add the public lists

[2016-10-25 18:15] jhcepas commented on #239
Hi guys, there are two solutions:
1. increase branch scale, so there is no need to use additional segments to
fit internal node text. For instance, find shortest branch in the tree, and
calculate the scale needed to, for instance, fit 30 pixels width. Then
apply the scale in TreeStyle. This would work if the difference between
largest and smallest branch in the tree is not big.
2. set extra_branch

[2016-10-25 19:01] hdliv opened #250 "Darwin Core file not uploading in :3001"
We are not able to upload a Darwin Core Archive in the development server.

This is a test use-case: phylotastic-portal/interactive_test/Extract_from_DCA/Archive.zip

[2016-10-25 19:49] arlin commented on #214
@ducvan0212, public tree list on production is still full of junk.  @hdliv and I did testing today and we identified this as a critical issue to fix.  New users will inspect this list hoping to find something useful to examine, and they will be confused or disappointed.  We don't want to confuse or disappoint new users.

1.  remove all of the trees currently in the Public Trees list on production

[2016-10-25 19:54] arlin opened #251 "welcome message missing on production"
The welcome message has disappeared on production.  This should appear in the center panel of List View (Home) whenever the user navigates back to Home.  I think it also should appear whenever the center panel would otherwise be empty.  For instance (and this may be the only instance), the center panel becomes empty when the user deletes the current list.

[2016-10-25 19:56] arlin opened #252 "failure to download taxon match report"
choose a list, choose taxon match report, choose save as PDF (or csv)

The results is an error "We're sorry but something went wrong". The error is the same for PDF or csv.

Fix taxon report download functionality.

[2016-10-25 19:58] arlin opened #253 "empty "My trees" list with no clue for user"
When user has no trees, the "My trees" pulldown reveals an empty box.  It would be more helpful if this box were to say something like "You don't have any trees yet" or "Your trees will appear in this list".

* new list: re-order items 1 Web, 2 Doc, 3 list, 4 taxon.

[2016-10-25 20:00] arlin opened #254 "Re-order New List menu items"
We want to put the easiest, most accessible options first, and the expert stuff last.

Re-order the "Make a new list menu" as follows:
1. web
1. doc
1. list
1. taxon

[2016-10-25 20:01] arlin opened #255 "pulldowns do not close as expected"
Select item from Public Trees, My trees pulldowns.  The pulldowns do not close as expected (OSX, Chrome).

Close pulldown when user selects an item.

[2016-10-25 20:03] arlin opened #256 "Download list dialog box does not close after execution"
Choose download list.  Enter name for file, press the save button.  List is downloaded, but box is still open.

Close box when save is activated.

[2016-10-25 20:04] arlin opened #257 "broken link (TreeBase)"
TreeBASE link in About page does not resolve.

Remove the link and its label.  We do not need this.

[2016-10-25 20:07] arlin opened #258 "internal FAQ link behavior"
The User guide on the Help page has an internal link to the FAQ item about species names.  The expected behavior would be that clicking on the link opens the accordion item on species names, and moves the focus to that item.  Currently the focus is moved but the accordion does not open.

Either rewrite the text to remove the link (just "see the FAQ item . . . " instead of a link), or fix the link

[2016-10-25 20:08] arlin opened #259 "fail: copy action in tree export"
In tree view, click export, then copy.  The tree is not copied to the clipboard.

Either remove this item (it isn't necessary as the tree can be selected and copied with the mouse), or make it work.  Removing redundant functions is always better.  Less is more.

[2016-10-25 20:08] arlin opened #260 "stray line above treeview controller"
There is a horizontal line above the treeview controller panel.  Remove it.

[2016-10-25 20:10] arlin commented on #241
When you fix something, move it to review, please.

[2016-10-25 20:13] arlin commented on #239
@abusalehmdtayeen,  I think the preferred solution is to use `tree.convert_to_ultrametric()`

[2016-10-25 20:20] arlin commented on #243
@hdliv, @ducvan0212, this ticket is just about the styling.  If you want to make a separate ticket to fix auto-sizing or wrapping, please do that.  Keeping separate issues separate makes us more efficient.

[2016-10-25 20:35] arlin commented on #186
@hdliv, the lists look good.  Thanks.  We were going to upload them with underscores in front to be sure that they sort to the top.  Do you think that is necessary?  I don't think so.   We are the only people making public lists right now, so it isn't as though this is going to fill up with junk that is out of our control.

If you decide that isn't necessary, then please move this ticket to review

[2016-10-25 21:12] ducvan0212 commented on #250
I checked and see this

=> {"status_code"=>204, "message"=>"List with ID 39 is not public. user_id must be list owner to access the list"}

Maybe there are some conflicts in list species development service. Can @abusalehmdtayeen take a look about this?

[2016-10-25 21:13] ducvan0212 commented on #249
So should I embed a wiki link to DwC-A? There is already a link to a template of how DwC-A list looks.

[2016-10-25 21:13] arlin commented on #250
we have seen some problems that *look like* the portal is getting confused about ids for list.  @hdliv uploaded a list and the list view was showing the metadata for a different list.

[2016-10-25 21:15] arlin commented on #249
how did this get into "Ready"?  I don't think this is a priority.  @ducvan0212 let's just stick to what is a priority for the soft release.

[2016-10-25 21:17] arlin commented on #251
This is strange.  I checked Safari and I can see the welcome message.

[2016-10-25 21:18] arlin commented on #251
Also, Firefox shows the welcome message.   Is this because I just started a session?  Is the welcome message on a timer?

[2016-10-25 21:19] ducvan0212 commented on #251
After you created a tree, I saved a variable in cookie to indicate that the welcome message should not be displayed.

[2016-10-25 21:23] ducvan0212 commented on #251
@arlin In #244, you said

don't show the welcome message & graphic after the user clicks "Get names".

So I guess in Chrome, you did created a tree but in Firefox, Safari, you have not created any tree.

[2016-10-25 21:28] ducvan0212 commented on #241
Because from my view, I did not see the review column so sometimes, after I add label to the ticket, it appeared in wrong column. Would you mind to check this ticket again? Thank you, Dr. @arlin.

[2016-10-25 21:30] ducvan0212 commented on #214
@arlin @hdliv  Would you mind if I reset database in production server?

[2016-10-25 21:31] arlin commented on #251
There is no contradiction here, if that is what you are implying.   When the user initiates an action, the user watches the app for feedback to understand what is happening.  If the user presses "Get names" and the app goes back to the welcome message, this tells the user "I totally forgot what you asked me, can we start again?"  If the welcome message is cleared away and a spinner appears, this t

[2016-10-25 21:38] arlin commented on #246
This does not work for me on dev.  I tested in Firefox, Chrome and Safari.

[2016-10-25 21:39] arlin commented on #254
I don't see any changes on this @ducvan0212.    Be sure to push to dev if you want us to test things.

[2016-10-25 21:39] #241 closed

[2016-10-25 21:55] abusalehmdtayeen commented on #250
@ducvan0212 , in my database the list with ID 39 is set as private. That means only the owner of the list can see the list, modify it or remove it. That is why you get that message. I don't see any conflict. Can you describe more about the scenario?

[2016-10-25 21:59] ducvan0212 commented on #250
I guess Dail submitted a DwC-A, the portal submitted the list to species list service. The list is public as it saved in the portal database but in species list service, it is marked as private list.

[2016-10-25 22:45] ducvan0212 commented on #260
@abusalehmdtayeen can you remove the this? This line is the pop up in ETE.

[2016-10-25 22:51] abusalehmdtayeen commented on #250
@ducvan0212 , I just checked this case by inserting a list through the list service API. It works. To make a list public, your service request must have a valid boolean value for the "is_list_public" property. Can you please check your end whether you are setting this property correctly when the user is trying to upload a list?

[2016-10-25 23:14] ducvan0212 commented on #259
I removed the copy part from the code, Dr. Arlin

[2016-10-25 23:15] ducvan0212 commented on #258
I write a piece of javascript so when you click on the link, the accordion will be opened.

[2016-10-25 23:17] ducvan0212 commented on #246
I made a typo that prevents the javascript code executes. I fixed my typo. Would you please check again? Thank you, Dr. Arlin

[2016-10-26 02:01] ducvan0212 commented on #250
@abusalehmdtayeen Can you check in species list service database to see if there are 2 records that have the same list_id 21?

[2016-10-26 02:08] ducvan0212 commented on #250
I saw in development database and see that some list_id returned from species service are duplicated.

There is a record in development database for list_id 21 which is created at 10/24/2016:

=> #<UploadedList id: 7, created_at: "2016-10-24 17:01:39", public: true, status: true, lid: 21, reason: nil, name: "Marine vs Terrestrial Mammals Lesson", description: nil>

Then somehow, Dail could create

[2016-10-26 02:18] ducvan0212 commented on #251
@arlin Thank you for clarifying this issue for me. The welcome message was brought back.

[2016-10-26 02:26] ducvan0212 commented on #254
I pushed this change to the server.  Would you mind to check it again?

[2016-10-26 02:30] ducvan0212 commented on #257
The link was removed, Dr. Arlin.

[2016-10-26 02:45] ducvan0212 commented on #256
After filling in the name of file, you now can press return to submit and the pop up will be closed automatically.

[2016-10-26 02:49] ducvan0212 commented on #255
@arlin I made the dropdown closed right after user select a tree.

[2016-10-26 02:51] abusalehmdtayeen commented on #250
@ducvan0212 , I checked. There is only one record with list_id 21. Duplicate list_id is not possible. The list_id always increment whenever a new list is created. May be the the list information is the same if it is pushed two times to the species service by the same user. Since title of a list can not be used as unique, my only unique id is list_id.

[2016-10-26 03:04] ducvan0212 commented on #253
@arlin I provided a text in the empty box when users do not have any tree.

[2016-10-26 03:27] ducvan0212 commented on #252
@arlin I fixed this issue

[2016-10-26 13:23] ducvan0212 commented on #250
Can you check the content of list 21 in production species list service?

[2016-10-26 15:46] arlin commented on #214
I don’t mind

On Oct 25, 2016, at 5:30 PM, ndvan <notifications@github.com> wrote:

------------
Arlin Stoltzfus (arlin@umd.edu)
Research Biologist, NIST; Fellow, IBBR; Adj. Assoc. Prof., UMCP
IBBR, 9600 Gudelsky Drive, Rockville, MD, 20850
tel: 240 314 6208; web: www.molevol.org

[2016-10-26 15:54] arlin commented on #259
thanks.  closing.

[2016-10-26 15:54] #259 closed

[2016-10-26 15:55] arlin commented on #258
Nice, thanks.

[2016-10-26 15:55] #258 closed

[2016-10-26 15:56] arlin commented on #257
thanks.

[2016-10-26 15:56] #257 closed

[2016-10-26 15:57] arlin commented on #256
thanks, that fixes it.

[2016-10-26 15:57] #256 closed

[2016-10-26 16:03] arlin commented on #255
@ducvan0212 , I can't test this until #214 is fixed, because there is no way to put anything into public trees, apparently.

[2016-10-26 16:04] arlin commented on #253
good, thanks

[2016-10-26 16:04] #253 closed

[2016-10-26 16:04] #244 closed

[2016-10-26 16:06] arlin commented on #246
OK, good.  Thanks.

[2016-10-26 16:06] #246 closed

[2016-10-26 16:06] arlin commented on #251
good, very good.  I think we are almost ready to release.

[2016-10-26 16:07] #251 closed

[2016-10-26 16:07] arlin commented on #254
Yes, good.

[2016-10-26 16:07] #254 closed

[2016-10-26 16:07] arlin commented on #208
we are testing IE today.

[2016-10-26 16:11] arlin commented on #252
OK, download works, but I noticed a problem with the csv formatting.  I will post that as a separate issue.

I like seeing the phylotastic logo into the PDF!  it looks good.

[2016-10-26 16:11] #252 closed

[2016-10-26 16:12] ducvan0212 commented on #255
After creating a tree, you can publish it by opening 'Tree Settings' and tick on Public: true.
<img width="334" alt="screen shot 2016-10-26 at 10 11 41 am" src="https://cloud.githubusercontent.com/assets/1614884/19734405/a4a5c7f6-9b64-11e6-8e26-c9ee7f3f723a.png">

[2016-10-26 16:14] arlin opened #261 "fix csv format of taxon report"
Choose taxon matching, then save as csv.  The file looks like this:

`#,Query,Matched Name,Match,Synonyms

  1,equus caballus,Equus caballus,Exact,Equus caballus | Equus przewalskii forma caballus | Equus przewalskii f. caballus | Equus ferus caballus

  2,mirounga leonina,Mirounga leonina,Exact,Phoca leonina | Phoca proboscidea | Mirounga leonina
`
1. Remove blank lines between rows
1. Remove the

[2016-10-26 16:22] hdliv commented on #250
I am able to upload now

[2016-10-26 16:24] arlin opened #262 "fail: country pull-down in choose-from-taxon"
The country list pull-down has broken.  It is working on production, but not on dev.

As seen in the picture, no default value is showing.  When I click on the pull-down to see the list, nothing happens (no viewable list).

action:
* fix so that the pull-down works as expected
* make the default "United States"

[2016-10-26 16:25] #250 closed

[2016-10-26 16:26] hdliv opened #263 "allowing list to be public"
The ability to make a list public is now under edit name.  This needs to be moved to the page where we upload the darwin core file, where the user can then choose if they want the list to public or not

[2016-10-26 16:27] hdliv commented on #186
i dont think it is necessary.  we might just add one more example of edible seaweeds, but I will close this issue since we already have nice examples

[2016-10-26 16:28] arlin commented on #237
@ducvan0212 , are you attempting to detect and fix a missing "http://"?  Or is it just the message.  I will close this if you are only doing the message.  However, I tried a URL missing the prefix and it doesn't work.

[2016-10-26 16:29] arlin commented on #186
OK, I'm closing this.  Good work @hdliv

[2016-10-26 16:29] #186 closed

[2016-10-26 16:30] arlin commented on #255
I'm not seeing that.  I think you might need to push it to dev.

[2016-10-26 16:32] arlin commented on #255
However, someone added a public tree named "Fox" and I verified that the pull-down is working as expected.  So this is closed.

[2016-10-26 16:32] #255 closed

[2016-10-26 16:37] hdliv opened #264 "line breaks incompatibilty"
When a list is downloaded in IE, all the names come out in 1 line.  Do we auto-detect windows and use PC-style line endings?

[2016-10-26 16:51] arlin opened #265 "tree view failure on production"
Somehow the tree is not being displayed in Tree View.  The "Export as" menu item is not loading either.  This suggests a database or other problem, rather than a problem with the ETE plugin. In the past, when the plugin failed, we could still get the Newick tree from "Export as".

<img width="919" alt="screen shot 2016-10-26 at 12 48 52 pm" src="https://cloud.githubusercontent.com/assets/1659198/1

[2016-10-26 16:55] arlin commented on #235
when we get access, this will take some of the burden off of @ducvan0212, because @hdliv and I can work on all the tedious things like embedded documentation.  We also might want to hire an undergrad over here to work on GUI stuff.

[2016-10-26 16:59] arlin commented on #142
we think this was fixed by #216

[2016-10-26 17:03] arlin commented on #265
@ducvan0212, I just found out that this is only for *anonymous* users.  For logged-in users, the tree is displayed. So, obviously this is something about sessions or permissions.

[2016-10-26 18:26] ducvan0212 commented on #262
@arlin After I reset the database in dev server, I forgot to re-insert the country list to the database. Now the country list is back on the dev server.

[2016-10-26 18:31] ducvan0212 commented on #255
@arlin You can only see the "Tree settings" button when you are the owner of the tree. Would you please create a new tree and see that whether the button is in tree viewer?

[2016-10-26 18:34] ducvan0212 commented on #264
I guess it is because of Windows uses different new line characters.

http://stackoverflow.com/questions/3720612/what-is-the-universal-newline-for-all-operating-systems-lf-and-cr

[2016-10-26 18:41] arlin commented on #262
ok, good.

[2016-10-26 18:41] #262 closed

[2016-10-26 18:43] arlin commented on #208
We have tested all 4 browsers.  We did a quick job with IE and did not go into great detail, because things seem to be working just fine.  The only issue was with the usual PC-Mac-UN*X line-ending incompatibility .

[2016-10-26 18:43] #208 closed

[2016-10-26 18:55] ducvan0212 commented on #263
<img width="672" alt="screen shot 2016-10-26 at 12 52 57 pm" src="https://cloud.githubusercontent.com/assets/1614884/19740281/618aec8c-9b7b-11e6-9e65-b46a152afef9.png">

I added a line in DwC-A form so if users want to publish their list, they have to tick on the checkbox.

[2016-10-26 20:52] ducvan0212 commented on #261
The CSV file is already generated by CSV library. I opened the file in excel and it is rendered with no new line between every 2 rows.

I removed the id column and enclose the synonyms column as you said, Dr. Arlin.

[2016-10-26 20:55] ducvan0212 commented on #234
I inputted Equus in taxon workflow. I did not tick on any checkbox for country, ncbi or number of species. After that, I tried to get tree but the tree can not be extracted from opentree.

[2016-10-26 21:47] ducvan0212 commented on #265
The tree did not load because of my typo. I did realize that and fixed it but I only pushed the patch to dev server.

[2016-10-27 12:29] hdliv commented on #263
Wonderful.  tried it out and working :)  closing this ticket

[2016-10-27 12:29] #263 closed

[2016-10-27 12:31] hdliv commented on #214
that is fine with me

[2016-10-27 14:21] arlin commented on #146
@abusalehmdtayeen, @ducvan0212, where are we on this?

[2016-10-27 14:21] arlin commented on #214
OK, list has been cleaned out.  I'm closing this.  Now, let's try to get 2 or 3 usable trees in there.

[2016-10-27 14:21] #214 closed

[2016-10-27 14:23] arlin commented on #265
@ducvan0212 , why not just test your code?  This is standard practice in the programming world.

[2016-10-27 14:23] #265 closed

[2016-10-27 14:24] arlin commented on #263
Good.  In the future, we may want to clarify this ("Make this a public list" would be clearer than "Allow others to watch").

[2016-10-27 14:34] arlin opened #266 "restrict size of tree request"
Currently, trees > 1000 take too long.  We don't want people to bog down the system with large requests.  So, we should just tell users when their requests are too large.

@hdliv, can you do the first 2 steps?   Then when you have figured out P, pass this on to Van.

1. Determine L = OpenTree limit on induced subtree requests
2. Find out P = maximum practical subtree request up to L without timing

[2016-10-27 16:36] abusalehmdtayeen commented on #146
@arlin , I am working on a new improved design of our tree viewer service which will allow some new features including the feature loading all thumbnails together. Van and I are planning to deploy it in the development server next week so that you can test.

[2016-10-27 20:13] ducvan0212 opened #267 "google analytics integration"

[2016-10-27 21:16] arlin opened #268 "filter list by rank: research issue"
User BS writes "In the search results where one selects which matches to use for the tree, it would be nice to separate out Latin binomials from the higher taxa. E.g., it would be nice to be able to select all families (-idae), all orders (-iformes) or all Genus/species pairings."

We can get the rank from OTT results (rank = Phylum, Class, Order, Family, Genus, Species).

I think the typical use-

[2016-10-27 21:18] hdliv commented on #193
@ducvan0212 we need to discuss this

[2016-10-27 21:20] ducvan0212 commented on #193
@hdliv I am ready

[2016-10-27 21:23] hdliv commented on #268
@arlin I agree with BS.  This was actually similar to an issue I brought up in one of our meetings when I was talking about everything that is scraped from a web or paper.  We should talk to OT about this.  @bomeara maybe you have a suggestion

[2016-10-27 21:31] hdliv commented on #215
@arlin I think people usually go to 'Help' as last resort if they are not able to figure portals alone

We can ask those that are looking at the webportal in this initial release to see what they think

[2016-10-28 13:54] hdliv commented on #266
right now, seems like no limit for induced subtree.  straight up  max for subtree is 100k.  I spoke to @josephwb about this.

[2016-10-28 14:32] arlin commented on #266
@hdliv, I would suggest to test the timing at the level of our web-service wrapper for OT.  Get 100K valid OT ids and check in that list as test data somewhere (in web services repo).  Create random subsets of names on a log scale, e.g., 300, 900, 2700, 8100, 24300, 72900 to test the timings.  Plot out the results.  Then make a decision with Van and Abu about what is practical for the portal, e.g.

[2016-10-28 14:37] josephwb commented on #266
FWIW a complete subtree of 100K tips (i.e. evaluating only a single id) apparently takes [40 seconds](https://github.com/OpenTreeOfLife/treemachine/blob/master/src/main/java/opentree/plugins/tree_of_life_v3.java#L591) from Open Tree itself. I imagine induced trees will take _much_ longer.

[2016-10-28 14:42] arlin commented on #266
thanks @josephwb

[2016-10-28 21:59] arlin commented on #146
@abusalehmdtayeen, I will be very excited to see that!

[2016-11-02 16:06] hdliv commented on #122
@ducvan0212 is this finished for now?

[2016-11-02 18:15] hdliv opened #269 "Web form"
User JH comments: " I would have thought you would have the option of entering species into a webform rather than having to make a text file and uploading the species names"

Is this something we find interesting?

@arlin

[2016-11-02 18:18] hdliv commented on #266
up to ± 14k works for scraping, but gives an error on tree return.  I have been able to get a 4070 tip tree, but when I tryt 5416 -- there is an error with the tree:

An unhandled lowlevel error occurred. The application logs may have details.

[2016-11-02 18:37] arlin opened #270 "List view: show common name if available"
Users would like to see common names.  Eventually we may be able to provide common names for all lists.  However, let's begin by making common names visible when they are provided in the "vernacularName" column of a public list.

To do:
* If the list has a non-empty "vernacularName" attribute, show this in List view

[2016-11-02 18:40] arlin opened #271 "Tree view: show common names when available"
Users would like to see common names.  Eventually we may be able to provide common names for all tree tips.  However, let's begin by making common names visible when they are provided in the "vernacularName" column of a public list used to make a tree.

To do:
* When a tree is created from a list, ingest all the row information for the species in the tree, and store that in a way accessible to the

[2016-11-02 23:28] abusalehmdtayeen commented on #182
@arlin @hdliv  This feature is complete in dev server. Now user will be able to save the last state of the tree and load it again in the same state after he moved on to a different tree.

[2016-11-02 23:31] abusalehmdtayeen commented on #146
@arlin @hdliv , user can now change pictures of tips and also load all images at once. This feature is done in dev server. Right now this feature will only work after you login to the portal.

[2016-11-02 23:57] arlin commented on #182
thanks, this is great functionality @abusalehmdtayeen !   we need to rethink the UI choices however.  i think the user is going to expect that tree state will be saved by default and loaded again by default.  Probably the only option we need is a "remove customizations" button in case the user wants to return the tree to its unadorned state.

Anyway, let's talk about it tomorrow.  Good work.

[2016-11-03 00:00] arlin commented on #146
thanks, this is great!  I will test this and the save-annotations feature tomorrow.

[2016-11-03 11:32] hdliv commented on #146
Just tried it out and it is great

[2016-11-03 11:37] hdliv commented on #182
@abusalehmdtayeen this is fantastic!

[2016-11-03 11:40] hdliv commented on #193
@ducvan0212 .   @arlin and I will go over a suggestion to show all metadata, and come back to you

[2016-11-03 11:42] hdliv commented on #270
This was an initial request from those interviewed and a request from JH and KM after they tested the portal this weekend.

[2016-11-03 11:44] hdliv commented on #138
@abusalehmdtayeen I will move this over to In review.  Great

[2016-11-03 11:45] #138 closed

[2016-11-03 12:32] hdliv opened #272 "Tree found but not returned"
After 4 mins, this list still did not return a tree, though it was processing.  Can we figure out why?

to replicate: use the list provided.
   * click Upload my list
      * I have a text file with one name per line
   * click Get tree

[2016-11-03 12:33] hdliv commented on #272
[2972_tips.txt](https://github.com/phylotastic/phylotastic-portal/files/568914/2972_tips.txt)

[2016-11-03 12:39] ducvan0212 commented on #272
What is the name of the list you store in the dev server?

[2016-11-03 12:40] hdliv commented on #272
I tried this on :3000 not :3001

[2016-11-03 12:41] hdliv commented on #272
this was on :3000   test 3

[2016-11-03 12:50] ducvan0212 commented on #272
@hdliv
- I checked and your tree is extracted and is available in database. What do you mean "this list still did not return a tree"? Can you give me more details?
- I submitted your test file and I got the tree but it could not be display because the tree visualization in production seems to be down.

@abusalehmdtayeen can you turn it back on?

[2016-11-03 12:51] hdliv commented on #272
I meant that it is not visible.

[2016-11-03 12:52] hdliv commented on #272
the trees >4000 tips return this: An unhandled lowlevel error occurred. The application logs may have details.

[2016-11-03 12:52] ducvan0212 commented on #272
Can you give me the 4000 tip list?

[2016-11-03 12:52] hdliv opened #273 "Unhandled large trees"
Large trees >4000 tips return:

An unhandled lowlevel error occurred. The application logs may have details.

[2016-11-03 12:53] hdliv commented on #272
i made a new issue for this

[2016-11-03 12:55] hdliv commented on #273
[test.txt](https://github.com/phylotastic/phylotastic-portal/files/568956/test.txt)

[2016-11-03 13:00] ducvan0212 commented on #273
When did the error show up? After a long waiting time or immediately after you pressed "Get tree"?

[2016-11-03 13:00] ducvan0212 commented on #273
I still get the tree.

[2016-11-03 13:02] hdliv commented on #273
![screen shot 2016-11-03 at 09 02 00](https://cloud.githubusercontent.com/assets/6361361/19966897/385f463a-a1a4-11e6-829c-c5480d980e87.png)

[2016-11-03 13:03] hdliv commented on #273
[sibley.txt](https://github.com/phylotastic/phylotastic-portal/files/568991/sibley.txt)

i get this error within 4 secs

[2016-11-03 13:06] hdliv commented on #272
![screen shot 2016-11-03 at 08 28 42](https://cloud.githubusercontent.com/assets/6361361/19967018/ce8c6868-a1a4-11e6-9930-5580fb020ef7.png)

I meant htat this never went away after progress bar finished

[2016-11-03 13:08] hdliv opened #274 "large trees do not display fully"

[2016-11-03 13:09] ducvan0212 commented on #272
Have you tried it on dev? The tree visualization in production was turned off.

[2016-11-03 13:10] hdliv commented on #272
![screen shot 2016-11-03 at 09 10 29](https://cloud.githubusercontent.com/assets/6361361/19967145/65c6affe-a1a5-11e6-9951-44f5b300a7d5.png)

[2016-11-03 13:12] ducvan0212 commented on #272
Because the tree content is too big. Wait a second. I made a config to increase parameter size for our server.

[2016-11-03 13:13] hdliv commented on #272
now i get this:
![screen shot 2016-11-03 at 09 13 11](https://cloud.githubusercontent.com/assets/6361361/19967223/c70b73b2-a1a5-11e6-95c9-cfb6625e68ef.png)

[2016-11-03 13:14] ducvan0212 commented on #272
I turned off to reconfig.

[2016-11-03 13:15] hdliv commented on #266
these are some results.
![test_timing](https://cloud.githubusercontent.com/assets/6361361/19967284/0945bdaa-a1a6-11e6-9fbf-3b5a91a516e1.png)

[2016-11-03 13:15] hdliv commented on #266
@ducvan021 this is what I have found so far as to size requests.  the larger trees are not returned

[2016-11-03 13:18] hdliv commented on #274
![screen shot 2016-10-28 at 12 50 03](https://cloud.githubusercontent.com/assets/6361361/19967419/7ef93d38-a1a6-11e6-8ce9-f407c212e011.png)

this is what I get for large trees.  I will wait for the tree viewer to be turned back on to send you the lists I have used

[2016-11-03 13:22] hdliv opened #275 "Add new view ToL to OT curator"
Add the data from the journal club paper to OT

[2016-11-03 13:23] hdliv commented on #275
[Hug_etal_tol_2016.pdf](https://github.com/phylotastic/phylotastic-portal/files/569045/Hug_etal_tol_2016.pdf)

[2016-11-03 13:28] ducvan0212 commented on #272
This is what I received in my end. The tree is too large to be extracted.

`Timed out reading data from server`

[2016-11-03 13:41] epontell commented on #269
how difficult would it be to just have a form that generates the text file to be fed to the next step?

[2016-11-03 13:49] bomeara opened #276 "Deal with firewall at NMSU"
Right now we have to direct users to port 3000. This has been an issue for @mtholder in the past, and we have no guarantee NMSU won't block the port, esp if we get load. @dimus is creating a cloud for some of his other work, run using Kubernectes, could potentially put phylotastic portal there.

[2016-11-03 13:49] ducvan0212 commented on #266
There are 3 problems here
- If the tree is big, the tree content exceed the default request size of the portal server => you get "low level unhandle error". I increase default value in dev server so the request size can be bigger now.
- If the tree is too big, the request from extracting tree service to portal will be time out => you will see a popup whose content is "Tree failed to be extracted"

[2016-11-03 14:11] #275 closed

[2016-11-03 14:12] arlin commented on #269
@epontell, that would probably be relatively easy.  However, we have an opportunity to create links with existing technology provided by others.  GBIF has a DwC-A assistant.  I don't know how good it is. See http://tools.gbif.org/dwca-assistant/ .  If this is really good, then in principle we could send users to GBIF where they could make, not just a list, but a list that includes author, date, de

[2016-11-03 14:17] arlin commented on #266
great work, @hdliv .  @abusalehmdtayeen, @ducvan0212, let's talk about this at our meeting this afternoon.  I would suggest the following behavior:
* up to 400 names: return tree, no change from current behavior
* 400 to 4000 names: show alert with cancel button "Retrieving tree (estimated time x)" where x = 0.006 * listsize
* > 4000: "We're sorry!  We don't have the capacity to process trees of t

[2016-11-03 15:15] ducvan0212 commented on #270
@arlin  @hdliv The `common name` column is now available in list view in dev server.

[2016-11-03 15:16] ducvan0212 commented on #271
@abusalehmdtayeen I think we need to co-operate to resolve this issue

[2016-11-03 15:17] ducvan0212 commented on #260
We worked on this, Dr. @arlin

[2016-11-03 15:27] ducvan0212 commented on #237
<img width="668" alt="screen shot 2016-11-03 at 9 24 03 am" src="https://cloud.githubusercontent.com/assets/1614884/19972338/58491db0-a1a7-11e6-976a-01258dc90965.png">

Because the prefix maybe https or http so we dont know which one will work for url provided. I think it is better to let user copy and then paste the link to portal.

[2016-11-03 15:52] hdliv commented on #270
great-- took a look

[2016-11-03 16:09] arlin opened #277 "list corruption in portal"
Two species names from a previous bird list--  Aix sponsa and Anas strepera-- are now shown in the Finding Nemo list.  They don't belong there.

Find out how the list got corrupted, and fix that.

[2016-11-03 16:15] ducvan0212 commented on #277
I received this from list service.

=> {"status_code"=>200,
 "message"=>"Success",
 "list"=>
  {"list_species"=>
    [{"family"=>"",
      "scientific_name"=>"Aix sponsa",
      "scientific_name_authorship"=>"",
      "class"=>nil,
      "vernacular_name"=>"Wood Duck",
      "phylum"=>"",
      "nomenclature_code"=>"ICZN",
      "order"=>"Anseriformes"},
     {"family"=>"",
      "scientific_name"

[2016-11-03 16:20] arlin commented on #146
Go to the dev portal.  Select the "Finding Nemo" list and get a tree. Load all images.  The image for Lysmata amboinensis (cleaner shrimp) is not too good-- mostly it shows a moray eel.

I tried to change the photo, but nothing seems to change.  When I check EOL, I can see that there is another image that is better.  Why can't I access that other image?
There is another image at EOL.

http://eol.o

[2016-11-03 16:25] arlin commented on #277
Those two species are not in the DwC-A file.  I will put the sources in a repo somewhere.  @hdliv and @abusalehmdtayeen, is it possible that someone used the web services API to change the contents of the listserver,  perhaps by accident?

[2016-11-03 16:35] arlin commented on #277
Also, I just uploaded another list to *production* (because dev was down) and THESE SAME TWO SPECIES appeared in my new list, even though they weren't in the file.  Because this happened immediately with a list that was not present before, we know that this is not due to an accidental edit by someone using the web service interface to the list server.  Instead, either the list server or the portal

[2016-11-03 17:12] ducvan0212 commented on #277
I found the problem. After user submitted .zip file, this file is stored in the server. But the location used to store the file is not clean because the database reset command did not fully delete files in file location. This makes background job processes both old and new files.

Next time, if I have to do a database reset, I should delete file location folder manually.

[2016-11-03 18:32] abusalehmdtayeen commented on #146
@arlin, The initial image actually changes to your desired image after performing the change picture action couple of times. There are two issues here.
1. I noticed that EOL has some duplicate images. But I have no way to distinguish them because they have different dataObject  Identifiers. So when you click on change picture it is actually showing a different dataObject, but the picture is the sa

[2016-11-03 19:02] arlin commented on #146
@abusalehmdtayeen thanks.  I noticed that, too.  I think you did exactly the right thing.

[2016-11-03 19:02] arlin commented on #270
Thanks, good job @ducvan0212

[2016-11-03 19:02] #270 closed

[2016-11-04 13:04] hdliv commented on #266
@arlin @abusalehmdtayeen @ducvan0212   I updated the graph since now I could get a tree with more tips.

[2016-11-04 13:04] hdliv commented on #266
![untitled](https://cloud.githubusercontent.com/assets/6361361/20006406/bd28ea0a-a26d-11e6-8d54-8d847283d338.png)

[2016-11-04 15:35] abusalehmdtayeen commented on #266
@hdliv, can you email me all the test cases that you used to create this graph?

[2016-11-07 15:01] hdliv commented on #227
1. Implemented
2. Implemented
6. now *load all images*

[2016-11-07 15:16] hdliv commented on #227
closing

[2016-11-07 15:16] #227 closed

[2016-11-07 16:25] arlin opened #278 "public list clean-up on production"
remove the following:
* "_Jungle book"
* "Official list of the birds  ..."
* "My bird list"
* "Top 40 .."

Add the top 20 list instead.  That one is better.

[2016-11-07 16:34] hdliv commented on #278
@arlin i cant remove lists that arent mine

[2016-11-07 16:35] hdliv commented on #278
and the official i also cant remove

[2016-11-07 17:05] arlin commented on #278
managing the public lists is a requirement and it is our responsibility.  let's get together later today to figure out how to do it. if we can't do it, then we will have to work with @abusalehmdtayeen to change the list server API so that it satisfies our requirement.

[2016-11-07 17:13] hdliv commented on #278
i have had @ducvan0212 remove lists earlier that I had no access.

[2016-11-07 17:14] hdliv commented on #278
@arlin if the jubgle book is your list and the 40 species are yours too.  then you can remove them

[2016-11-07 17:16] arlin commented on #278
let's get together later today to figure out how to do it.  i'll stop by your cubicle at 2:00 pm.

[2016-11-07 18:13] ducvan0212 commented on #278
@arlin For now, Abu hides owner's identity in public list response so the portal can not check to enable user edition. There are 2 workarounds:
- Use API to edit list
- I update list records in portal database so you can edit the public list through portal interface.

[2016-11-07 19:49] arlin opened #279 "portal logs out users too aggressively"
I'm constantly getting logged out of the portal.  It seems that if I just change tabs and come back, I have to log in again.  The user should stay logged in for at least an hour unless they actually close the window.

[2016-11-07 20:18] ducvan0212 commented on #279
@arlin I use 2 different google applications for production and dev portal so if you sign in production then open dev in new tab, the cookie in dev which is for anonymous user overrides cookie in production.

I dont think a credential shared between both dev and production is a good idea so please open dev and production in different browsers if you want to interact with both of them at a time. I

[2016-11-07 20:33] abusalehmdtayeen commented on #278
I hide the user_id which is the gmail address of a owner of a  public list from the results because I think some users may not be comfortable to make the email address publicly visible. If that is not an issue, I can add the user_id to the result and @ducvan0212  can create an option in the portal interface to edit the list.

[2016-11-08 01:14] arlin opened #280 "add list of planned features to "About""
Scheduled for 2016 Q4:
* save tree-view customizations
* load all species pics
* tree metadata incl. supporting phylogenetic studies

Scheduled for 2017 Q1:
* discovery and display of common names

Scheduled for 2017 Q2:
* export tree with all metadata and customization

[2016-11-08 01:29] arlin opened #281 "redesign layout and menus"
Currently some aspects of the layout, menus, and styling could be improved.

Redesign List view and Tree view
* make the two views as similar as possible
* separate tree-rendering from tree operations
   * save treeview is a rendering operation; save tree is a tree operation
   * make a visual container that connects the viewer control strip with the tree view
* add metadata tab to trees
* always

[2016-11-08 01:31] arlin commented on #281
@ducvan0212, we are in the process of working on a redesign.  Some of this is going back to our original Lumzy design.   Please spend a few minutes reading these 3 design resources about pull-down menus and interface design:
* https://www.smashingmagazine.com/2009/03/designing-drop-down-menus-examples-and-best-practices/
* https://www.nngroup.com/articles/menu-design/
* https://developercenter.vmw

[2016-11-10 18:45] hdliv opened #282 "Tree generated, displayed and cut-off"
Large trees (1500+ tips) are displayed but cut-off in the viewer.

[2016-11-10 18:47] hdliv opened #283 "Large trees generated but not displayed"
Large trees (more than 4600):  the tree image is generated but not displayed

[2016-11-10 18:48] hdliv opened #284 "Large trees act differently in different browsers"
Abu and I were testing different large trees and we found that the 'largeness' of the tree is browser-specific as to the display.

[2016-11-15 16:52] hdliv commented on #284
@abusalehmdtayeen should I move this to 'in progress'?

[2016-11-15 16:53] hdliv commented on #283
@abusalehmdtayeen should I move this to 'in progress'?

[2016-11-15 16:53] hdliv commented on #274
@ducvan0212  should I move this to 'in progress'?

[2016-11-15 16:54] hdliv commented on #260
i am closing this.  We are now having a redesign

[2016-11-15 16:55] #260 closed

[2016-11-15 16:58] arlin commented on #260
why close this @hdliv?  Has the stray line disappeared?

[2016-11-15 17:00] hdliv commented on #260
With the redesign, I dont think it is pertinent.  We will have to focus on issues then

[2016-11-28 14:00] hdliv opened #285 ":3000 page freezing / no response"
I am have problems when I click **Choose Taxon** and enter Rubiaceae.  When I click on the list to get a tree, it freezes up on me

[2016-11-28 14:15] hdliv commented on #283
Hi Abu.  I sent the lists to view on gitter

[2016-11-28 14:16] hdliv commented on #282
i sent to @abusalehmdtayeen through gitter.  @ducvan0212 do you also want them?

[2016-11-28 14:17] hdliv commented on #281
@ducvan0212 let me know where I can help you with this

[2016-11-28 14:18] hdliv commented on #285
@ducvan0212 maybe this is related to #273

[2016-11-28 14:18] hdliv commented on #266
@abusalehmdtayeen did you receive these by email last week?

[2016-11-28 14:19] hdliv commented on #274
#282 is the same issue as this.  Moving this to Done.

[2016-11-28 16:22] ducvan0212 commented on #282
@hdliv Can you also sent to me? Thank you.

[2016-11-28 16:39] hdliv commented on #282
@ducvan0212 OK. sent

[2016-12-01 16:46] arlin opened #286 "explore buddy suite"
This software package (Python):

https://github.com/biologyguy/BuddySuite/wiki

has over 100 tools, fully documented
in wiki format (with usage examples and a detailed explanation of all arguments).

this might be a good source of shim service operations for a phylotastic system.

[2016-12-01 16:47] arlin opened #287 "automated UI testing"
I have a colleague at NIST who would be happy to talk to us about this.  Here is some information that he passes along:

Cucumber :  https://cucumber.io  and a list of available docs (including instructions) ishttps://cucumber.io/docs
  is actually the framework, the language is Gherkin:
https://github.com/cucumber/cucumber/wiki/Gherkin

For a fun way to experiment, here’s a minimal version that c

[2016-12-01 16:48] arlin commented on #279
OK, I understand what is happening.  This issue will not affect most users because they will not be going back and forth between production and dev.  I will assign this to wontfix

[2016-12-01 16:49] arlin commented on #278
@hdliv, let's sit down and do this some time soon.  @abusalehmdtayeen says " please follow the steps in https://github.com/phylotastic/phylo_services_docs/blob/master/SpeciesListServer/Dev_SpeciesListServicesDescription.md#how-to-get-access-token-to-use-in-species-list-web-services to get a token."

[2016-12-01 16:52] hdliv commented on #278
@arlin I still get an error with this.  How about you?

[2016-12-01 17:15] abusalehmdtayeen commented on #272
@hdliv , for the list with 2972 taxons, I checked that a newick tree is obtained from OpenTree, but the tree image generated by ETE is too large to view in a browser. The image size is about 6.4MB.

[2016-12-01 17:21] abusalehmdtayeen commented on #283
@hdliv , the main reason of not displaying the tree is that the tree image generated by ETE is too large to be shown in a browser. Usually if the number of taxons in a list is more than 1000 the image file size exceeds 3 MB. I think it is better if we restrict the users to use lists with maximum size 1000.

[2016-12-01 17:27] abusalehmdtayeen commented on #282
@hdliv , I could not found any solid reason for the cut-off. But I am guessing it is because of the large image size. The sample list you gave me generates image file with size 3.4 MB. Some browsers like Mozilla will completely fail to display it and some browsers like Chrome will display it partially.
@ducvan0212, have you found anything on this issue?

[2016-12-01 19:09] abusalehmdtayeen commented on #278
@hdliv , are you getting error retrieving the token or deleting a list?

[2016-12-06 20:51] arlin commented on #286
see also http://bioinfweb.info/JPhyloIO/

[2016-12-08 15:52] hdliv commented on #272
great @abusalehmdtayeen now we know.  We just will need to make sure we limit the amount of taxa from the user

[2016-12-08 15:52] hdliv commented on #272
closing the issue

[2016-12-08 15:53] #272 closed

[2016-12-08 15:53] hdliv commented on #283
@abusalehmdtayeen I agree with the restriction to 1000.  what about you @arlin ?  moving to in review

[2016-12-08 15:55] hdliv commented on #285
there is no problem anymore so moving over to done

[2016-12-08 15:55] #285 closed

[2016-12-08 15:56] hdliv commented on #282
@abusalehmdtayeen can I close this issue?

[2016-12-08 15:56] hdliv commented on #266
@abusalehmdtayeen are you still working on this issue?

[2016-12-08 16:43] arlin commented on #283
yes, this should be closed, but we need to implement #266.  This includes 1. detecting size of request, 2. imposing limits and 3. informing the user what is happening and what the limits are (so that the user is not confused).  if there is any question about how to implement this @ducvan0212, please ask in the thread for #266

[2016-12-08 20:51] arlin commented on #122
@ducvan0212 see phylotastic/phylotastic#145 for links to the draft metadata model.  @hdliv can work with you on implementing this in the portal.

[2016-12-09 15:12] hdliv commented on #141
@ducvan0212 we dont have a method to resolve this right now.  I will close the issue and if this is important down the road -- a new issue can be created

[2016-12-09 15:12] #141 closed

[2016-12-09 15:56] arlin commented on #141
@hdliv, IMHO this means that the issue goes back on the back-log.  The only things that go into "closed" are fixed, duplicates, and wontfix.

[2016-12-09 16:11] hdliv commented on #141
I dont know IMHO.  However, I closed it as a wontfix.

[2016-12-20 16:37] hdliv commented on #242
@arlin Is this the same as the 'supporting studies' metadata we are planning to add?

[2016-12-20 16:45] arlin commented on #242
how did this ticket get opened?  yes, it's a duplicate.

[2016-12-21 19:38] #55 closed

[2016-12-21 19:40] #215 closed

[2017-02-15 20:27] arlin opened #288 "match name fails due to trailing whitespace"
If a taxon name has a space after it, the search will fail.

Strip out whitespace from before and after, before searching on a name.

Optionally, suggest to OpenTree that they should do clean their inputs in the same way.

[2017-02-15 20:51] arlin opened #289 "italicize binomials"
The convention in scientific writing is to italicize binomials, i.e., _Genus species_.  Families may also be italicized.  Higher taxa usually are not italicized.

Italicize binomials in the List view and the Tree view.

If this is difficult to do without italicizing ALL taxon names, then just italicize ALL taxon names.  Mistakenly italicizing names of orders or classes  is a very minor issue.

[2017-02-15 21:10] arlin opened #290 "link to OT study"
Currently the studies in "Supporting studies" (metadata tab of Tree view) are links to publications.  That is good, but it is probably more important to have the link to the study in OpenTree.  The study record in OpenTree has all the curated trees from each study, and indicates which trees were used in synthesis.

Add a link to the OT study.

Here is one way to do it:
* tiny tree icon with float-

[2017-02-16 02:21] ducvan0212 commented on #290
@abusalehmdtayeen Can you add link to OT record in tree metadata?

[2017-02-16 20:55] arlin opened #291 "supporting studies explanation"
The "supporting studies" feature is going to be confusing for users.

1. (Arlin) Put an explanation in the Help-FAQ view.
1. Make a float-over for the "Supporting studies" header that says "Published studies with trees relevant to deriving your Phylotastic tree (trees from OpenTree may lack supporting studies if they are based solely on taxonomy)."
1. Replace the "no supporting studies" message wi

[2017-02-18 21:44] ducvan0212 commented on #290
@arlin I added placeholder for OT tree link. As Brian suggested, I created 2 buttons with text label for each study in tree metadata. The dev server was updated with this change.

[2017-02-18 21:44] ducvan0212 commented on #291
Done 2 and 3.

[2017-02-18 21:48] ducvan0212 commented on #288
Can you check again using your input file which you had trouble with before? I fixed this in dev server and checked by my own file. I want to make sure your case is also resolved.

[2017-02-18 21:54] ducvan0212 commented on #289
@abusalehmdtayeen can we italicize species names in tree image?

[2017-02-18 21:59] ducvan0212 commented on #289
@arlin taxon names in list viewer is italicized.

[2017-02-20 19:13] ducvan0212 commented on #290
The link to OT study is add in tree metadata.

[2017-02-22 15:20] arlin commented on #290
Thanks.  This is good functionality to have.  Actually, @bomeara suggested *not* to use buttons, but just use text.  The buttons take up extra space and add page-rendering overhead.  Because the buttons are not visible until the user mouses over them, the user may view the page without realizing that this functionality exists.

So, what I would suggest is to use the text-only suggestion above, and

[2017-02-22 15:22] arlin commented on #288
Thanks.   Yes, I confirm that this works.   Moving this to "done".

[2017-02-22 15:22] #288 closed

[2017-02-22 15:24] #274 closed

[2017-02-22 15:26] arlin commented on #266
Note that we closed #283 and #274 (problems with viewing large trees) without fixing.  Instead we are going to do this one.

[2017-02-22 15:26] #283 closed

[2017-02-22 15:27] arlin commented on #146
Option to load all thumbnails is fantastic!  Users love this.  I want to make some small changes to how this is implemented.  I'll open a separate ticket for that.

[2017-02-22 15:28] arlin commented on #182
OK, this is all fixed.  Good work.  Sorry for not closing this sooner.

[2017-02-22 15:28] #182 closed

[2017-02-22 15:31] arlin commented on #237
Can we just make the message a bit more informative for the user?  I suggest this:

"Invalid URL. To ensure success, go to the page you want, then select-all and copy from the browser's URL bar into the URL box below. "

[2017-02-22 15:34] arlin commented on #282
I am closing this wontfix status, as we are going to put limits on queries as per #266

[2017-02-22 15:37] arlin commented on #193
Thanks @hdliv @ducvan0212 @abusalehmdtayeen for getting this done.  This is a valuable feature for users.

[2017-02-22 15:38] #193 closed

[2017-02-22 15:46] arlin commented on #122
thanks @ducvan.   we now have a good start on the metadata model.  we need to get some feedback from users now.

[2017-02-22 15:46] #122 closed

[2017-02-22 15:51] arlin commented on #291
thanks @ducvan.  your part is done.  I will add the text for the FAQ soon.

[2017-02-22 16:01] arlin commented on #291
FAQ changes.  Add the text and construct the indicated HTML links.

1.  Add the question "What are supporting studies?  Why are they sometimes missing?" with the answer: "Supporting studies are publications on which the tree is based.  In the case of trees derived by subtree extraction from OpenTree's synthetic tree (supertree), the supporting studies provide the trees used to refine the taxonomy

[2017-02-22 16:07] #279 closed

[2017-02-22 16:08] #242 closed

[2017-04-04 23:11] arlin commented on #240
This is ready to do.  Arlin has a script that can be put into the git repo.  This needs to be revised and ideally shortened.  Then practice.  Then capture it and edit.  Then re-assign this ticket to @ducvan0212 to upload the new screencast to the portal.

[2017-04-11 00:26] arlin opened #292 "names-from-list resolution is case-sensitive"
Background: Take a list with one name per line.  Put some capitals into the species name.  The name does no resolve.

Task: explore whether this should be considered a  bug or not.

Example.
Elephas maxiMUS
Dugong dugon
Trichechus manatus
Mirounga leonina
Hydrurga leptonyx
Phoca vitulina
Otaria byronia

[2017-11-13 17:44] ducvan0212 opened #293 "get names from web failed"
For some URLs (e.g. https://en.wikipedia.org/wiki/Ant), resolving names service returns 500 error code while it still works on some others (e.g. https://en.wikipedia.org/wiki/Goldfish). Note that name extraction service worked (http response code of `data` is 200), only name resolution service failed.

<img width="478" alt="screen shot 2017-11-13 at 10 42 24 am" src="https://user-images.githubuser

[2017-11-13 20:50] ducvan0212 commented on #293
@abusalehmdtayeen @arlin

[2018-02-08 16:05] #277 closed

[2018-02-08 23:32] arlin opened #294 "automated restart upon portal failure"
A major project goal for Q1 is to improve run-time reliability and robustness of the portal.

To achieve this goal, implement automated restart upon portal failure.

[2018-02-08 23:37] arlin opened #295 "monitor underlying portal services and automate restart"
A major project goal for Q1 is to improve run-time reliability and robustness of the portal.

One task to achieve this goal is to monitor  services underlying the portal and automate restart (for our services) or notify (for 3rd-party services)

[2018-02-08 23:38] arlin opened #296 "identify workflow failure point every time"
A major project goal for Q1 is to improve run-time reliability and robustness of the portal.

One task to achieve this goal is to identify the workflow failure point 100 % of the time.

[2018-02-08 23:39] arlin opened #297 "Upon failure, provide user plain-language notification with instructions"
A major project goal for Q1 is to improve run-time reliability and robustness of the portal.

To achieve this goal, report back to the user on the point of failure.  This depends on #296.

Also, provide the user with instructions.  The instructions may be simply "try again later", or something more detailed where appropriate.

[2018-02-12 18:05] #284 closed

[2018-03-01 16:15] arlin opened #298 "develop some unit tests"
As a precursor to implementing CI (in pursuit of our goal of implementing this on as many repos as possible), develop a minimal test suite.

For now, just focus on unit tests that do not depend on external services.

[2018-03-27 23:10] abusalehmdtayeen commented on #295
Automatic restart of services upon failure and in case of machine reboot has been done.

[2018-04-11 21:08] arlin commented on #278
This problem just keeps getting worse.  There are about 60 pages of the same thing.

![Screen Shot 2018-04-11 at 5.07.34 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77276455f26b7191a37df1122c4f5c5b5ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f

[2018-04-12 02:50] ducvan0212 commented on #278
@abusalehmdtayeen I checked and saw the redundancy is also available on List service. I will remove the redundant records in portal production server but the root of the problem is in list service. Can you remove redundant lists from list server as well?

[2018-04-12 14:11] abusalehmdtayeen commented on #278
@ducvan0212 , I will remove the redundant lists.

[2018-04-24 17:47] arlin commented on #278
@abusalehmdtayeen, assigning this to you.   I see that you have cleaned up the list.  Thanks.  Did you fix the problem that was adding copies of the bird list?

[2018-04-25 02:55] abusalehmdtayeen commented on #278
@arlin , I did not find any problem. I just removed the records that were inserted before for testing.  I am closing this issue.

[2018-04-26 13:59] abusalehmdtayeen commented on #278
I have reopened this issue since I see the problem still exists. Some script is automatically inserting a single list to the production server periodically. I need to find that and remove it.

[2018-04-26 15:08] arlin opened #299 "indicate units of branch length for scaled trees"
If a tree is scaled by DateLife or other services, the branch lengths have units of either absolute time (e.g., MY) or relative time.  This information should be passed on to the user via the scale bar displayed by ETE.

This issue cannot be fixed until DateLife returns information that specifies the units of branch length, as per phylotastic/datelife#48 .

[2018-04-26 15:16] ducvan0212 commented on #299
The response from extracting tree service is

=> "{\"status_code\": 200, \"message\": \"Success\", \"meta_data\": {\"execution_time\": 2.12, \"creation_time\": \"2018-04-26T08:44:04.009375\", \"source_urls\": [\"https://github.com/OpenTreeOfLife/opentree/wiki/Open-Tree-of-Life-APIs#tree_of_life\"]}, \"tree_metadata\": {\"alignment_method\": \"NA\", \"character_matrix\": \"NA\", \"rooted\": true, \

[2018-04-26 17:28] abusalehmdtayeen commented on #299
@ducvan0212 , I will check and let you know.

[2018-04-27 17:54] abusalehmdtayeen commented on #299
@ducvan0212 , The newick you sent me to scale is indeed giving me error while using Datelife. In this case, ETE will show the tree with some default branch lengths. I don't know how these lengths are calculated and what is the unit. It is an internal issue of ETE.

@LunaSare ,  can you check the following example? I ma getting errors while using EstimateDates function.

`dated_tree <- EstimateDate

[2018-05-01 18:56] LunaSare commented on #299
Hi @abusalehmdtayeen! I'm checking it now. It has something to do with the particular structure of this tree, but I'm not sure what. I asked @bomeara for some help.

[2018-05-03 20:27] LunaSare commented on #299
I just finished pushing the corrections to the error @abusalehmdtayeen @ducvan0212 . It should work now.

I noticed that you are using the old datelife function names. As I can see, apparently it is not a problem. Just keep it in mind in case you need to update something.

Also, we are not going to allow 'newick.median" nor "phylo.median" options anymore. They are not very good in biological terms

[2018-05-11 17:34] #278 closed

[2018-05-23 17:16] arlin opened #300 "irregular behavior of accordion links in Help"
Go to Help in Chrome or Safari, click on the link in the top section to searching on common names, which goes to the anchor `#commonnames`.  Note the behavior.  Now, press the reload button.

Try the same thing with the link to `#betterPlace` in "I got a tree, but ...".

If I navigate directly to http://phylo.cs.nmsu.edu:3000/static_pages/help#commonnames, this does two things, it opens the accord

[2018-05-23 21:02] ducvan0212 commented on #294
I think Abu and I have already done this feature.

[2018-05-23 21:03] arlin commented on #294
OK, closing it.

[2018-05-23 21:03] #294 closed

[2018-05-23 21:03] #295 closed

[2018-06-03 15:09] ducvan0212 commented on #300
I fixed this issue. Now, whenever you click on an anchor, the screen will be scrolled to the anchor and the collapsed area will expand. You can check this behavior at the portal dev server http://phylo.cs.nmsu.edu:3001/static_pages/help

[2018-06-03 15:12] ducvan0212 commented on #298
I created a test suite. The test can be run by command

`rails test`

or

`rails test <file>`

The test is available at /test folder in dev repo

[2018-06-03 15:21] ducvan0212 commented on #297
I added message like

<img width="647" alt="screen shot 2018-06-03 at 9 16 11 am" src="https://user-images.githubusercontent.com/1614884/40888043-cf3ea1aa-670e-11e8-863a-d42b0e7817d1.png">

Depend on the feedback, I will improve the detail in the message in each part of the portal.

[2018-06-03 15:34] ducvan0212 commented on #296
The dev portal can display messages indicating that there is failure.

Some of example as following:

1. fail to extract names:
<img width="647" alt="screen shot 2018-06-03 at 9 16 11 am" src="https://user-images.githubusercontent.com/1614884/40888179-bb1eeae8-6710-11e8-93dd-a505cead3c44.png">

2. fail to resolve names:
<img width="650" alt="screen shot 2018-06-03 at 9 29 35 am" src="https://user-

[2018-06-03 15:47] ducvan0212 commented on #290
The dev server displays visible link to OT, not hidden button anymore

[2018-06-08 15:17] arlin opened #301 "select binomials from scraped names"
When names are scraped from a source such as a web site or a PDF, it often includes a mixture of species designated by binomials (Genus species) and names for higher taxa.  In many cases, only the binomials are desired.  When there are more than a few dozen names, selecting them becomes tedious.

Solution: in the List viewer, implement a button labeled "Species" for binomials, and another labeled

[2018-06-08 17:13] ducvan0212 commented on #301
@arlin I wonder how the portal should discriminate binominals and names for higher taxa. Do binominals always have white spaces between string of characters while higher taxa don't?

[2018-06-08 17:33] arlin commented on #301
@dimus, will you comment on this?  The simplest approach is just to assume that <word> is a higher taxon and <word><space><word> is a species binomial.  This will work most of the time, e.g., the "ant subfamilies" wikipedia page.

The exceptions to this rule that might be important for phylotastic are
* species names sometimes have > 2 words because they refer to a subspecies or an authority
* com

[2018-06-08 17:42] ducvan0212 commented on #301
I can use Regex for filtering out names that have white spaces. When using Regex, we don't need to take care the number of words in names.

[2018-06-10 21:09] ducvan0212 commented on #301
@arlin the selector for displaying names or higher taxa is available in dev server.

[2018-06-11 16:28] arlin commented on #301
Thanks, this is a good start. Can we give the user more choices by not hiding the unselected names?  For instance, when I scrape names from documents, I might want to begin by selecting all the species, and then add a higher taxon if there is no species to represent it.

[2018-06-11 16:48] ducvan0212 commented on #301
After getting the name list from the document, you can still do so by following these steps:
- Choose to display "species only"
- Choose to display "all". This will display all names but only species names are selected.
- Run through unselected names and select the one you want to include in getting tree phase.

Note that the toggle select/unselect for all names will work for names that are being

[2018-06-11 22:11] arlin commented on #301
Thanks, that will allow me to accomplish my task.  However, from the perspective of designing the user experience this behavior will not be apparent to the  user.  Here is what the menu items actually do
* "all" - show all, do not change selection status
* "species only" - show only species AND deselect all groups
* "higher taxa only" - show only groups AND deselect all species

Two of the operati

[2018-06-12 13:10] ducvan0212 commented on #301
@arlin I replaced the checkbox for toggle between select/deselect all names with a selection box with 4 options for displaying: all, species only, higher-taxa only and none. I hope this change is more user-friendly and still meets your requirements.

[2018-06-12 13:36] dimus commented on #301
GNRD finds only "canonical forms" of names, however for botanical names it also picks up infraspecific epithets from time to time. So I would say 99.5% of the time number of words would represent what the found name suppose to be (unless there was a name-finding problem). There is also https://parser.globalnames.org as a most powerful and more complex solution.

[2018-06-13 14:24] arlin commented on #301
@ducvan0212, thanks, this is going to be very useful!  Closing.

[2018-06-13 14:24] #301 closed

[2018-06-13 14:25] #300 closed, assigned to ducvan0212

[2018-06-14 14:44] ducvan0212 opened #302 "Datelife response inteface in the portal"
Display error or instructions when Datelife fails to scale a tree

[2018-06-14 14:47] ducvan0212 opened #303 "ETE failed to display scale tree"
<img width="1167" alt="screen shot 2018-06-14 at 8 45 19 am" src="https://user-images.githubusercontent.com/1614884/41419537-8998aeda-6faf-11e8-88f9-88ab0be9dbd4.png">

[2018-06-14 14:54] ducvan0212 commented on #302
if there is error, the Datelife service returns a list whose length is 0

[2018-06-15 18:30] arlin opened #304 "describe scaling methods in portal help"

[2018-06-15 18:31] arlin opened #305 "describe scaling methods and args"
put this in our spreadsheet here:

  https://docs.google.com/spreadsheets/d/1owEMc21WJoj68aJMCNvzh5Q43xX3niu_sqqNBE9rsYo/edit#gid=567351813

 Van and I can then design the UI for the portal based on this.

[2018-06-15 18:33] #304 closed

[2018-06-15 18:35] arlin opened #306 "implement scaling methods in portal"
- [x] decide on data model relating scaled and unscaled trees.
- [x] design dialog box
- [x] implement send list to scaling service
- [x] implement show return tree
- [ ] implement trap null tree
- [ ] implement add metadata stanza

See #304 and #305 for information on methods.

The action should be called "Add time scale".

[2018-06-15 18:38] arlin commented on #306
Dialog box:
"Assign branch-lengths proportional to time in MY (millions of years), using one of these methods:
 * <b>Median</b>:  DateLife's median summary method (very fast)
* <b>OpenTree</b>: Extract from a dated version of the Open Tree of Life (fast)
* <b>SDM</b>: DateLife's Supertree Distance Matrix method (slow, not practical for > 10 tips).
The resulting tree will replace the current tree."

[2018-06-15 18:45] arlin commented on #306
We also need to decide what is the relationship of the scaled tree to the original tree.  The simplest approach is to consider scaling as an irreversible alteration to the original tree.  The scaled tree will replace the original unscaled tree.  If the tree is scaled a second time with a different method, the newly scaled tree will replace the previously scaled tree.  This is the simplest approach

[2018-06-15 18:46] bomeara commented on #306
A scaled tree may have a subset of taxa, though, depending on the algorithm

[2018-06-15 18:48] arlin commented on #306
so that eliminates option 3 in my previous comment

[2018-06-15 20:21] arlin commented on #306
![Screen Shot 2018-06-15 at 4.20.25 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455f66b7191a37cf1102b4f5d5a5ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f67b6d5db1063474f4dcbed5727a19041c95df442e14451a415366bee742431.png)

[2018-06-15 20:21] arlin commented on #306
![Screen Shot 2018-06-15 at 4.21.24 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455f66b7191a37cf1102a4f5d5b5ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f67b6d5db1063474f4dcbed5727a29841c95df442e14451a41a3161e7722431.png)

[2018-06-15 20:22] arlin commented on #306
![Screen Shot 2018-06-15 at 4.05.26 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455f66b7191a37cf1122e4f5d595ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f67b6d5db1063474f4dcbed5727a29841c95df442e14451a5123e6ae1772431.png)

[2018-06-15 20:23] arlin commented on #306
@abusalehmdtayeen we will need your help with this.  Our initial goal is to include the "median" method from DateLife instead of SDM.  Can you create a version that invokes median instead of SDM?  All the other parameters are the same?

[2018-06-15 20:32] arlin commented on #306
![Screen Shot 2018-06-15 at 4.31.46 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455f66b7191a37cf1112a4f5b595ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f67b6d5db1063474f4dcbed5727a29841c95df442e14451a3113564ef722431.png)

[2018-06-18 16:48] abusalehmdtayeen commented on #306
@arlin , Yes I will update the datelife service to do that.

[2018-06-18 21:55] arlin opened #307 "recover gracefully from taxon match failure"
if OT taxon matching is unresponsive, I get an unstructured list and no opportunity to go forward with it.

At the very least, we need to tell the user that the current list is a dead end, and the only way to recover is to try again at a later time.

Alternatively, separate out the workflow steps so that the unmatched names are saved, and matching can be re-started.

I'm not sure which is better.

[2018-06-18 21:57] arlin commented on #307
Message says "We extracted some names from your resource: ... But we could not resolve any of them ... Please leave a message in Feedback".

Change this to "We extracted names from the source but taxon name resolution failed.  Please try again at a later time, and if the problem persists, leave us Feedback."

[2018-06-18 22:07] arlin opened #308 "improve error message for retrieval failure"
Current message:

I would like to encourage users to try again.  Replace message with

![Screen Shot 2018-06-18 at 6.05.10 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fb6b7191a37ef1122e4f5e5f5ecc3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f4

[2018-06-18 22:26] arlin opened #309 "bug in taxon sample by genome"
in dev
* choose sample from taxon
* enter "Felidae"
* choose "by genome"

exception:

[2018-06-18 22:32] arlin opened #310 "intermittent bug when name of list is missing"
This may be induced by some of the problems.

The dialog box for uploading a list or extracting a list no longer requires a name.  Sometimes, a list is created and it is given the name of the input file.  However, sometimes the list is processed but it does not appear in the menu.

I cannot get this bug to work consistently.

[2018-06-18 22:39] ducvan0212 commented on #310
The name of the list is not required. If the list name is not given by user, the portal will take name of file or the url for name of the list. Users can edit the list name if they want.

The portal will create the list once the service returns results. If the portal can not reach the service for example, the list will not be created.

[2018-06-18 22:41] arlin commented on #310
This is not what is happening.  Sometimes I see the transient green status message that says the list has been created, but there is no item in the user list menu. I will try to capture that but it disappears pretty quickly.

[2018-06-18 22:52] ducvan0212 commented on #309
The token used in dev and production is saved at the same cookies since both dev and production are same domain.
The way to fix is separate dev and production in 2 different domains.

[2018-06-18 22:54] ducvan0212 commented on #310
I think the same problem with token saved in cookies. The dev uses token1 to identify session of user1. When you switch to production, the token1 is replaced by token2, then you are identified as user2 in production. You then lost token1 in dev. The portal dev will need to reassign you a new token because token2 can not be used in dev.

[2018-06-18 23:10] ducvan0212 commented on #308
The message is changed and is available at dev server
<img width="1161" alt="screen shot 2018-06-18 at 5 10 19 pm" src="https://user-images.githubusercontent.com/1614884/41566831-9175af86-731a-11e8-8bf0-bb0b9f887b6e.png">

[2018-06-18 23:13] #293 closed

[2018-06-18 23:18] ducvan0212 commented on #307
I updated the message
<img width="686" alt="screen shot 2018-06-18 at 5 17 45 pm" src="https://user-images.githubusercontent.com/1614884/41567051-946deefa-731b-11e8-90fe-c597ceb993a6.png">

[2018-06-19 14:10] arlin commented on #310
OK, I was not able to recreate the problem when using separate sessions (browsers) for dev and production.  So, closing this.

[2018-06-19 14:10] #310 closed

[2018-06-19 15:53] arlin opened #311 "revise no-tree error message"
oops.  this got fixed already.

[2018-06-19 15:55] arlin commented on #309
OK, closing this.

[2018-06-19 15:55] #309 closed

[2018-06-19 15:57] #311 closed

[2018-06-19 15:57] #308 closed

[2018-06-19 16:15] arlin commented on #306
I'm closing this and opening a different ticket, partly because we revised our design for this, and @ducvan0212 has implemented the redesign.

[2018-06-19 16:15] #306 closed

[2018-06-19 16:15] #305 closed

[2018-06-19 16:24] arlin opened #312 "show full scale for chronograms"
Currently a scale bar is shown.  However, for chronograms most users will prefer to have the entire scale from the root to 0 MYA.

[2018-06-19 16:59] arlin commented on #312
![Screen Shot 2018-06-19 at 12.59.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a379ed0c2e58415f48bc21254d58eeb9cb74fce36f34985619e8d4680d71c43a44ffecd34aee54bf768b4f81b4ef831ac5fa2137a5dad11b61435c52dcbd4f3fb2984cc259f349e84957a3163f63e572366e0a.png)

[2018-06-19 17:05] arlin opened #313 "revise scaling interface"
- [x] count tips on unscaled tree
- [x] add "tips," e.g., "Unscaled tree (13 tips)"
- [x] instead of "undetermined", just use "(?)"
- [x] refresh view so that tip-count replaces "?" when the tree has been retrieved
- [x] redesign so user knows these are 4 alternatives
- [x] give the alternatives a name like "Tree version"

[2018-06-19 17:33] arlin commented on #313
maybe like this
![Screen Shot 2018-06-19 at 12.59.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256455fa6b7191a379ed0c2e58415f48bc21254d58eeb9cb74fce36f34985619e8d4680d71c43a44ffecd34aee54bf768b4f81b4ef831ac5fa2137a5dad11b61435c52dcbd4f3fb29843c259f349e84957ad153767e675316e0a.png

[2018-06-19 19:21] arlin commented on #299
I'm re-prioritizing this.   At the very least, the scale needs to say "MY" when the tree is a scaled tree.  I'm opening a separate ticket about SDM.

[2018-06-19 19:44] arlin opened #314 "compose metadata stanza for scaling"
The dev portal now shows scaled trees.  However, the metadata report does not say anything about the scaling method.  Instead it refers to "inference method" which says something like "induced_subtree from synthetic tree with ID opentree9.1".  We need to extend this to include a description of the scaling, for the median, SDM and OT methods.

The resulting text could be something like "The induced

[2018-06-19 20:00] ducvan0212 commented on #313
The new design can be seen in dev server

[2018-06-19 20:53] ducvan0212 commented on #313
I moved the revert button to second column and make it a clickable link.

[2018-06-20 00:02] arlin commented on #313
Thanks.  This is much clearer.  Closing this.

[2018-06-20 00:02] #313 closed

[2018-06-20 20:02] arlin opened #315 "tree persistence bug"
In the portal, create named list A and make trees A1, A2.

Now delete list A.

The tree menu still lists A1 and A2 but apparently they are not available.  Selecting A1 or A2 will result in an error message:

![Screen Shot 2018-06-20 at 3.57.57 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c

[2018-06-20 21:28] ducvan0212 commented on #315
I fixed this issue. I forgot to delete the trees associated with a list when upgrading the portal.

From now on, If you delete a list, the trees associated with the list will also automatically be removed.

To deal with existing trees associated with a deleted list, you still see the tree from tree viewer dropdown but if you click on that tree, the tree will be removed.

Thank you @arlin for point

[2018-06-20 22:32] arlin commented on #240
here is my new version: https://www.youtube.com/watch?v=8Q5m0ldaGIg

[2018-06-20 22:32] #240 closed

[2018-06-21 13:53] arlin commented on #315
OK, thanks.

[2018-06-21 13:53] #315 closed

[2018-06-21 14:49] arlin opened #316 "spot-check of scaling accuracy"
The dev portal currently allows median-scaled trees from DateLife.  These are shown with a scalebar in millions of years.  We haven't tested yet whether these values are correct.   They might be mistaken if there are mistakes in the code.

Pick a case such as felidae for which we know the dates expected from DateLife resources, and use this to test whether the dev portal is representing dates accu

[2018-06-21 15:05] arlin commented on #312
best example is actually TimeTree.org. Go there, upload a list (one name per line) and look at the tree.
![Screen Shot 2018-06-21 at 11.04.32 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256456f26b7191a379ee0c2b55415c4cbc30254d58eeb9cb74fce36f34985619e8d4680d71c43a44ffecd34aee54bf7

[2018-06-21 17:56] #303 closed

[2018-06-23 18:40] arlin opened #317 "auto-fade the new tree message"
When a tree is displayed, there is a message like the one below. To make the message disappear, the user must click the "X".

The message will reappear if the user switches to a different version of the tree (scaled version) and then switches back.   This behavior makes the first behavior more annoying.

To do:
* Don't require the user to dismiss the notice.  Make it fade away automatically in 5 s

[2018-06-25 20:41] LunaSare commented on #314
Median inference method: Multiple chronograms with some or all species found in OToL tree store are summarized by calculating the median age of overlapping nodes into a distant matrix and then applying a clustering method such as UPGMA.

SDM inference method: Multiple chronograms with some or all species found in OToL tree store are summarized using the Supertree Distance Method (SDM)

OT method:

[2018-06-25 20:42] LunaSare commented on #314
Where exactly goes the topology description?

[2018-06-25 23:09] arlin opened #318 "review and revise tree metadata"
The metadata tab (image) draws from an informal checklist from the community:

https://github.com/evoinfo/miapa/blob/master/checklist/MIAPA-checklist.md

[2018-06-26 23:47] arlin opened #319 "popularity service no list returned"
Two cases I have found so far.

1.  Anura (frogs).  This may be because this name occurs twice in OT taxonomy

2.  Orchidaceae (orchids).  I'm not sure why this would fail.

[2018-06-27 00:05] ducvan0212 commented on #319
The popularity service return no species for your provided taxa

[code]

[code]

[2018-06-27 00:40] arlin commented on #319
OK, but the original OneZoom service returns 20 species.  See below.   I guess @abusalehmdtayeen wrapped this and we need to ask him?

  "max_taxa_out": 100,
  "n_taxa": 6555,
  "header": [
    "ott",
    "popularity",
    "popularity_rank",
    "name"
  ],
  "tot_spp": 2123183,
  "max_taxa_in": 5,
  "data": [
    [
      558313,
      120126.871261261,
      4969,
      "Bombina pachypus"
    ],

[2018-06-27 00:48] abusalehmdtayeen commented on #319
The problem happens when we get multiple matches for a taxon name from OpenTreeofLife API. By default, I pick the first match with score 1.0, get its ott_id and then use the One Zoom API. Since OneZoom API directly works on the ott_id and you are giving the correct ott_id you get results. Below is the TNRS match result for "Anura" from OpenTreeofLife.
``json
{
  "governing_code" : "undefined",
  "

[2018-06-27 00:51] abusalehmdtayeen commented on #319
To resolve this, we may need to ask the user to provide another input. For example, if the user mentions the rank as "order" in case of "Anura", you will get the correct result.

[2018-06-27 00:58] arlin commented on #319
But if the user wants to make a tree for frogs, then this is not a solution.  There is no other taxon that maps to frogs.

At the very least, we need to tell the user what is happening, e.g., "The taxon could not be mapped unambiguously (see [search ressult)[https://tree.opentreeoflife.org/taxonomy/browse?name=anura]).

Another possibility is to do what OT does on One way to do this would be to do

[2018-06-28 13:02] ducvan0212 commented on #319
Which is the api in OT that returns different taxonomies in different kingdoms as Arlin showed?

[2018-06-28 14:07] abusalehmdtayeen commented on #319
Hi @ducvan0212 , You don't need a separate service now. I have modified the popularity service to include popular species of all matches of the input taxon. So, you can show the user different results based on their choice. Here is an example output.
``{'status_code': 200, 'message': 'Success', 'meta_data': {'execution_time': 4.09, 'creation_time': '2018-06-28T07:37:26.712801', 'source_urls': ['ht

[2018-06-28 23:38] arlin commented on #299
@abusalehmdtayeen can we make it a priority to get this done?   This is important
1. if the tree is unscaled, showing a scale bar is *positively misleading.*   The scale does not have any meaning.  So, the way to avoid misleading people is to remove the scale bar completely.
1.  if the tree is scaled by DateLife, then the scale bar has units of MY (millions of years)  Just like for any graph, the

[2018-06-29 04:54] ducvan0212 commented on #317
Yes, I did. Closed this issue.

[2018-06-29 04:54] #317 closed

[2018-07-03 22:51] abusalehmdtayeen commented on #299
@arlin, I can disable the scale bar for unscaled trees so that it does not show up. But to show the scale bar with units for scaled trees,  I could not find any feature in ETE. I sent a message to the ETE developer regarding this. But he has not responded yet.

[2018-07-06 17:25] arlin opened #320 "trap apparent null return from datelife"
1. Choose taxon "Anura", get 20 popular names.
2. Choose "Anura" from list of matching taxa.
3. Choose "get tree"

An error message will appear when the portal is trying to get the SDM tree.  See error messages below.

![Screen Shot 2018-07-06 at 1.23.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1

[2018-07-06 19:30] arlin opened #321 "shorten text on load images button"
Current text 1: Approximate time for downloading of all images is `<time>`s.  Please wait until notified of completion of download.

New text 1: Wait  ~`<time>` seconds for image retrieval, then re-click.

Current text 2: Download complete.  Please click the load images button again.

New text 2: Done.  Click again to display images on tree.

[2018-07-06 19:58] arlin commented on #316
I'm checking this using the desert plants list.  Note that TimeTree cannot find about 12 of the species out of 15, so I can't use TimeTree to check this.

[2018-07-06 20:05] arlin commented on #316
Cat family.  Start with Stephen J O'Brien paper in Sci. American.   http://www.bio-nica.info/biblioteca/O'brien2007EvolutionCats.pdf.

[2018-07-07 01:29] arlin commented on #316
OK, I have now done a comparative analysis of scaling for Felidae.  The results are here:

https://www.dropbox.com/sh/lx7xf0bdw1z88ah/AAC7hJoVjnDAGpskuxJ5S9Ica?dl=0

[2018-07-10 18:58] LunaSare commented on #302
I'm working on appropriate error messages to display on the portal.

[] median scaling
[x] sdm scaling
[] otol scaling

[2018-07-10 22:15] LunaSare opened #322 "median and sdm trees displayed in portal come from secondary calibrations"
There are two ways of running datelife. Using a tree as input and using taxon names as input.
When the input is a tree, datelife gives back a tree scaled to time with a dating method (PATHd8) using congruified node ages as secondary calibrations. In a way, this scaled trees have made up dates, because ages of missing taxa are generated without any DNA or aminoacid alignments.
All scaled trees in t

[2018-07-10 22:29] LunaSare commented on #316
I finished trying both felidae and desert plants examples and some others from the lists available on phylotastic portal.
median and sdm trees displayed on the portal come from using a tree as input. When using names as input, results are different. That's why my tests and the portal trees were different. Please see issue https://github.com/phylotastic/phylotastic-portal/issues/322

[2018-07-12 14:52] arlin opened #323 "decide how to scaling uncertainty"
This is a design ticket.  After the design is done, make another ticket for the implementation.

The results that we are returning from the portal are uncertain.  How do we convey this?   We could have some pop-up messages that either give a warning, or provide a friendly explanation that dates are uncertain and scientists sometime disagree by 2-fold on the dates of things.

If DateLife has some u

[2018-07-12 14:52] arlin commented on #323
@LunaSare @bomeara I am assigning this to me for now but I hope we can have a discussion about how to do this once we get a few other things resolved.

[2018-07-12 18:18] arlin commented on #316
Our analysis of this yesterday and today is that the Felidae results are acceptable given that there is disagreement among the published chronograms, and disagreement among scientists.  We just need to do some things to notify the

[2018-07-12 18:18] #316 closed

[2018-07-26 14:48] arlin commented on #299
@abusalehmdtayeen, I asked @jhcepas if he would help with this.  Meanwhile, can you disable the scale bar for unscaled trees?

[2018-07-26 14:58] arlin opened #324 "fix median scaling"
History. As per phylotastic/datelife#57 we were getting unexpected results including changes in topology. The reason is that the portal has been getting a scaled tree using the names in the input tree while discarding the input topology. We want to preserve the input topology.

- [ ] determine how to invoke the DateLife median method so that it preserves the input topology
 - [ ] if the portal is

[2018-07-26 14:59] arlin commented on #324
@bomeara I'm assigning this to you first so that you can address the first issue above, how to invoke DateLife.  Then we will re-assign this to @abusalehmdtayeen and @ducvan0212

[2018-07-26 15:00] arlin opened #325 "implement scaling methods in production portal"
Push the scaling functionality from the dev portal to the production portal.

Hide SDM until

[2018-07-27 09:55] ducvan0212 commented on #325
The portal uses WebSocket (ActionCable in Rails) to asynchronously update the interface when a scaling process is finished (basically, update the waiting icon to clickable radio box). Unfortunately, ActionCable is currently not supported on Apache + Passenger (https://www.phusionpassenger.com/library/config/apache/action_cable_integration/). I need to stop Apache to try 2 approaches:
- Install Ngi

[2018-08-02 03:08] abusalehmdtayeen commented on #299
Both scaling bar and unit issue have been fixed.

[2018-08-06 20:04] arlin opened #326 "check out jmeter"
Jmeter is a tool that can be used for load testing:
https://jmeter.apache.org/

Jmeter and Selenium integration: https://www.softwaretestinghelp.com/integrating-jmeter-selenium/

Please take a look and this and assess whether it would be worthwhile to apply it.

[2018-08-06 20:05] arlin opened #327 "organize stress test"
Tues, 14 August at 12:00 noon Eastern, 16:00 UTC.

Warn people one week, 1 day, 1 hour, 5 minutes in advance.

How to participate.
1.  If you haven't used the portal, watch the screencast (https://youtu.be/8Q5m0ldaGIg).
 Portal workflow is simple: create list, get tree, customize view, download. You can choose a pre-existing list, scrape names from text extracted from a file (e.g., PDF, xls), sear

[2018-08-09 15:15] arlin opened #328 "try to understand stress test result"
@LunaSare finds “RuntimeError in TaxonController#show”.

1. Try to reproduce this error.
2. Note the results of #1 in the google doc
3. If reproducible, make a ticket to fix this.

[2018-08-09 15:59] arlin opened #329 "Use GNRD to get OTT ids"
Name resolution using OT services was a bottleneck during load testing.  Possible solution is to use GNRD to resolve against OTT.   GNRD can match against OTT, returning ottids, which means we can replace OT taxonomy services with GNRD.   This means fewer steps, also probably faster and more robust.  GNRD also can include valid names that do not match OTT.

Therefore GNRD can replace OT taxonomy s

[2018-08-09 16:01] arlin opened #330 "figure out tree retrieval issue"
From the load testing results here:

 https://docs.google.com/document/d/1mgal-qCKOlGGrHC0EsEve2KzxP_LCy_q2Y2_ytOeM6c/edit#heading=h.fzugdk5hu7q2

figure out how to reproduce the tree retrieval issue.

[2018-08-13 23:16] arlin commented on #328
So, how can I test that?

[2018-08-14 16:12] ducvan0212 commented on #328
You can follow what Luna described in the load test report

[2018-08-14 16:48] arlin commented on #328
Could you please be more specific?  Do you mean to choose the extract-from-web workflow with https://es.wikipedia.org/wiki/Primates?

[2018-08-14 16:52] ducvan0212 commented on #328
Yes, I guess so. Luna did not provide the wiki link in the load test report so I also used your provided link. Then you extract the matching report in pdf format.

[2018-08-14 17:26] arlin commented on #328
OK, it works, issue resolved. Thanks.

[2018-08-14 17:26] #328 closed

[2018-08-16 12:50] abusalehmdtayeen commented on #330
There were mainly two tree retrieval issues found in the doc. The first one is the subset of Dima's list that Dr. Pontelli used. This failure was reproduced using the list. The problem was a Unicode error thrown by the ETE component used in the service. The service was able to get the tree from the OpenTreeofLife, but it uses the ETE component to get the number of tips of the tree to show in the r

[2018-08-16 12:57] abusalehmdtayeen commented on #330
In addition, 1000 names from Dima's list was tested. The portal was able to display a tree with 188 tips. The input list is attached for retesting.
[random_1000_names.txt](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55e77ef04a918e180047ade2/125516c66e82c728ace21e0d46fa9594278d8e96deb9ef139b53f1992c55653f6b14b1247a80e03cfd1839545a5a1ca9435f0a17a8a8dc7af3b36a708a5809bed83b5a6

[2018-08-16 14:49] ducvan0212 opened #331 "Provide meaningful error messages"
The services from Abu side return following error code:

<img width="904" alt="screen shot 2018-08-16 at 8 46 40 am" src="https://user-images.githubusercontent.com/1614884/44215984-16a23a00-a131-11e8-996d-9284036d167f.png">

@arlin would you please help me translate the error codes to meaningful messages?

[2018-08-16 15:45] ducvan0212 commented on #331
For now, the error is in portal like this

<img width="696" alt="screen shot 2018-08-16 at 9 45 17 am" src="https://user-images.githubusercontent.com/1614884/44219387-1d34af80-a139-11e8-960f-b518b06110ee.png">

[2018-08-16 15:49] epontell commented on #331
The "Please try again in an hour" does not make sense - if the error is due to the size of the list, that will not change in one hour

[2018-08-16 20:05] arlin commented on #330
I'm getting an error from this list.  @abusalehmdtayeen could you investigate please?

[2018-08-16 20:11] abusalehmdtayeen commented on #330
@arlin, I have checked  Chas's list. I get the following error from OpenTreeofLife for this list of species.
[code]
This is a common error that I have also found in some other examples. When @ducvan0212 will start showing the error messages from the service in the portal, it will be clear that sometimes error occurs in the source service for some input cases instead of the wrapper service.

[2018-08-16 20:25] arlin opened #332 "Trap insufficient-taxa error and provide useful message"
This is the follow-up to phylotastic-portal#330, tree retrieval issue.

If the user's list does not match enough nodes in the synthetic tree, then no tree can be returned.

Providing the message from the underlying service is useful, but only for a minority of users.  Most users will not understand why their list is not working.  We need to tell them that this error often happens because the speci

[2018-08-16 20:33] arlin commented on #330
This doesn't completely diagnose the problem for me.  I'm pretty sure what is happening is that none of the original names are in the synth tree.  If I add Canis lupus and Ursus arctos to the list of 10, then I get a tree with just these two species.

[2018-08-17 14:36] arlin commented on #330
@ChasParr, where did you get that list of mustelids?  Are they all extinct?  I'm kinda surprised that none of the 10 are in OpenTree's synth tree.

[2018-08-17 14:41] arlin commented on #331
@ducvan0212, the portal is an interactive web tool, so we want to provide users with guidance at the level of how they interact with the portal (by clicking buttons, selecting files, entering text, etc), not at the level of how the portal interacts internally with web services.

In the case of Chas's list, for instance, we might want to say "Getting a tree from this list failed because we could no

[2018-08-17 16:13] arlin commented on #330
got them from taxon sampling pathway.  got 10 names.   apparently they are all extinct.  we should look into this.

[2018-08-17 20:45] arlin commented on #330
OK, this is closed.  We know why the error happened.  It is going to spawn a couple of other issues however.

[2018-08-17 20:45] #330 closed

[2018-08-17 20:48] arlin opened #333 "decision needed: treating taxa not in synth tree"
Currently we have lists that match OTT but sometimes the taxa are not in the tree if they are extinct or incertae sedis.

So, a user could have a nice list with 10 taxa from the portal itself, as in #330, but they are all extinct so no tree can be retrieved.

Consider the sources of this problem, and how to deal with it.  Make a recommendation.

[2018-08-17 20:48] arlin commented on #331
@ducvan0212 could you please move this ticket into the In Progress column on the tracker?

[2018-08-17 20:58] arlin opened #334 "Automated load testing of key portal workflows"

[2018-08-17 21:10] arlin commented on #331
@ducvan, I suggest the following error message for > 1000 names: "Your source has > 1000 names.  To maintain performance, we currently do not process lists this large.  Please find another source with fewer names."

[2018-08-17 21:12] arlin commented on #331
With respect to the other errors in the table above, these should not be appearing in the portal.  The behavior expected from a client is that it will validate commands before sending inoperable commands to services.  Therefore we should never see low-level errors about missing arguments.

[2018-08-17 21:19] ducvan0212 commented on #331
I updated the message.

<img width="696" alt="screen shot 2018-08-17 at 3 18 13 pm" src="https://user-images.githubusercontent.com/1614884/44289318-dc1fc680-a230-11e8-86ea-aa05e6b3e8e6.png">

[2018-08-30 14:45] arlin opened #335 "tree render stress test issue"
please attach problem lists here.

Find out what is the problem with these and fix it.  Replicate the problem.  See if you can render this in ETE using the Python library (etetoolkit.org).  If there is a problem, look for things like special characters, or a problem with tree syntax (could use DendroPy to check this).

Fix the problem so that trees can be rendered in the portal.

[2018-08-30 14:47] bomeara commented on #335
[subset2.txt](https://github.com/phylotastic/phylotastic-portal/files/2336637/subset2.txt)
 finds 457 taxa, renders this newick, but doesn't plot
[asdf_newick.txt](https://github.com/phylotastic/phylotastic-portal/files/2336639/asdf_newick.txt)

[2018-08-30 14:49] dimus commented on #335
These two files generated about 500 names. The unscaled tree did get generated, but the tree did not get rendered.

[2999.txt](https://www.dropbox.com/s/z8gi8tq6l18erse/2999.txt?dl=0)

[PDF (not html) from this page](https://bdj.pensoft.net/articles.php?id=8080)

[2018-08-30 15:06] LunaSare opened #336 "generate list from doc default method"
Default **method** should be NetiNeti & TaxonFinder
Current Default is NetiNeti, but it could not generate a list from an excel table with flowering plants family names.
A list is generated when using method TaxonFinder.
[_species richnness angios families susana apw 2014.xlsx](https://github.com/phylotastic/phylotastic-portal/files/2336688/_species.richnness.angios.families.susana.apw.2014.xlsx)

[2018-08-30 15:11] LunaSare opened #337 "raw html appears when hitting back button in web browser"
During the stress test this morning, raw html like the one in the attached image appeared whenever I used the browser back button. I was using google chrome browser.

<img width="1235" alt="screen shot 2018-08-30 at 10 33 00 am" src="https://user-images.githubusercontent.com/26721915/44860779-12077680-ac45-11e8-9efa-cf9d5df746f0.png">

[2018-08-30 15:16] #327 closed

[2018-08-30 15:28] arlin opened #338 "report tree retrieval separate from rendering"
The stress test today reveals that the portal sometimes fails to render a tree, or delays for a very long time.  During this time, the user actually can access the tree using Export as, but the user does not know this.  The scaled trees may become accessible also.  The tree retrieval message does not appear until *after* the tree has been rendered.

- [ ] Notify the user as soon as the tree is ret

[2018-08-30 20:51] arlin commented on #337
@ducvan0212 please move this ticket into "in progress" on the tracker

[2018-08-30 20:53] ducvan0212 commented on #337
@arlin I fixed it. Can @LunaSare please try to reproduce the raw html page?

[2018-09-05 00:14] abusalehmdtayeen commented on #335
@arlin @bomeara @dimus , I have debugged the tree rendering problem. It is indeed a newick parsing issue from ETE side. But it is not the fault of ETE. When a newick string have species names with single quotes, by the time the input string reaches ETE from portal side, these quotes get converted into ``&#39;`` which is the HTML code for Apostrophes. These codes are not recognizable by ETE parser

[2018-09-06 00:19] arlin commented on #335
Thanks @abusalehmdtayeen!  I have tested both examples and they render successfully.  However, the OT scaling takes forever and the datelife scaling returns an error.  I will open a new ticket.

[2018-09-06 00:19] #335 closed

[2018-09-06 00:22] arlin opened #339 "DateLife error not trapped in portal"
See #335 for examples of lists that give large trees of about 500 tips.  In both cases we get an error from DateLife below.

Detect this error and provide an informative error message to the user.

<img width="456" alt="screen shot 2018-09-05 at 8 14 50 pm" src="https://user-images.githubusercontent.com/1659198/45127977-6af57400-b149-11e8-8565-42531d106483.png">

[2018-09-06 02:04] ducvan0212 commented on #339
@LunaSare what should I display in portal? Can you provide an understandable message so I will put it in the portal?

[2018-09-06 14:47] #336 closed

[2018-09-06 14:48] ducvan0212 commented on #336
I updated the default method in extracting names from doc to NetiNeti and TaxonFinder

[2018-09-06 17:38] ducvan0212 commented on #339
{"message": "Error: 'results'"}

This is what I got from DateLife scaling service for Brian tree.

[2018-09-10 13:29] LunaSare commented on #339
For the first error, something like "There is not enough information to scale this tree with DateLife"
Let me check what's generating the second error...

[2018-09-13 14:02] ducvan0212 commented on #334
@abusalehmdtayeen Would you please develop the test for 2 last checkboxes as in Arlin's description? It would be easier to directly call to the services because the scaling call is asynchronous in the portal, and the getting images for trees is not going through portal.

[2018-09-20 17:27] bomeara opened #340 "allow common names"
Use the common names to species name service to allow upload of tables or lists of common names (but not web/PDF scraping) to get a species tree.

[2018-10-04 14:28] #340 closed

[2018-10-05 14:47] ducvan0212 commented on #320
The error message is all the portal got from the service. It is not the error from the portal, so in order to figure out what is wrong, I suggest to debug the library from the service. What do you think, @abusalehmdtayeen ?

[2018-10-05 14:53] abusalehmdtayeen commented on #320
@ducvan0212 , I just need to return a special status code for this specific error when it occurs in datelife. Then based on the status code you can decide whether to show the scale option in the portal or not.

[2018-10-05 14:59] ducvan0212 commented on #320
@abusalehmdtayeen I can use regex to detect the error, and display appropriate and friendly message in the portal. What message do you want to show if the error occurs, @arlin ?

[2018-10-11 14:14] ducvan0212 commented on #321
@abusalehmdtayeen

[2018-10-11 14:15] #289 closed

[2018-10-11 14:16] abusalehmdtayeen commented on #321
@ducvan0212 , Thanks for reminding me. I will do the modification.

[2018-10-11 14:16] ducvan0212 commented on #271
@abusalehmdtayeen

[2018-10-11 14:17] #267 closed

[2018-10-11 14:17] abusalehmdtayeen commented on #271
@ducvan0212 , I am currently working on this. I will let you know when your part comes.

[2018-10-11 14:19] #233 closed

[2018-10-11 14:19] ducvan0212 commented on #339
@LunaSare

[2018-10-19 17:47] LunaSare commented on #339
I'm sorry @ducvan0212, it took my a long time to debug this one. But we found the source of error. It should be working now.

Answering your original question, the most common case in which we're not gonna be able to obtain a chronogram with median or sdm is:
**"There is not enough time information in databases to get a summary chronogram for this set of taxa."**
However, this is a long message an

[2018-10-25 15:07] arlin opened #341 "common names lost upon export"

[2018-10-25 17:27] ducvan0212 opened #342 "error in common names extraction for a tree"
=> "{\"newick_tree\":\"((((((Tipularia discolor)Tipularia)Calypsoinae)Epidendreae)mrcaott334ott908,(((((Spiranthes infernalis)Spiranthes)Spiranthinae,((Ponthieva racemosa)Ponthieva)Cranichidinae)Cranichideae,(((Platanthera praeclara)Platanthera)Orchidinae)Orchideae)Orchidoideae)mrcaott335ott27841)mrcaott334ott335,(((Vanilla inodora)Vanilla)Vanilleae)Vanilloideae)Orchidaceae;\"}"

=> "{\"message\":

[2018-10-30 03:12] abusalehmdtayeen commented on #341
This has been fixed.

[2018-10-30 03:13] abusalehmdtayeen commented on #271
@ducvan0212 , I think this is done.

[2018-10-30 03:28] abusalehmdtayeen commented on #342
@ducvan0212 , I have fixed this.

[2018-10-30 03:37] abusalehmdtayeen commented on #321
Done for ETE dev service.

[2018-11-28 21:40] bomeara opened #343 "Get a TLS cert so people can connect via https"
Various browsers now scare users when going to an http site.

[2018-11-29 15:27] #342 closed, assigned to abusalehmdtayeen

[2018-11-29 15:33] ducvan0212 commented on #339
Anyway, I made the message displayed as a tooltip. You can check it out from dev server.

[2018-12-20 14:44] #321 closed

[2018-12-29 03:29] bomeara opened #344 "Matching multiple taxonomies fails"
I entered formicidae of the US in the get list function.

I get this screen:

![screen shot 2018-12-28 at 10 25 50 pm](https://user-images.githubusercontent.com/1612612/50533004-dfd12d00-0aef-11e9-9689-6c4155b56aaa.jpg)

Clicking on select generates:

![screen shot 2018-12-28 at 10 28 47 pm](https://user-images.githubusercontent.com/1612612/50533014-f8414780-0aef-11e9-9f24-009616246d83.jpg)

[2018-12-29 03:33] bomeara opened #345 "Getting a tree of Canidae fails"
I do this:

![screen shot 2018-12-28 at 10 31 48 pm](https://user-images.githubusercontent.com/1612612/50533055-6a199100-0af0-11e9-9fbd-96741ba4a988.jpg)

And go to this:

![screen shot 2018-12-28 at 10 31 40 pm](https://user-images.githubusercontent.com/1612612/50533061-77368000-0af0-11e9-814f-8df3d577bf45.jpg)

And get this when I try to view the tree:

![screen shot 2018-12-28 at 10 30 48 pm](h

[2018-12-29 04:11] ducvan0212 commented on #344
Brian, you can only select one subset method.

<img width="878" alt="screen shot 2018-12-29 at 11 05 52 am" src="https://user-images.githubusercontent.com/1614884/50533355-83572780-0b5a-11e9-9948-cff4e564cb48.png">

I guess you selected both subsetting by country and by popularity for taxon "formicidae". For avoiding confusion like yours, I updated the interface, so that you can only tick on one c

[2018-12-29 04:33] ducvan0212 commented on #345
@abusalehmdtayeen I guess the error is from OpenTree API. Should we do anything more than display the error to the user?

[2019-01-24 15:28] ducvan0212 commented on #343
@arlin @bomeara @dimus Can we purchase a SSL certificate? The cheapest certificate I find from https://www.digicert.com/order/order-1.php is about $200. Is there any cheaper options?

If we use a self-signed certificate, it is free, but the browser will still display a warning to scare users.

[2019-01-24 17:02] arlin commented on #343
yes, it seems that we should get a certificate.  ask @epontell since you guys are going to be the ones using it.

[2019-02-14 15:20] ducvan0212 opened #346 "Update uptime robot to reflect url changes in portal"

[2019-02-14 15:23] #344 closed

[2019-02-28 16:58] #343 closed

[2019-02-28 17:02] #297 closed

[2019-03-06 15:42] arlin opened #347 "Add portal issues from f2f meeting to tracker"
Let's review the meeting and identify any issues that came up.  I can think of a few:

1. single-child notes marked by dots in ETE trees are annoying.
1. we want to know what files (of species names) people are uploading
1. GDPR compliance (assign to epontell): https://www.codeinwp.com/blog/gdpr-compliance/

[2019-04-04 19:14] arlin opened #348 "remove annoying node dots on branches"
![Screen Shot 2019-04-04 at 3 10 01 PM](https://user-images.githubusercontent.com/1659198/55582051-79f6d180-56ec-11e9-955e-8d5ed7929ddf.png)
Trees are once again appearing with dots or squares for internal nodes with 1 child.  Users do not expect this and do not know what it means.  Therefore, it is confusing. Please remove it.

[2019-04-04 20:38] #347 closed

[2019-04-04 20:39] arlin opened #349 "research GDPR compliance"
As discussed at F2F meeting.  Find out what we need to do for GDPR compliance: https://www.codeinwp.com/blog/gdpr-compliance/

Then write up tickets and assign to portal developers.

[2019-04-05 00:35] bomeara commented on #348
Generally, having an option to return a tree without singleton nodes would be great -- it would fix the problem here, as well as for some of @jwiggi18's current work intended for displaying trees on EOL

[2019-04-05 23:44] abusalehmdtayeen commented on #348
I have added the singleton node removal feature by default as @bomeara suggested. I think it is fixed now. @arlin can you please test your example again?

[2019-04-06 13:18] arlin commented on #348
Thanks!
![Screen Shot 2019-04-06 at 9.17.33 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/555b5266657c0c8300c2bee1/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276454f56b7191a371f1132c4f5c5c5edd3c4a4356bcbbd671f3e57862804e0ee8d43f5a76c16842f8e9d74eea04ec208b4b87e5b5dc49d2f42f67b6d5db1063474f4dcbed5727a19041c95df34fe44853a3113160ee7f2431.png)

[2019-04-06 18:10] arlin opened #350 "new vis issues with old features"
I am noticing some issues with visualization of tips and associated menus.  Why do are the dots at the tips only rendered within the yellow box?  Why are the dots sometimes in the wrong place?

I like the round dots at the tips.  I think all tips should have them.

<img width="644" alt="Screen Shot 2019-04-06 at 2 08 56 PM" src="https://user-images.githubusercontent.com/1659198/55673404-c0c40300-5

[2019-04-11 21:43] arlin commented on #350
thanks this went away!

[2019-04-11 21:43] #350 closed

[2019-04-18 23:28] arlin commented on #348
I'm seeing this problem again. It seems to depend on the source of the tree.  Here is what to do.  Begin with this list

`
Equus caballus
Cervus canadensis
Sus scrofa
Balaenoptera acutorostrata
Balaena mysticetus
Orcinus orca
Platanista gangetica
Hippopotamus amphibius
Mirounga leonina
Hydrurga leptonyx
Phoca vitulina
Otaria byronia
Elephas maximus
Dugong dugon
Trichechus manatus
Ursus maritimus
P

[2019-04-19 22:37] abusalehmdtayeen commented on #348
@ducvan0212, I think the problem is happening because ete preserves the node actions between different calls. Since the tree is changed after scaling, sometimes the boxes remain in their old places. Can you please change the treeid every time scaling method is called. That would reset the actions and probably solve the problem.

[2019-04-20 15:09] ducvan0212 commented on #348
@abusalehmdtayeen can you check if the issue still exists?

[2019-04-22 18:26] abusalehmdtayeen commented on #348
I think the problem is fixed now. We clear the node actions when any scaling method is applied. So the user needs to apply his actions for the new version of the tree.

[2019-04-26 00:39] abusalehmdtayeen commented on #348
@arlin , if you are referring to the little misplaced dots, then we can't fix it. It is an internal issue of ETE.

[2019-05-01 23:49] arlin commented on #348
is the fix on production yet?  I tried it tonight and I still see the problem.

[2019-05-06 15:40] abusalehmdtayeen commented on #348
@arlin , I think I have finally fixed the problem. Can you please check? I want to close this issue as soon as possible.

[2019-09-10 20:28] arlin opened #351 "minor improvements to text entry"
- [x] on the main list menu, change menu item label to "Enter my list"
- [x] on the main list menu, make this item 3, before "Upload my list"
- [x] on the text input view, change page title to "Enter list manually"
- [x] on the text input view, add explanation after title, before box: "Enter a list of names into the text box below.  For best results, add a separator such as a comma or semi-colon a

[2019-09-10 21:58] ducvan0212 commented on #351
I made the changes and they are all available in production server.

[2019-09-17 19:31] arlin opened #352 "underscore issue"
from the manuscript review: consider cases in which user inputs may have underscore in place of space, as in "Homo\_sapiens".

* Identify when this might happen.
* consider how to address it
* make a plan and execute the plan

[2019-09-17 21:17] arlin opened #353 "rethink metadata, make plan"
Ideally, the metadata for a tree is downloadable in a form that users can read and process.
Consider the following and come up with a plan for (1) prioritized improvements to the portal, (2) someday-maybe improvements, (3) reply to reviewer:
* the tree metadata in the portal is not downloadable
* the format is plain text with links, no structure
* the content does not include sources and permissio

[2019-09-17 21:22] arlin opened #354 "feature request: bibtex (or other) export"
Go to google scholar profile page, select a few references, you get a pull-down menu with options to export.  We would like to have something like this for the metadata page.

Favorite options for scientists are bib and RIS.  RIS is an old format but it is still the portability standard for users of EndNote and RefMan.

Ask @arlin or @bomeara if you have questions about this.

[2019-10-01 18:55] arlin commented on #353
The plan is to enable JSON download for the metadata block.  The reference list will be handled separately.  @ducvan0212, this is what we talked about today.

[2019-10-01 18:58] arlin opened #355 "enable JSON download of metadata"
This is separate from supporting download of bibliographic data for supporting studies.

To support download of metadata
- [x] implement ability to write out metadata as JSON
- [x] add a "download" button next to "Tree info" in the metadata tab

[2019-10-01 18:58] #353 closed

[2019-10-02 19:09] ducvan0212 commented on #354
For now I can only find a conversion from DOI to bib. I didn't find any web services to convert from DOI to RIS.

[2019-10-03 19:51] #355 closed

[2019-10-03 20:17] arlin opened #356 "fix bibliography UI and export option"
the portal now has a highly useful bibliography feature, with links to OT viewer, original paper, and option to download.

- [x] check that the bibtex output is correct, e.g., use a [bib checker](https://biblatex-linter.herokuapp.com/).  Also, note that some bibtex parsers expect spaces around the "=".  Please add the spaces around "=" and the carriage returns.
- [x] put "check (uncheck) all" next

[2019-10-03 23:16] ducvan0212 commented on #356
Can you check if you can import the bibtex generated by the portal?

[2019-10-04 13:39] arlin commented on #356
The function activated by the export function does not seem to be getting up-to-date or accurate information about the number of entries selected using the checkboxes.  Sometimes I get stuck on this error message even when all the boxes are checked.
<img width="688" alt="Screen Shot 2019-10-04 at 9 37 34 AM" src="https://user-images.githubusercontent.com/1659198/66211802-bc449f80-e68a-11e9-8625-25

[2019-10-04 17:17] ducvan0212 commented on #356
@arlin It is not updated because the bibtex is generating in the server. I added the loading icon, so it looks good now.

[2019-10-04 17:54] arlin commented on #356
When I select "Export" with all the check-boxes checked, I see the spinner (image) for several minutes, with no results.  When I select just 2 entries, I can get the bibtex, but it does not parse.  I don't know why it doesn't parse.

<img width="688" alt="Screen Shot 2019-10-04 at 1 41 52 PM" src="https://user-images.githubusercontent.com/1659198/66228817-697cdf00-e6ae-11e9-9fda-49033b196dbd.png">

[2019-10-04 19:29] ducvan0212 commented on #356
@arlin Can you try to get all the study entries? I just fix the error that causes the frozen in studies querying process. Basically, a url to a study is not DOI so the portal couldn't resolve it into bib.

I also tried to parse the downloaded bib file in bib checker, and the file is parsable. I also included the bibfile in latex, and it perfectly works.

[2019-10-04 20:15] arlin commented on #356
OK, everything works now.  Closing this.  The slowness is because we get bib entries from OT, extract the DOI, then get a bibtex for the DOI?

[2019-10-04 20:15] #356 closed, assigned to ducvan0212

[2019-10-04 21:15] ducvan0212 commented on #356
I believe @abusalehmdtayeen set 1 second between each call to OT service for the studies. Before, it didn't take that long to extract all studies of a tree.

[2019-10-04 21:45] #354 closed

[2019-10-04 21:45] arlin commented on #351
thanks!

[2019-10-04 21:45] #351 closed

[2019-10-04 21:46] arlin commented on #352
we are going to punt on this, passing the issue to Global Names.  When they implement the option to treat underscores as spaces, we will allow that also.