[2016-01-20 19:17] ducvan0212 opened #1 "create initial database"

[2016-01-20 19:17] ducvan0212 opened #2 "write test for home page"

[2016-01-20 19:18] ducvan0212 opened #3 "write test for about page"

[2016-01-20 19:18] ducvan0212 opened #4 "write test for faq page"

[2016-01-20 19:21] ducvan0212 opened #5 "user authentication"

[2016-01-20 19:21] ducvan0212 opened #6 "social network integration"

[2016-01-22 17:46] #5 closed

[2016-01-22 20:13] arlin commented on #4
"write test" or "write text"?

[2016-01-22 20:48] ducvan0212 opened #7 "create tree getter view"

[2016-01-22 20:48] ducvan0212 opened #8 "write test for tree getter view"

[2016-01-22 20:49] #1 closed

[2016-01-22 20:50] ducvan0212 opened #9 "add Tree model"

[2016-01-23 00:39] ducvan0212 commented on #4
I will try to apply test-driven development for the web portal. Test should be written before model, view and controller are developed but we havenot choosen which test framework to be used. Cucumber, Travis and Capybara are under consideration.

[2016-01-26 14:23] ducvan0212 opened #10 "make header"

[2016-01-26 14:23] ducvan0212 opened #11 "make footer"

[2016-01-26 14:23] ducvan0212 opened #12 "split partial in tree viewer"

[2016-01-26 14:23] #7 closed

[2016-01-26 14:23] #9 closed

[2016-01-26 14:23] ducvan0212 opened #13 "construct tree viewer"

[2016-01-26 14:25] ducvan0212 opened #14 "add styles for tree getter view"

[2016-01-26 14:26] ducvan0212 opened #15 "add styles for tree viewer"

[2016-01-28 15:51] arlin commented on #4
OK, part of our (UMD) job in the project is to help out with the content of the tests.  We should start discussing that right away.

[2016-01-28 19:34] ducvan0212 opened #16 "basic view for submitting file or web page scenario"

[2016-01-28 19:35] ducvan0212 opened #17 "write test for RawExtraction"

[2016-01-29 21:53] arlin commented on #15
This ticket is in progress but is not assigned to anyone.  Is @ducvan0212 working on this?

[2016-02-01 19:08] #10 closed

[2016-02-01 20:43] ducvan0212 opened #18 "initial background processing"
Boost processing speed, increase user experience

[2016-02-02 00:59] ducvan0212 opened #19 "file management in database"

[2016-02-02 00:59] #18 closed

[2016-02-02 13:53] #19 closed

[2016-02-02 19:14] ducvan0212 opened #20 "initial websocket"

[2016-02-04 22:13] arlin opened #21 "develop plan to discover requirements"
Develop a plan to identify use-cases (working with stakeholders), and extract requirements for the generalized web UI.

[2016-02-09 08:32] #20 closed

[2016-02-09 08:32] ducvan0212 opened #22 "polling for status of tree"
Automatically poll to web server in a interval of 10 seconds to get status of trees which have not had status "completed" yet. There are also buttons to check status manually

[2016-02-09 08:32] #14 closed

[2016-02-09 08:33] #11 closed

[2016-02-09 08:35] ducvan0212 opened #23 "notification in desktop"
When names are extracted from a tree or a tree is constructed, there will show up a small notification box.

[2016-02-09 08:40] ducvan0212 opened #24 "call actual services"

[2016-02-09 14:46] arlin commented on #22
pool = poll?

[2016-02-09 14:53] arlin commented on #21
Dail, please put your plan in the phylotastic/phylotastic repo and close this issue.  Use a generic description of the plan without any names of people (no names in the public repo).

[2016-02-09 17:01] hdliv commented on #21
Plan of action:
	Create new use-cases with information from the community
              - develop requirements of all of the use-cases gathered
       To get this variety of use-cases that are representative of what the end user wants/needs, the community will be contacted
       - Who are the end- users? they are  Scientists, Curators, general public and educators
       - With the feedback from

[2016-02-09 17:02] hdliv commented on #21
The initial e-mail has gone to 22 potential users

[2016-02-09 18:26] ducvan0212 commented on #22
I fixed it. Thank you, Professor.

[2016-02-09 18:28] ducvan0212 opened #25 "deploy to heroku for temporary demonstration purpose"
https://stark-wave-94333.herokuapp.com

[2016-02-10 12:25] ducvan0212 opened #26 "call web services"

[2016-02-10 14:37] ducvan0212 commented on #25
No Redis server to run background job so there is error.

[2016-02-10 22:00] arlin opened #27 "install rails, try web UI"
Following directions at https://gorails.com/setup/osx/10.9-mavericks

[2016-02-10 22:02] arlin commented on #27
Significant hassle installing Ruby 2.2.3 on OSX 10.9.5.  It all has to do with where the OpenSSL library came from, and whether the headers get read.   Use

 RUBY_CONFIGURE_OPTS=--with-openssl-dir=/opt/local rbenv install 2.2.3

[2016-02-10 22:07] epontell commented on #27
Does it install out of MacPorts?

From:  Arlin Stoltzfus <notifications@github.com>
Reply-To:  phylotastic/phylotastic-portal <reply@reply.github.com>
Date:  Wednesday, February 10, 2016 at 3:02 PM
To:  phylotastic/phylotastic-portal <phylotastic-portal@noreply.github.com>
Subject:  Re: [phylotastic-portal] install rails, try web UI (#27)

Significant hassle installing Ruby 2.2.3 on OSX 10.9.5.  I

[2016-02-10 22:13] arlin commented on #27
Yeah, I must have used MacPorts at some point in the past.  That was exactly the issue.  However, it took me 45 minutes to figure out.

[2016-02-10 22:39] arlin commented on #27
phylotastic-portal uses postgresql.  that took some time to install.  Had to install with homebrew then
env ARCHFLAGS="-arch x86_64" gem install pg -v '0.17.1'

[2016-02-10 22:43] arlin commented on #27
Success!  Running Van's web tool on my laptop!

[2016-02-10 23:05] ducvan0212 commented on #27
@arlin To run background jobs, you need to run "redis-server" command in a terminal and "bundle exec sidekiq" in another one.

[2016-02-10 23:08] arlin commented on #21
Dail, when you are done putting a write-up of your plan in github (probably somewhere in phylotastic-portal), then you can move this ticket into "Review"

[2016-02-11 12:38] hdliv commented on #15
is the treeviewer going to be interactive, where the user can move around branches  and root on different tips.

[2016-02-11 12:40] hdliv commented on #13
i think my comment on #15 applies here too

[2016-02-11 21:11] #27 closed

[2016-02-11 21:54] #16 closed

[2016-02-12 22:46] abusalehmdtayeen opened #28 "Install Ruby and Rails on phylo server"
Install ruby, rails and other necessary packages on phylo server to host Van's web portal.

[2016-02-12 23:32] hdliv commented on #21
under design in the portal
closing ticket

[2016-02-12 23:32] #21 closed

[2016-02-15 03:14] ducvan0212 commented on #25
no need because portal will be installed in nmsu server

[2016-02-16 20:14] abusalehmdtayeen commented on #28
Ruby and Rails has been installed on Phylo server. Need to install Unicorn and Nginx to deploy portal application.

[2016-02-17 14:47] ducvan0212 opened #29 "selecting species table in tree getter view"
After extracting, users are allowed to choose which species will be included in tree.

[2016-02-17 14:49] ducvan0212 commented on #26
Need to improve error handling in web service. Call loopback ip and from then on, only Timeout response echoed back

[2016-02-18 18:37] abusalehmdtayeen commented on #28
Web portal is running in http://phylo.cs.nmsu.edu:3000

[2016-02-18 22:05] #28 closed

[2016-02-20 03:06] ducvan0212 opened #30 "URI validation"

[2016-02-20 03:07] #30 closed

[2016-02-24 20:36] arlin opened #31 "add instructions to readme"
I sketched out a rough version of instructions for installing and running the portal app.  Someone else needs to check this and expand it.

[2016-02-24 21:46] arlin opened #32 "finish outreach plan"
Include specific deliverables for Q1 and Q2 in 2016

[2016-02-24 21:47] arlin commented on #32
i put this in the wrong repo.  sorry.

[2016-02-24 21:47] #32 closed

[2016-02-25 20:41] ducvan0212 opened #33 "tree representation and interaction"
Display tree and allow user interact with it

[2016-02-25 20:42] ducvan0212 opened #34 "build tree from pre-compiled lists view"

[2016-02-25 20:42] ducvan0212 opened #35 "build tree from taxon view"

[2016-02-25 21:05] ducvan0212 commented on #31
I added more details in README.md, if there is something that needs to improve, please dont hesitate to modify README.md file

[2016-02-25 21:27] ducvan0212 opened #36 "config.yml"
I ignored this file because config.yml contains url to web services. These endpoints should not be exposed to outside world. The content of config/config.yml is pasted following

development:
  sv_findnames:
    url: "http://phylo.cs.nmsu.edu:5004/phylotastic_ws/fn/names_url?url="
    method: "get"
  sv_resolvenames:
    url: "http://phylo.cs.nmsu.edu:5004/phylotastic_ws/tnrs/ot/names"
    method:

[2016-02-25 21:49] arlin commented on #31
Thanks!  I will try to do a clean install on another machine to test the instructions.

[2016-02-25 22:57] arlin commented on #36
This works.  Thanks.

[2016-02-25 23:01] arlin commented on #31
I'm getting an error.  The nature of the messages suggests that there is a typo in application_controller.rb

camel14:phylotastic-portal arlin$ bundle exec sidekiq
/Library/Ruby/Gems/2.0.0/gems/activesupport-4.2.3/lib/active_support/dependencies.rb:457:in `load': /Users/arlin/github/local/phylotastic-portal/app/controllers/application_controller.rb:7: syntax error, unexpected ':', expecting => (Sy

[2016-02-26 03:53] ducvan0212 commented on #31
I fixed this error, Professor.

[2016-02-26 03:53] #35 closed

[2016-02-29 04:33] ducvan0212 opened #37 "Save tree as png image to disk"

[2016-02-29 21:19] ducvan0212 opened #38 "save tree view"
Save tree image to server and display in gallery

[2016-02-29 21:19] #33 closed

[2016-02-29 21:20] #13 closed

[2016-03-01 02:59] ducvan0212 opened #39 "tree construction with taxon"
Works but not complete in popularity species selection because of lack of database

[2016-03-01 20:42] arlin commented on #15
could you push to the server, please?  I'm not seeing anything different with the tree viewer.

[2016-03-01 21:05] hdliv commented on #29
with 8 tests, the web portal extraction is returning unsucessfully-resolved and unsucessfully-extracted for .pdfs and urls.  .doc are resolve but there are no taxa in the prune tree

[2016-03-01 21:38] arlin opened #40 "improvements to "trees" (jobs) view"
Currently there is a view available at <server>/trees, which shows a table of the user's jobs.  I did not realize for a long time that this is accessible via the "Gallery" navbar item.  The conception of "gallery" in the design for the web UI was more of an image gallery.  To me this looks like a list of jobs.  I would call this view "Jobs" and try to design the system so that the user does not ne

[2016-03-01 21:49] arlin commented on #22
This feature seems to be working, but it is difficult to tell.  Most operations either resolve quickly or get stuck and take a long time.

[2016-03-01 22:03] arlin commented on #29
Name extraction frequently fails.  When the name-selecting table appears, it allows me to select names (including select all and unselect all).  However, I do not know if the selection actually works because I have not yet seen the effect on the downstream tree.  Please provide an example that is guaranteed to work so that we can test whether name-selection is effective.

[2016-03-01 22:06] arlin commented on #23
The notification boxes work!

However, there are some anomalies and annoyances.  First the title of the notification box is always "Tree #<id> is ready", even if this notification is for name extraction.

Also, if there are incomplete jobs.  The notifications re-appear each time the user logs in again or returns to the trees view.

[2016-03-01 22:22] arlin commented on #29
OK,  I created two simple text files in phylotastic-portal/examples, one with names for eleven plant species, and the other with names for 30 pet species.

With these I have verified that name selection works.   Thanks.  This is a good feature.  I wonder if we could combine it with the taxon match report?

[2016-03-01 22:29] arlin commented on #37
This is not working for me.  If I press the "save tree to disk" button, I am routed back to the home view without any notification, and no new png files are created on my computer.

[2016-03-01 22:43] arlin commented on #25
@ducvan0212, if this is invalid, could you move it into the "Done" column please?

[2016-03-01 22:47] arlin opened #41 "remove ottIds from display names on trees"
Rather than showing "Grammostola_rosea_ott124289" at the tip of a tree, show "Grammostola rosea".

[2016-03-01 22:55] ducvan0212 opened #42 "facebook integration"
login, like and share

[2016-03-01 23:20] arlin commented on #39
I'm not seeing this.  All I get is "Sorry! Service is unavailable. We will fix it soon."

I added a separate ticket to set up the popularity database.  We need to coordinate that with other groups.

[2016-03-01 23:38] arlin opened #43 "name list internal clash"
I was testing the portal using two simple test files from the examples directory, eleven_plant_species.txt and thirty_pet_species.txt.  At one point, I started to extract from the second file while the first job was still being processed.  Somehow the wires got crossed and now the only name that appears in the species listed from eleven_plant_species.txt is Canis lupus (wolf), which is not a plant

[2016-03-02 20:50] ducvan0212 commented on #41
I filtered only the name of species in tree viewer. Thanks you for notifying me about this

[2016-03-02 20:53] ducvan0212 commented on #40
Current view is just temporary and your suggestion is very helpful in re-designing the user interface of Job page. I appreciate that

[2016-03-02 21:04] ducvan0212 commented on #42
If anyone want to test this feature, please provide me your fbid so I can add you to be a tester or developer of Phylotastic Portal facebook app. Currently, our facebook app is not public so there is a limit in access

[2016-03-02 21:15] arlin commented on #43
This is resolved.  The problem was on my end.   The contents of the file had been replaced by accident.

[2016-03-02 21:15] #43 closed

[2016-03-02 21:48] ducvan0212 commented on #40
Currently, the gallery tab points to "listing of your trees" page. It will point to "listing of trees which  you like to follow" soon

[2016-03-02 21:49] #25 closed

[2016-03-02 21:54] ducvan0212 commented on #29
I totally agree to integrate name selection to taxon matching report.

[2016-03-02 22:06] arlin commented on #41
This is much cleaner!  But users will want the entire "binomial" name, with two parts.  For instance, for the eleven_plant_species example I should see "Agave americanus" instead of just "Agave", and so on.  The names we get from OT are <genus>_<species>_ottID<number>, and we want to display <genus> <species>.

[2016-03-02 23:09] arlin commented on #36
Other things are working now.  The database is no longer the problem.  So this is finished.

[2016-03-02 23:10] arlin commented on #31
instructions updated to include how to create db and user, edit config file.  I took out the detailed ruby installation instructions because these were ubuntu-specific and were copied from another site anyway.  I just kept the URL for that.

[2016-03-02 23:14] arlin commented on #37
OK, now this feature is available.  I have tested it and found that it works.  Nice job.

[2016-03-02 23:15] arlin commented on #38
image doesn't display in gallery.  there is a button to launch the tree-viewer view.

please provide more information about what is intended here.  thanks.

[2016-03-02 23:24] arlin opened #44 "embedded viewer frame bug"
Extract names from examples/thirty_pet_species.txt, select all, get tree.  Expand all of the collapsed nodes.  The viewer does not have enough space, and the right side of the tree gets cut off.  This does not have to do with the width of the browser window.

If you can't reproduce this, I will send an image.

I suspect that this bug was induced when the decision was made to provide an initial vie

[2016-03-03 02:25] ducvan0212 commented on #44
I kept aware of that issue. It is not a bug anyway. I fixed width and height of displaying area. Making space for interaction with tree dynamically change needs a lot more time and work so lets keep this issue on track. Thanks.

[2016-03-03 09:18] ducvan0212 commented on #41
Every specie names looks good now.

[2016-03-03 09:24] ducvan0212 commented on #38
To have a image to display in gallery, users have to save that image (by clicking on "Save tree view") from tree-viewer view after interacting with the tree.

[2016-03-03 11:12] ducvan0212 commented on #44
Ok, I made the tree viewer scale both width and height automatically whenever there is an expansion in number of nodes in graph. Following expansion of width may be sometimes more "comfortable" than following expansion of height because it is impossible to direct screen of user follow the movement of nodes. For instance, you open a parent node which has 1000 children node then your screen will sta

[2016-03-03 21:04] #22 closed

[2016-03-03 21:06] #29 closed

[2016-03-03 21:11] #38 closed

[2016-03-03 21:13] #41 closed

[2016-03-03 21:13] #36 closed

[2016-03-03 21:13] #37 closed

[2016-03-03 22:02] arlin commented on #44
Yes, this works now.

[2016-03-04 16:44] arlin commented on #44
this is a small thing, so I'm going to move it directly to done, OK?

[2016-03-04 16:44] #44 closed

[2016-03-08 01:34] ducvan0212 opened #45 "Add tree to Gallery, remove from Gallery"

[2016-03-10 15:10] ducvan0212 commented on #40
I made some changes as your recommendations. I think the user interface of this web page is still need to be improved

[2016-03-10 15:11] ducvan0212 opened #46 "delete a job"
will delete all trees associated with a job

[2016-03-10 15:12] ducvan0212 opened #47 "delete a tree"

[2016-03-10 15:12] ducvan0212 opened #48 "create a tree from a specific job"

[2016-03-10 18:49] ducvan0212 opened #49 "Search for trees"
Enter a keyword that will be searched in species list or description of tree

[2016-03-10 20:07] arlin commented on #40
Yes, I think the "jobs" view is much better.  Is "delete" supposed to work?  I can't get it to work.

[2016-03-10 21:31] ducvan0212 opened #50 "talk to OpenTree about limit of tree construction"

[2016-03-14 18:11] arlin commented on #39
OK, I learned last Thursday that one has to select the "I want to use all of found species in that taxon" option.  However, I cannot get this to work.  I am using the taxon "Felidae" (cat family, including lions, tigers, bobcats, etc).  I can get a list of species, but the tree is always empty.  This is probably because the list is (for some strange reason) only extinct species.  I will post this

[2016-03-14 18:24] arlin commented on #39
I was able to get this to work with Panthera or Felis, which are genera within the family Felidae.

[2016-03-14 18:25] arlin commented on #40
Yes, I can confirm that delete works.

[2016-03-14 18:25] arlin commented on #40
I get the "View tree" and "Delete tree" options even when no tree has been acquired yet.

[2016-03-14 18:28] arlin commented on #46
yes, this works.

[2016-03-17 15:08] hdliv commented on #34
@ducvan0212   do you have the lists, or should i send you others?

[2016-03-17 15:13] arlin commented on #34
@hdliv, the lists are going to come from the list server, which has the lists you sent to @abusalehmdtayeen .  If you have some good examples, add them to the list server.  We will want the web tool to provide the user with a set of interesting lists for making trees.

[2016-03-17 15:15] hdliv commented on #34
I guess my question is then @abusalehmdtayeen  Do you want more lists?  I can send more.

[2016-03-17 15:27] arlin commented on #34
my question is @hdliv, do you have an awesome list that would really improve the user's experience with the web tool?  Right now, this is the sole purpose of the list server.

[2016-03-17 15:43] hdliv commented on #34
we have spoken a bit about birds because of enthusiasts, and we do not have a bird list @arlin

[2016-03-17 17:23] arlin commented on #45
I have tested this feature and it works!

[2016-03-17 17:32] arlin commented on #47
Yes, this works, but please remove the "delete tree" option from the list of "available actions" for  jobs that do not have a tree.

[2016-03-17 17:37] arlin commented on #48
Yes, this feature works.

[2016-03-17 17:37] arlin commented on #49
Yes, this feature works!

[2016-03-17 18:23] abusalehmdtayeen commented on #34
@hdliv , If you have more lists, you can send it to Van. He will integrate my species list services with the web portal. So he will need some files to test the import process. I would also suggest you to keep some files with you. When Van finishes the integration, you can test import those as a user.

[2016-03-17 20:18] #39 closed

[2016-03-17 20:18] #45 closed

[2016-03-17 20:18] #23 closed

[2016-03-17 20:18] #46 closed

[2016-03-17 20:18] #47 closed

[2016-03-17 20:19] #48 closed

[2016-03-17 20:19] #49 closed

[2016-03-21 03:05] ducvan0212 commented on #40
Would you please provide me the tree id of this case? In my code, I allow "View tree" only when the tree is acquired.

[2016-03-21 03:06] ducvan0212 opened #51 "style for sign in, sign up, forgot password view"

[2016-03-21 03:06] #51 closed

[2016-03-21 15:04] arlin commented on #24
@ducvan0212, could you please describe this issue, using the description box above?

[2016-03-24 18:01] ducvan0212 opened #52 "returned string is not in JSON format"
https://drive.google.com/file/d/0B7SKJwE3SsCsUHdTOHl5TG9rTEE/view?usp=sharing

[2016-03-24 18:02] #12 closed

[2016-03-24 18:04] ducvan0212 commented on #24
Never mind! I created placeholders for some services that are under-developed and after receiving documentations from Abu, I will replace them with "real" web services call. This card is just for reminding purpose.

[2016-03-24 18:29] ducvan0212 commented on #52
https://drive.google.com/file/d/0B7SKJwE3SsCsUHdTOHl5TG9rTEE/view?usp=sharing

[2016-03-24 18:30] ducvan0212 commented on #52
@abusalehmdtayeen  Would you please give it a look?

[2016-03-24 18:37] abusalehmdtayeen commented on #52
@ducvan0212 , this has been fixed. Please check again.

[2016-03-27 00:44] ducvan0212 opened #53 "Building trees from pre-built list"
Model, controller and call to actual services.

[2016-03-27 00:46] #52 closed

[2016-03-27 00:46] #15 closed

[2016-03-27 00:51] ducvan0212 commented on #34
This feature is available on the server. I just test it in my local machine.

[2016-03-28 14:49] arlin commented on #24
so this issue is in progress?

[2016-03-31 17:13] ducvan0212 opened #54 "edit species in a list"

[2016-03-31 19:54] hdliv opened #55 "installing portal on new (old) mac"

[2016-03-31 19:55] hdliv commented on #55
installing dependencies now

[2016-04-04 18:00] ducvan0212 opened #56 "add a species image to nodes of tree"

[2016-04-05 13:26] arlin commented on #40
@ducvan0212, I haven't been responding to this because it hasn't been a priority.  We want to delay any UI improvements until the 3 basic portal workflows are implemented.  Once the 3 workflows are implemented, @hdliv and I can test them.  When the workflows have passed basic tests, then we will be ready to start working on (1) adding features and (2) UI redesign.

[2016-04-05 13:36] arlin commented on #53
this duplicates #34

[2016-04-05 13:37] arlin commented on #34
@ducvan0212, please provide us more information so that we can try this.  We want to provide the user with specific examples, e.g., birds of Maryland.  I do not see any lists.   Here is what I see when logged in to the portal
<img width="823" alt="screen shot 2016-04-05 at 9 27 14 am" src="https://cloud.githubusercontent.com/assets/1659198/14283592/effd0262-fb11-11e5-904a-f3d413c48680.png">

[2016-04-05 14:14] arlin opened #57 "list processing error"
1. Upload zip archive of species list
2. Notification says "Your list can not be imported" and jobs view says "Importing error! Please check again your file content."

Note that, for purposes of testing, this is a list of 10 randomly chosen extinct species from PaleoDB.  We expect to find names in GNRD but we do not expect to get trees.

If this is actually a bug in the list-processing web service

[2016-04-05 14:27] arlin commented on #57
BTW, @ducvan0212, I am assuming that the list is properly formatted, because it was composed by editing the example provided.   I have tried saving the files with Mac, Unix and Windoze line-endings, but nothing works.  @abusalehmdtayeen, can you check that the files are properly formatted?

[2016-04-05 14:31] arlin commented on #57
I have verified that processing works for the case of using the template as an example.  I can download this, zip it on my mac, and upload the zip file to the portal.  The portal processes the example and produces  a visible species list.

[2016-04-05 14:46] arlin opened #58 "jobs view error"
I have tried numerous list uploads that have failed.  They do not show up in my jobs list.  However, I know that the jobs are still there, because the portal tries to re-process every input whenever the jobs view loads, and then it sends me notifications .  So I see many "Your list can not be imported" notifications even though the jobs are not visible in my jobs view.

[2016-04-05 14:48] arlin commented on #57
I have noticed a separate issue whereby my unsuccessful lists are invisibly present in the jobs queue. I continue to get notifications but they do not appear in the jobs view.  I added this as a separate ticket (#58).

[2016-04-05 15:21] ducvan0212 commented on #58
I took a look and it said that your date is invalid. Would you please provide your date written in your files?

[2016-04-05 15:22] ducvan0212 commented on #58
Can I see your files?

[2016-04-05 15:24] ducvan0212 commented on #40
It is fine, professor.

[2016-04-05 15:35] ducvan0212 commented on #34
To create a list of species, you have to submit your file compression on the right form.
- If you want others also use your list, check the opt "Allow others to watch this list". If submitted successfully, your list will available in both "From your own list" and "From our database" sections.
- If you kept your list privately, your list will not be public and it will be only available under "From

[2016-04-05 15:37] arlin commented on #58
attached to #57

[2016-04-05 15:38] ducvan0212 commented on #34
I just created a public list. Can you see it under "From our database"?

[2016-04-05 15:38] arlin commented on #58
BTW, I think you are asking about #57 here, failure to process.  The fact that the jobs are not visible seems like a completely separate issue, which is why I created #58.

[2016-04-05 15:40] arlin commented on #34
Yes, I can see it. Thanks.  Have you tried to make a tree from it?  I get an error.

[2016-04-05 15:41] arlin commented on #34
ActionController::UrlGenerationError in Trees#index
Showing /home/van/phylotastic-portal/app/views/trees/_prebuilt_list_content.html.erb where line #29 raised:

No route matches {:action=>"show", :controller=>"uploaded_lists", :id=>nil} missing required keys: [:id]
Extracted source (around line #29):
27
28
29
30
31
32

          <% when 2 %>
            <%= link_to "View species of list", uploaded

[2016-04-05 15:49] arlin commented on #34
BTW, if this is a date problem then it is probably due to an Excel conversion of 4/5/2016 to "5-Apr-16". I have fixed this and tried again, but I'm still getting database errors that are completely unrelated.

[2016-04-05 15:50] arlin commented on #34
@ducvan0212, I'm going to be working on other projects for the rest of the day.  I'll get back to this tomorrow however.  Good luck.

[2016-04-05 16:43] ducvan0212 commented on #34
I found the error. It is because of incompatibility between database in my local machine and database in server. For example, your user id is 1 in server but in my machine, I am the user who has id 1. We have only one service for development, test and production so these data are not synchronize. I am fixing this error by manually modify records in service of Abu. Hope it will work back soon. Sorr

[2016-04-05 17:25] abusalehmdtayeen commented on #57
@arlin: The file format seems correct to me. You can try by saving the file as Plain CSV or Windows Comma Separated (.csv) format. Because the end-of-line convention in a file are different under different systems (e.g., \n under Linux, \r under Mac and \r\n under Windows).  The client which is reading the CSV files should use universal mode for opening the files.

[2016-04-05 17:30] abusalehmdtayeen commented on #57
@arlin; I forget to mention that the list file should contain valid date value for the list_date_published field.

[2016-04-05 17:40] arlin commented on #57
Yes, that is the problem.  The file had "NA" for the date published field because this was a personal list, not something published.  When I replaced that with a date, it worked.

However, this is not ideal.  I will write a separate ticket to rethink this.

[2016-04-05 17:44] arlin commented on #34
ok, we should close #57 on this basis, and write another ticket to (1) set up a test server that is separate from Van's development server and (2) configure the test environment so that this problem does not happen.  @ducvan0212 , could you do that please?

[2016-04-05 17:58] ducvan0212 opened #59 "set up a test prebuilt-list service"
Data is not uniformed when requests which come from my local machine (test env) and the server (production env) will be saved on only a database.
Refer to #34

[2016-04-05 18:00] ducvan0212 commented on #34
I create #59 to ask @abusalehmdtayeen  to create a development service.
I did a hot fix so as I tested, the server works on prebuilt-list case but in my local machine, I got the "expected" error.

[2016-04-05 18:13] abusalehmdtayeen commented on #59
Right now, the species list services already save data in only one database in the server. @ducvan0212 : I did not understand what you want me to do. Please explain more about this issue.

[2016-04-05 18:35] arlin commented on #59
@abusalehmdtayeen, the context for this is that we are using Van's single-user development environment as a multi-user test environment.   When both Van and I are using the server, there are conflicts.

[2016-04-06 12:23] #57 closed

[2016-04-06 12:33] arlin commented on #53
this is completed, right?  I have tested the ability to upload a list and get a tree.  If complete, please move this to Review, @ducvan0212

[2016-04-06 12:34] arlin commented on #34
@ducvan0212 ,  I think this feature has been implemented.  Could you please move this to Review?

[2016-04-06 18:12] #34 closed

[2016-04-06 18:12] #53 closed

[2016-04-06 18:12] #54 closed

[2016-04-06 18:46] arlin commented on #56
that sounds great! but I'm not seeing an images for my "Felidae" taxon tree.  Can you provide an example, please?

[2016-04-06 21:52] ducvan0212 commented on #56
When you hover your pointer(mouse) in nodes of tree, there will be shown a small information circle. Click on that and a image will be displayed. Click again to dismiss the image. It worked but for now, I can not get the images of species because Abu is still working on image service so I replace the images with a image stored in the server.

[2016-04-08 19:42] ducvan0212 opened #60 "Genome NCBI use case"

[2016-04-08 19:46] ducvan0212 commented on #60
@abusalehmdtayeen Would you please give me more information and description of this use case so that I can start working on it.
I also tag Prof. @arlin so he can give his comments or modifications in case he wants.

[2016-04-08 19:56] ducvan0212 commented on #59
This is solved by taking user identification as email

[2016-04-08 19:57] #59 closed

[2016-04-09 16:53] abusalehmdtayeen commented on #60
@ducvan0212: Let me create the web service for this case first. Then I can write the description and you can integrate it with the portal.

[2016-04-13 16:26] hdliv opened #61 "Update/Design web UI requirements"
web UI requirements were identified in #84.

this ticket is to analyse the current design in relation to feedback from the community

[2016-04-13 17:52] #6 closed

[2016-04-13 17:57] ducvan0212 commented on #61
I did not find where the issue is, @hdliv

[2016-04-13 17:58] hdliv commented on #61
no issue @ducvan0212 .  ... just that arlin and i are going to look at design again

[2016-04-13 19:54] hdliv opened #62 "change tree format"
The tree should be in the format that is more common in systematics, which are square.

[2016-04-13 19:54] hdliv commented on #62
![img_1386](https://cloud.githubusercontent.com/assets/6361361/14507318/0aa31488-0190-11e6-985f-dad16b0376da.jpg)

[2016-04-13 19:55] hdliv commented on #62
[Fig. 13 Tree Werner et al.  (Phycologia Manuscript PH11-10) - July 2011.pdf](https://github.com/phylotastic/phylotastic-portal/files/217856/Fig.13.Tree.Werner.et.al.Phycologia.Manuscript.PH11-10.-.July.2011.pdf)

[2016-04-13 19:55] hdliv commented on #62
![img_1371](https://cloud.githubusercontent.com/assets/6361361/14507343/310140d2-0190-11e6-8bd1-4c1cfb14f569.jpg)

[2016-04-13 20:08] hdliv opened #63 "change notification on job page"
change the way the notifications are announced when we enter jobs page.

[2016-04-13 20:09] hdliv commented on #63
@ducvan0212

[2016-04-13 20:10] hdliv commented on #62
@ducvan0212

[2016-04-13 20:16] hdliv opened #64 "add About page"

[2016-04-13 20:17] hdliv opened #65 "Add FAQ page"

[2016-04-13 22:20] abusalehmdtayeen commented on #60
@ducvan0212 , The use case for taxon to species having genome sequence is similar to taxon to all species. The user will give a taxon name as input and click on the option to get subset of species that have genome sequence in NCBI. My web service will return that for you. From that step you follow the usual work flow which is to resolve through Open Tree and get tree.  I have added the API descrip

[2016-04-14 18:37] arlin opened #66 "jobs view freeze"
Occasionally the jobs view becomes unusable in Chrome on OSX (Version 49.0.2623.87 (64-bit)).

When I click on an item (any item), the URL changes from <host>/trees to <host>/trees#, but nothing happens.  This makes the jobs table unusable, because I can't access anything.

This behavior does not occur reliably.  I have not been able to figure out what triggers it.

The expected behavior is that c

[2016-04-14 19:10] arlin opened #67 "redundant notifications"
when the jobs view is activated, and the portal tries to run all the jobs again, there are redundant notifications.
![screen shot 2016-04-14 at 3 09 02 pm](https://cloud.githubusercontent.com/assets/1659198/14540459/1caeb0f6-0253-11e6-93a0-993059b137ef.png)

[2016-04-14 19:12] arlin opened #68 "list of examples is empty"
When the user goes to the pre-bullt lists workflow, we want them to see a list of examples that they can choose from.  Currently the list is empty.

![screen shot 2016-04-14 at 3 11 40 pm](https://cloud.githubusercontent.com/assets/1659198/14540497/4f2f3b22-0253-11e6-9ea2-f92921f81417.png)

[2016-04-14 19:42] arlin opened #69 "database error upon list upload"
1.  attempt to upload attached list (see comment)
2. get database error

NoMethodError in Trees#index
Showing /home/van/phylotastic-portal/app/views/trees/_prebuilt_list_panel.html.erb where line #10 raised:

undefined method `id' for nil:NilClass
Extracted source (around line #10):
8
9
10
11
12
13

  <% end %>

  <a href="#" class="list-group-item" id="job-in-nav-UploadedList-<%= ul.id %>">
    <

[2016-04-14 19:43] arlin commented on #69
[Top20.zip](https://github.com/phylotastic/phylotastic-portal/files/219831/Top20.zip)

[2016-04-14 20:23] hdliv commented on #68
+1 @arlin that started yesterday in the afternoon, since I was able to test and then afterwards I saw the same problem

[2016-04-15 13:26] ducvan0212 commented on #62
The tree now looks like your description. Thanks for your comment.

[2016-04-15 17:12] hdliv opened #70 "error message on 'jobs' tab"
I am getting an error message when i click on the Jobs tab

[2016-04-15 17:13] hdliv commented on #70
<img width="1119" alt="screen shot 2016-04-15 at 13 11 41" src="https://cloud.githubusercontent.com/assets/6361361/14569292/c5743428-030b-11e6-8207-150f7f3f044c.png">

[2016-04-15 17:14] hdliv commented on #66
@arlin I am not sure if this is related or an independent issue that I posted in ticket #70

[2016-04-15 17:15] hdliv commented on #62
@ducvan0212 I will move this ticket over to in review

[2016-04-15 18:24] ducvan0212 commented on #68
For now, portal is very sensitive with any change in Abu species service. Abu made some changes and I have to fix conflicts in data first. I can bypass that error but I am not sure ignoring the error in development is a good choice.

@abusalehmdtayeen Is there any way to update species list information in portal automatically when you make some changes in your service? Everytime I checked, the pro

[2016-04-15 18:35] arlin commented on #56
I have tested this yesterday morning and found that it works.  Thanks . We need to change the layout but this is good for now.  A very useful feature.

[2016-04-15 18:36] #56 closed

[2016-04-15 18:53] hdliv commented on #62
@ducvan0212    @arlin  and I both looked at the screenshot you sent and I am moving this ticket back to done.  the tree looks great!! thanks

[2016-04-15 18:53] #62 closed

[2016-04-15 19:18] arlin commented on #68
@ducvan0212 , I would suggest to think about the design of this interaction differently.  The portal presents the user with any available public lists.  This can be supplied by querying the list server.  When the user selects a list, and the portal acquires the content of the list, the portal must keep a copy of the data with its own internal ID.  This is a requirement because the user can edit th

[2016-04-15 21:27] ducvan0212 opened #71 "species service bug"
Get a list:

"list_extra_info"=>"",
 "list_keywords"=>["bird", "endangered species", "Everglades"],
 "list_curator"=>"HD Laughinghouse",
 "list_origin"=>"webapp",
 "list_curation_date"=>"02-24-2016",
 "list_source"=>"Des",
 "list_description"=>"A list on the bird species add their endangered, threatened or invasive status",
 "list_focal_clade"=>"Aves",
 "list_id"=>12,
 "list_author"=>["Bass", "O.

[2016-04-15 21:28] abusalehmdtayeen commented on #68
@ducvan0212 , When you reported that no public lists were found through the service, I checked the server database and found that there is no data about any lists. The only reason for that might be someone deleted those lists while testing the service APIs. So I imported the 7 lists that Dail sent me into the database again and thus the list ids changed.

[2016-04-16 05:16] ducvan0212 opened #72 "tree construction service"
![screen shot 2016-04-15 at 11 14 34 pm](https://cloud.githubusercontent.com/assets/1614884/14579277/1cc78f50-0360-11e6-8812-8cd0dfbb5420.png)

It is because the tree construction returned "{\"message\": \"The following OTT ids were not found: [xxxxxx]. \", \"newick\": \"\"}". I guess the root of this problem is migration of newer OT version

[2016-04-16 05:22] ducvan0212 commented on #72
One more thing, the request itself has response code 200 so I dont know that the tree can not be constructed. Thus, I still allow users to view the tree.

[2016-04-16 05:24] ducvan0212 commented on #65
Dail, would you please send me content of this page?

[2016-04-16 15:43] ducvan0212 commented on #67
It is not a bug. I intended that. But I did some changes in notification display.

![screen shot 2016-04-16 at 9 37 01 am](https://cloud.githubusercontent.com/assets/1614884/14581916/db92086a-03b6-11e6-9d61-ce2e17370f5a.png)

There is only notification when the tree is successfully constructed.
The green navigator indicates there is a new tree which is just created while the red navigator indicate

[2016-04-16 18:43] arlin commented on #68
This suggests that we need a separate production server where content will remain stable.

[2016-04-16 20:27] ducvan0212 commented on #63
#67

[2016-04-16 20:38] ducvan0212 commented on #60
Thank you, Abu.

But I wonder what if user select a subset of species that have genome in
NCBI and *found in the US for instance.*

I removed all the prebuilt list related things so you can take your time to
refine these services.

On Wed, Apr 13, 2016 at 4:20 PM, abu saleh <notifications@github.com> wrote:

[2016-04-16 20:50] ducvan0212 commented on #60
By the way, would @abusalehmdtayeen please use status_code or statuscode uniformly over all services?

"{\"status_code\": 200, \"message\": \"Success\", \"species\": [\"Panthera tigris amoyensis\", \"Panthera tigris altaica\", \"Panthera tigris\"], \"taxon\": \"Panthera\"}"

=> "{\"message\": \"Success\", \"statuscode\": 200, \"taxon\": \"Panthera\", \"species\": [\"Panthera gombaszoegensis\", \"P

[2016-04-19 18:30] hdliv commented on #67
@ducvan0212 it looks like you have fixed this
should we move it to review?

[2016-04-19 18:31] hdliv commented on #70
@ducvan0212 I think this was fixed, at least I dont see it anymore

[2016-04-19 18:34] hdliv opened #73 "contact OpenTree about curl calls"

[2016-04-19 18:34] hdliv commented on #73
this is was done and I am now able to use them again

[2016-04-19 18:37] #73 closed

[2016-04-20 05:39] abusalehmdtayeen commented on #60
@ducvan0212 , now every service will provide status_code.

[2016-04-20 18:36] #67 closed

[2016-04-20 19:42] #70 closed

[2016-04-21 07:05] abusalehmdtayeen commented on #71
Bug has been fixed.

[2016-04-21 16:50] #68 closed

[2016-04-21 16:58] #71 closed

[2016-04-21 21:11] arlin opened #74 "hide unimplemented features"
Hide anything that is not fully implemented and ready for testing.  The list of things to hide includes:

* Menu bar: Explore, About, FAQ, Videos, Feedback
* Home: edit profile
* new_from_prebuilt: hide "from your own list"
* new_from_taxon: show "I want to use all . . . ", hide the 2 others
* trees/<id>/edit: "Choose source..." (we only use OT), "Any extras"

[2016-04-21 21:12] arlin opened #75 "plan functional tests for lists workflow"
Develop plan for functional tests.  Assemble test inputs and expected outputs.

[2016-04-21 21:13] arlin opened #76 "plan functional tests for taxon workflow"
Develop plan for functional tests.  Assemble test inputs and expected outputs.

[2016-04-21 21:14] arlin opened #77 "plan functional tests for extract-from-source workflow"
Develop plan for functional tests.  Assemble test inputs and expected outputs.

[2016-04-21 21:50] arlin commented on #75
this is our initial sketch

## Basic workflow
* user chooses "Lists" workflow
   * system displays choice of lists for user
      * there must be at least 10 interesting lists
* user chooses a list
   * system retrieves tree, displays for user
   * system offers option to save to disk or clipboard
* user saves tree

## Functional testing

Normal conditions
* GUI responds as described above
   * li

[2016-04-21 21:52] ducvan0212 commented on #74
In new_from_prebuilt, "from your own list" will be back as soon as Abu publishes his modified species services. I will try to make it works again as soon as possible.
In new_from_taxon, the NCBI genome case is implemented. Is it fine if I will only hide "Found in <country>" part?

[2016-04-21 22:03] arlin commented on #76
### Basic workflow with 2 branches
* user chooses "Taxon" workflow
   * system prompts for taxon name
      * provides helpful hints (see above)
* user enters name, e.g., "Canidae"
   * system prompts for choice of
      * all species
      * species with genomes in NCBI
* user chooses all species or genomes
   * system retrieves list, gets tree, displays for user

### Functional requirements
* GU

[2016-04-21 22:05] arlin commented on #77
### Basic workflows
Basic from URL
* user chooses "Extract from source" workflow
   * system prompts for source (URL or file upload)
* user enters URL
   * system extracts names, gets tree, displays to user

Basic from file
* user chooses "Extract from source" workflow
   * system prompts for source (URL or file upload)
* user uploads file
   * system extracts names, gets tree, displays to user

#

[2016-04-21 22:09] arlin commented on #61
The comments in #75, #76 and #77 are responsive to this.  The first two have the requirements.  We need this also for #77.   @hdlv, when you (or we) have finished filling in the requirements for #77 (extract from file workflow), then we can close this.

[2016-04-21 22:15] arlin commented on #61
OK, I just did this, so I'm moving this over to "In review".  @hdliv, can you review what I wrote for #75, #76 and #77, and if satisfied, move this ticket into "done".

[2016-04-21 22:23] arlin commented on #74
The portal that I am viewing has 3 options:

<img width="440" alt="screen shot 2016-04-21 at 6 20 27 pm" src="https://cloud.githubusercontent.com/assets/1659198/14726130/0265872e-07ee-11e6-8716-4903c8291da5.png">

which of these are implemented?   Do you have other ones that are not running on the server?

[2016-04-21 22:24] arlin commented on #74
If you are just about to finish "from your own list", then please keep it.

[2016-04-21 22:38] ducvan0212 commented on #74
@arlin These 2 cases are implemented
![screen shot 2016-04-21 at 4 37 20 pm](https://cloud.githubusercontent.com/assets/1614884/14726429/73e0e04c-07df-11e6-8d66-f81305649f63.png)
![screen shot 2016-04-21 at 4 37 11 pm](https://cloud.githubusercontent.com/assets/1614884/14726430/73f05ec8-07df-11e6-8988-a0c1ec1c3dc7.png)

[2016-04-21 23:46] ducvan0212 opened #78 "Names extraction from file service"
I tried and it does not work. Would you please take a look?

[2016-04-21 23:49] #78 closed

[2016-04-21 23:55] ducvan0212 commented on #78
nevermind, my bad

[2016-04-22 14:14] hdliv commented on #61
@arlin justmade 2 little changes and moving this to done --

[2016-04-22 14:14] #61 closed

[2016-04-24 10:50] ducvan0212 opened #79 "species service questions"
Q1: I guess even when the system informed me that there was something error, a list is still created. After I tried to create 3 lists, there are errors which you indicate that all of attributes of a list have to be represent in creating request (eg, "{\"status_code\": 500, \"message\": \"Error parsing input json: KeyError-'list_description'\"}"
) but in the forth time, I succeed creating a list wi

[2016-04-25 06:38] abusalehmdtayeen commented on #79
@ducvan0212
Ans. to Q1:
It was not actually creating a list when you got the error message. Just the list counter was being updated. It was a small bug and I fixed it.
Sending the properties with null values may be redundant, but we should actually follow a standard for the general users. Moreover, it is easier for you to create the json format using a standard. Because the CSV files contain all f

[2016-04-25 07:26] abusalehmdtayeen commented on #79
@ducvan0212 :
Ans. to Q2:
If the list is public, just providing the list_id is enough. It will display the list. You can also use the verbose parameter to get all list properties and use the "is_list_public" property to know whether the list is public or not. If the list is not public, just providing the list_id will give you a message saying that the list is private. Only valid users can access t

[2016-04-25 07:44] abusalehmdtayeen commented on #79
Though public lists are for all users, it is still associated to a particular user who owns the list and only he can change or remove the list using his user_id and access_token. That's how the service API is designed according to the discussion we had in our last meeting.  Now anyone can view all the lists publicly available by using the get_list service API without any parameter. And the users w

[2016-04-25 07:50] abusalehmdtayeen commented on #79
@ducvan0212 :
Ans. to Q4:
Yes, you are right. Both public and private lists should be represented in the same format. I have not noticed it. I will check. If it is different, I will fix it to display in the same format.

[2016-04-25 14:56] ducvan0212 commented on #79
Q1: It is no problem to me to insert nil field into body of request. I just think it is not a convention. Anyway, it is okay with question 1.

Q2: So to determine a list is public or private, your solution is sending a request to public list to test whether or not your list_id is public. After that, if response indicates that your list is not public, you will send a request to private list endpoin

[2016-04-25 17:02] abusalehmdtayeen commented on #79
@ducvan0212 : Lets have a short meeting to discuss the issues instead of just posting big questions and answers in waffle. I have the answers for you. I am available today from 3:30 pm to 5 pm in my office. Can you make it?

[2016-04-25 17:47] ducvan0212 commented on #79
OK. It is better to have face-to-face discussion.

[2016-04-25 17:56] arlin commented on #79
@abusalehmdtayeen, regarding your response to Q3, I think we need to support the case in which the user1 wants to modify a public list of user2.   We want to encourage that kind of data re-use.  Here are some ways to solve the problem of what happens downstream when user1 specifies a public list that belongs to user2.

* user1 attempts to edit the list, but the server refuses to accept the edits (

[2016-04-25 20:28] arlin opened #80 "set up a test instance"
Create a test instance for the portal, separate from the development instance, so that testing and use of the portal will not be interrupted by bugs introduced during development.

[2016-04-26 18:07] ducvan0212 commented on #79
Why do we need 2 separate service for adding and removing species of a list? I think both of them can be combine to only one service. It is more convenient, easier to implement when thinking about edit several species (each editing operation required one removing and one adding operation) and it is also more efficient in term of number of calling requests

[2016-04-27 04:26] abusalehmdtayeen commented on #79
@ducvan0212 : Yes, you are right. Actually, I designed those two APIs thinking about the mobile app in the first version.  Later I combined those into the replace_species API. You can use that one.  I will disable these two APIs for now.

[2016-04-27 21:17] ducvan0212 commented on #79
I finished upgrading the portal. It will be take a little time to access "Jobs" page in the first time because I added some code to make sure the prebuilt list is on the database so please be patient. I am not sure there is any errors with current database so I will do a database reset, but only after @abusalehmdtayeen reset the list service. However, please wait for @hdliv to have a look at what

[2016-04-28 13:23] arlin opened #81 "can't log in - error from google"
I was getting a database error due to an expired token, so I logged out and attempted to log back in again.  However, I found that this was impossible.  Clicking on the G+ button to log in gives an error:

## error text
400. That’s an error.

Error: invalid_request

Invalid parameter value for redirect_uri: Raw IP addresses not allowed: http://128.123.63.10:3000/users/auth/google_oauth2/callback

[2016-04-28 13:31] ducvan0212 commented on #81
Can you re-try? I removed lpks.test@gmail.com in database.

On Thu, Apr 28, 2016 at 7:23 AM, Arlin Stoltzfus <notifications@github.com>
wrote:

[2016-04-28 13:34] ducvan0212 commented on #81
@thanhnh-infinity Would you please check again config of google app?

[2016-04-28 13:58] ducvan0212 commented on #81
@arlin Cant you still sign in?

[2016-04-28 14:10] arlin commented on #81
I'm still getting the same error in Chrome.  I also tried Safari and got the same error.  I have never accessed the portal with Safari before, so this means that it is not a stale token issue.

[2016-04-28 14:38] ducvan0212 commented on #81
@arlin The nature of error is from Google app so changing browsers will not solve the problem. I changed authentication to my google app. Would you please re-try?
http://stackoverflow.com/questions/18166090/how-to-deploy-google-glass-java-starter-on-aws-ec2-instance-with-raw-ip-address

[2016-04-28 14:45] ducvan0212 commented on #81
It will allow you to sign in but you cant do other things because Abu will verify token from Thanh google app. If you can log in using my google app config, then I can send the config to Thanh to update his google app

[2016-04-28 15:08] arlin commented on #81
client id is different, but error is still the same

access_type=offline
scope=email profile https://www.googleapis.com/auth/offline
response_type=code
redirect_uri=http://128.123.63.10:3000/users/auth/google_oauth2/callback
state=89702526202d2926a01db16fa8f3ad9de5375337b71a8638
prompt=consent
client_id=304895613392-c5fgo81fpbqqlpl17jpoqmqdinvdl8j8.apps.googleusercontent.com

[2016-04-28 15:08] thanhnh-infinity commented on #81
Hi Van, the issue is that Google OAuth 2 does not allow callback is IP address.
I assigned callback for you they are :  http://phylo.cs.nmsu.edu:3000 and http://phylo.cs.nmsu.edu:3000/users/auth/google_oauth2/callback
They are NOT : http://128.123.63.10:3000/users/auth/google_oauth2/callback.

[2016-04-28 15:09] thanhnh-infinity commented on #81
http://stackoverflow.com/questions/14238665/can-a-public-ip-address-be-used-as-google-oauth-redirect-uri

[2016-04-28 15:10] thanhnh-infinity commented on #81
I guess that, Dr @arlin accesses Web by IP address instead of domain.

[2016-04-28 15:13] ducvan0212 commented on #81
@arlin Please use portal via http://phylo.cs.nmsu.edu:3000/
@thanhnh-infinity thank you

[2016-04-28 15:23] arlin commented on #81
that works for me.  please notify everyone in gitter to use the domain address rather than the ip

[2016-04-28 15:23] arlin commented on #81
then you can close this ticket

[2016-04-28 15:32] ducvan0212 commented on #81
It looks like only Dr. @arlin and Dail actively tried the portal so it is better to invite people in gitter test the portal after I do a database reset which will be done only after I hear some comments from Dr @arlin and @hdliv for current portal version.

[2016-04-28 15:40] abusalehmdtayeen commented on #81
@ducvan0212 : Let me know when you reset the database. I have to do that in my end too.

[2016-04-28 15:41] ducvan0212 commented on #81
@abusalehmdtayeen Of course. Thank you very much, Abu 👍

[2016-04-28 15:55] #66 closed

[2016-04-28 15:55] #69 closed

[2016-04-28 15:55] #58 closed

[2016-04-28 15:55] #63 closed

[2016-04-28 16:16] arlin commented on #60
I get an error regardless of the taxon specified, e.g., "felidae", "mammalia".  this is the error:

undefined method `[]' for nil:NilClass

Extracted source (around line #6):
4
5
6
7
8
9

  def create
    if params["subset_taxon"]["has_genome_in_ncbi"] == "1"
      response = Req.get(APP_CONFIG['sv_ncbi_genome']['url'] + params[:subset_taxon][:name])
    else
      response = Req.get(APP_CONFIG['s

[2016-04-28 16:19] arlin commented on #74
OK, but in trees/*/edit we still need to hide  (1)  choice of source (we only use OT), (2) the checkboxes for branch lengths and images (as images are automatic),

[2016-04-28 17:00] ducvan0212 commented on #60
I forgot to update the config. This is fixed, Dr. Arlin

On Thu, Apr 28, 2016 at 10:17 AM, Arlin Stoltzfus <notifications@github.com>
wrote:

[2016-04-28 17:02] ducvan0212 commented on #74
I will do that after the database is reset.

On Thu, Apr 28, 2016 at 10:19 AM, Arlin Stoltzfus <notifications@github.com>
wrote:

[2016-04-28 17:09] hdliv opened #82 "add column 'class'"

[2016-04-28 17:21] ducvan0212 opened #83 "date format"
I saw @arlin uploaded Top20 file and in that file, the date field is "4/14/16"

This date is invalid.
=> "4/14/16"
[4] pry(#<ListProcessingWorker>)> s.to_date
ArgumentError: invalid date

So can we formalize the date?

[2016-04-28 17:23] hdliv commented on #82
@ducvan0212 add this column.  see email

[2016-04-28 17:25] hdliv commented on #81
@ducvan0212 i am getting

400. That’s an error.

Error: invalid_request

Invalid parameter value for redirect_uri: Raw IP addresses not allowed: http://128.123.63.10:3000/users/auth/google_oauth2/callback

[2016-04-28 17:29] arlin commented on #81
@hdliv use  http://phylo.cs.nmsu.edu:3000/ from now on instead of the IP address

[2016-04-28 17:32] ducvan0212 commented on #82
@abusalehmdtayeen let me know when you finished your modification

[2016-04-28 17:43] hdliv commented on #81
@arlin thanks

[2016-04-28 19:01] hdliv opened #84 "Remove repeated names"
When scraping a page with the portal (https://en.wikipedia.org/wiki/Elapidae).  several of the 'names' of 'entities' are repeated 2-3x times.  can we just list one?

[2016-04-28 19:02] hdliv commented on #84
<img width="769" alt="screen shot 2016-04-28 at 14 58 45" src="https://cloud.githubusercontent.com/assets/6361361/14897938/3d8f143c-0d52-11e6-8a49-90de385fc059.png">

[2016-04-28 19:48] ducvan0212 commented on #84
I think uniquifying resolved names should be implemented inside @abusalehmdtayeen service. I can do uniquifying names in portal but it is not a sound design choice because what if we create another application for desktop, for example then developer for desktop app will have to do uniquifying things.

[2016-04-28 19:52] abusalehmdtayeen commented on #84
@hdliv @ducvan0212 : Actually, I have noticed that this is a problem from the new GNRD service which returns these repeated names. This problem did not exist in the old version. I think this problem should be resolved from the root service which is GNRD.

[2016-04-28 21:04] ducvan0212 opened #85 "user_id does not exist in service"
The problem when @arlin clicked to see public list is his email is not in the service database. He should be allowed to see a public list even when he does not have any lists in the service

[2016-04-28 21:47] abusalehmdtayeen commented on #85
@ducvan0212 : I have fixed the issue. Can you check again now?

[2016-04-28 22:20] ducvan0212 commented on #85
Hmm, I dont have another gmail. Let see if this prob is solved after the database reset

[2016-04-28 22:25] abusalehmdtayeen commented on #85
@ducvan0212 : I tested it using the service API with my email. Since I don't have any list on the server, I should be able to access the public lists. And the the service API displays result for list_id 12 in my case. But I tried to use your portal with the same list, it showed me permission denied. Can you please check your end?

[2016-04-28 22:49] ducvan0212 commented on #85
I fixed. Would you please take a look?

[2016-04-28 22:55] abusalehmdtayeen commented on #85
Thanks @ducvan0212. It works now. +1

[2016-04-30 00:33] ducvan0212 opened #86 "safari incompatible with saving image of tree to disk"

[2016-04-30 15:05] #85 closed

[2016-04-30 15:05] #79 closed

[2016-04-30 15:06] #26 closed

[2016-04-30 15:06] #24 closed

[2016-04-30 15:06] #42 closed

[2016-04-30 15:07] #81 closed

[2016-04-30 15:07] ducvan0212 commented on #86
http://caniuse.com/#feat=download

Safari currently does not support download attribute in link tag html5.

[2016-04-30 15:08] ducvan0212 opened #87 "database reset"

[2016-04-30 15:25] ducvan0212 commented on #87
I am planning there are 2 separate servers for the portal:
- Test server: this server will be updated frequently with new features (and there will be some bugs in there). I will do database reset in this server whenever I want.
- Production server: this server will be updated only when new features are tested in test server and are allowed to be published.

I will create a production server (I hop

[2016-04-30 15:32] #72 closed

[2016-05-01 16:56] abusalehmdtayeen commented on #87
@ducvan0212 : I would suggest to do the database reset after we do some more tests. For example, when we implement the module to check the validity and format of CSV files, we have to test that feature.

[2016-05-01 23:44] ducvan0212 commented on #87
That is fine.

Do you close port 80 in phylo.cs.nmsu.edu? I am trying to deploy a server to port 80

[2016-05-02 01:41] abusalehmdtayeen commented on #87
@ducvan0212 : No, I did not close port 80. Thanh and I tried to use that port to host the service registry. But it did not work for some reason. So we hosted it in 8080 port. Please try some other port.

[2016-05-02 13:28] epontell commented on #87
Are you connecting from inside or outside? It is possible that NMSU has started filtering certain ports

[2016-05-02 13:53] hdliv opened #88 "Source of Trees in Tree build"
in the portal we are able to choose among Phylomatic, OpenTree and Treebase for building the tree.  Are all of these three implemented right now?  If not, can you hide those that are not implemented?  Thanks

[2016-05-02 13:54] hdliv commented on #84
thanks @abusalehmdtayeen .  Let us know when this is resolved

[2016-05-02 13:59] hdliv commented on #83
@arlin @ducvan0212
As we can possibly (hopefully) have people outside of USA adding data and the US is the only country that uses the weird MM-DD-YYYY where the world uses DD-MM-YYYY .. I advocate for the use of the ISO-8601 international standard format:
YYYY-MM-DD.
Thus, March 30, 1998 would be: 1998-03-30.

[2016-05-02 14:46] hdliv opened #89 "Quality of tree image when downloaded"
I downloaded the .png file of a tree I generated through the portal.  When I put it on a ppt presentation the image was quite pixelated.  Can we increase the quality?

[2016-05-02 15:08] hdliv opened #90 "Tree build -- add branch lengths"
I dont think the 'add branch lengths' has been implemented for the tree build in the portal.  Can you hide it?

[2016-05-02 15:08] hdliv commented on #90
thanks @ducvan0212

[2016-05-02 18:29] hdliv commented on #90
moving to done since I saw that #74 summarises all the features to hide @ducvan0212

[2016-05-02 18:29] #90 closed

[2016-05-02 18:29] hdliv commented on #88
moving to done since this request is summarised in #74 @ducvan0212

[2016-05-02 18:29] #88 closed

[2016-05-03 15:24] ducvan0212 commented on #89
I afraid it is impossible to increase quality. Even when increasing quality, if you zoom in to a specific degree, the image will be still pixelated.

[2016-05-03 15:25] #60 closed

[2016-05-03 15:38] ducvan0212 commented on #87
a Web server or Hypertext Transfer Protocol daemon, port 80 is the port that the server "listens to" or expects to receive from a Web client, assuming that the default was taken when the server was configured or set up

I tried to set up the portal to serve requests in port 80 so if NMSU has started filtering port 80, I guess we will have to use http://phylo.cs.nmsu.edu:xxxx (xxxx is port number)

[2016-05-03 16:12] hdliv commented on #89
ok.  I will close this then

[2016-05-03 16:31] bomeara commented on #89
Couldn't we export as a vector format (i.e., pdf, svg) rather than raster? Then it'd be easy to scale.

[2016-05-03 19:40] hdliv commented on #89
@bomeara thanks for chiming in.   @ducvan0212 this is not a priority right now..  so we can leave it here in the backlog while other parts of the portal are updated.

[2016-05-04 00:23] #89 closed

[2016-05-04 00:28] ducvan0212 commented on #89
@bomeara thanks, I think png with transparent background is requirement. But anyway, I allowed users to download svg image so they can import to other tools and convert to png whenever they want.

This feature is updated in server. You are more than welcome to test.

[2016-05-04 00:29] #86 closed

[2016-05-04 00:30] ducvan0212 commented on #86
Following discussion in #89, this issue is eliminated with the solution to download svg by a round trip to server.

[2016-05-04 00:30] ducvan0212 commented on #86
@epontell it worked on Safari, I tested :)

[2016-05-05 13:51] arlin commented on #83
specify the format that is acceptable, then put that in the documentation.

[2016-05-05 13:56] arlin opened #91 "workflow1 connection error"
1. choose pre-built
2. choose Illinois invasive plants (or other)
3.  select OpenTree as source, get tree

The result is an error.

Errno::ECONNREFUSED in TreesController#create
Connection refused - {:data=>"<?xml version=\"1.0\" encoding=\"UTF-8\"?><add><doc><field name=\"id\">Tree 213</field><field name=\"type\">Tree</field><field name=\"type\">ActiveRecord::Base</field><field name=\"class_name\

[2016-05-05 13:58] arlin opened #92 "workflow2 error"
1. select tree from taxon workflow
2.  enter "canidae"
3.  choose all species, get tree

result is an error

Errno::ECONNREFUSED in ConTaxonsController#create
Connection refused - {:data=>"<?xml version=\"1.0\" encoding=\"UTF-8\"?><add><doc><field name=\"id\">Tree 214</field><field name=\"type\">Tree</field><field name=\"type\">ActiveRecord::Base</field><field name=\"class_name\">Tree</field><fiel

[2016-05-05 13:59] arlin opened #93 "workflow3a connection error"
1. choose extract from source
2. enter URL for wikipedia ant page
3.  choose to get tree

result is an error:

Errno::ECONNREFUSED in ConLinksController#create
Connection refused - {:data=>"<?xml version=\"1.0\" encoding=\"UTF-8\"?><add><doc><field name=\"id\">Tree 215</field><field name=\"type\">Tree</field><field name=\"type\">ActiveRecord::Base</field><field name=\"class_name\">Tree</field><fie

[2016-05-05 14:28] hdliv commented on #83
If it Ok with someone.  We will use the ISO international format. Is it OK with all?    YYYY-MM-DD

[2016-05-05 14:29] hdliv commented on #83
@abusalehmdtayeen I Abu.  I just wanted to put you in the conversation as well

[2016-05-05 14:42] ducvan0212 commented on #93
I tried to use Ansible and Capistrano to auto-deploy the server. It has nothing wrong with the code of the portal.

[2016-05-05 14:53] arlin commented on #60
Everything is broken now, but  I tested this last week and it worked.

[2016-05-05 14:54] arlin commented on #74
This is not yet done.  We are still seeing unimplemented options in the trees/*/edit view.

[2016-05-05 15:01] hdliv commented on #83
@arlin @abusalehmdtayeen The date format has been changed in the documentation.

[2016-05-05 15:16] ducvan0212 commented on #93
The server is back, prof @arlin. This error just relates to my experiment with auto deployment.

[2016-05-05 15:16] #93 closed

[2016-05-05 15:16] #92 closed

[2016-05-05 15:16] #91 closed

[2016-05-05 15:17] ducvan0212 commented on #92
#93

[2016-05-05 15:17] ducvan0212 commented on #91
#93

[2016-05-05 15:36] arlin opened #94 "can't remove taxon subset job"
I removed old jobs from several workflows.  However, I could not remove jobs from the taxon subset workflow.  This is the error that I got:

Unknown action
The action 'destroy' could not be found for SubsetTaxonsController

[2016-05-05 16:07] ducvan0212 commented on #74
#87 @abusalehmdtayeen wants to test more before he resets his service. I have to wait for him

[2016-05-05 16:12] ducvan0212 commented on #94
It is not a bug. I forgot to implement this feature. I pushed this feature to the server.

[2016-05-05 16:23] arlin commented on #94
@ducvan0212 , don't close until someone tests.  moving this back to "In review".

[2016-05-05 16:23] abusalehmdtayeen commented on #83
@hdliv : I have to change in my end to accept the new date format. I think Van has to change as well.

[2016-05-05 16:24] arlin commented on #94
OK, tested this and I now can remove taxon subsets.  Thanks!

[2016-05-05 16:24] #94 closed

[2016-05-05 16:24] ducvan0212 commented on #60
I tested and this feature worked. What is the error?

[2016-05-05 16:32] arlin commented on #83
@abusalehmdtayeen, I don't think @ducvan0212 needs to change anything because he is just transforming csv into json, probably without testing content.    Changing the date format means that we need to delete or fix all the current lists, right?   When you are ready to make this change, it might be a good time to erase all the content on the list server and start again.

[2016-05-05 16:33] arlin commented on #75
@hdliv, we have written out the test requirements.  If you have the 10 cases assembled and uploaded to github, then you can put this ticket into review.

[2016-05-05 16:36] arlin commented on #60
the portal was broken this morning. now its working again.

[2016-05-05 16:38] arlin commented on #74
I don't see how this depends on #87.  The goal of hiding unimplemented features is that we want to create a version of the portal for testing and improvement.  We want a version of the portal where every feature works at least 90 % of the time.

[2016-05-05 16:41] abusalehmdtayeen commented on #83
Ok, After I make changes in my end, I will reset the database and let Van know.

[2016-05-05 16:41] ducvan0212 commented on #94
Oh, I moved this ticket to "Done" column and it is automatically changed to "Closed" issue and removed "In review" label. I intently kept "In review" label in waffle but in git, it is removed. It is weird. Sorry about that, prof.

[2016-05-05 16:51] ducvan0212 commented on #60
Yesterday, I did an experiment to automatically launch a test server. I did not success with my experiment and because of that, search engine is down. Thus, you saw the error of connection refuse to search engine in the web page.

[2016-05-05 17:03] ducvan0212 commented on #74
Prof. @arlin, I can remove records in database right now for you but this is NOT a test version because the database for now is not reset. I expected a database reset from last week so you can have a clean database for testing (and a clean database means no more errors from previous development) but Abu wants more time to reset his service. If I do my database reset first then old records in Abu s

[2016-05-05 17:04] ducvan0212 commented on #74
I will remove records in current database so you can see the portal as you expect.

[2016-05-05 17:11] arlin commented on #74
@ducvan0212, I think you are mixing up two issues.  One of them is hiding interface features that are not implemented.  The other is resetting the database when we change the list requirements for an ISO-compliant date. Please explain to me how it is impossible for you to change what the interface looks like without resetting the database.  If you have to reset the database every time you re-launc

[2016-05-05 17:33] ducvan0212 commented on #74
(1) choice of source (we only use OT) => Phylo source is taken from database and then rendered in interface. Anyway, I removed all the trees associated with Phylomatic and TreeBase.

(2) the checkboxes for branch lengths and images (as images are automatic) => This will be hidden because it is just in interface.

The problem is tiny. Doing this take just a few seconds. The point is I expected I wo

[2016-05-05 17:47] arlin commented on #74
Please explain #1 further.  Are you suggesting that the choices are not hard-coded in the interface, but are taken from a database that is external to the portal?

[2016-05-05 18:05] ducvan0212 commented on #74
The source of phylo tree is OpenTree, Phylomatic and TreeBase. There are 3 records in table PhyloSource in database respectively to each source. When you open tree creating interface, these records are fetched from database and rendered in selection box. When you click 'create tree', a new tree is created with association to id of one of these three records.

I removed the recored for Phylomatic a

[2016-05-05 18:08] ducvan0212 commented on #74
These sources can be hard-code in interface only. I agree but if I code this way, I have to do extra work that is verification that the user input is in the range of OpenTree, Phylomatic and TreeBase or not.

[2016-05-05 18:31] ducvan0212 commented on #74
For example, you can send a request to ask the portal generate a tree from OpenTree but if I inspect elements in the browser and change tree source field in tree creating form to "abcdef" then that will cause errors when there is no verification in server side.

Moreover, if you want to manage the source of tree in a web interface (assume you are an admin and you can access administration pages),

[2016-05-05 18:54] ducvan0212 commented on #74
Sorry for my bad English, Professor. I tried my best to describe my design choice. If you are still confused about anything, I will answer as soon as possible and make any changes if it is sound.

[2016-05-05 19:30] hdliv commented on #83
@abusalehmdtayeen thank you

[2016-05-05 22:32] abusalehmdtayeen commented on #82
@ducvan0212 @hdliv : class property has been added to the species list database. User can now save class of a species in list server.

[2016-05-05 22:37] abusalehmdtayeen commented on #87
@ducvan0212 : I have re-setted the species list database. Now there is no lists in the database. I have made two changes according to the new requirements.
1. Changed the date format to ISO standard and date type to string which will allow users to put empty values or "NA" values.
2. Added the class attribute in species data. So to insert list you have to add the class property to every species js

[2016-05-05 22:42] abusalehmdtayeen commented on #83
ISO standard date formats are now allowed in species list database.

[2016-05-06 00:11] ducvan0212 commented on #82
@abusalehmdtayeen I have to add "list_class" or what to json request?

[2016-05-06 00:14] arlin commented on #87
you mean by "have to add" in (2) that "class" is required?  is that what we want?

[2016-05-06 00:17] abusalehmdtayeen commented on #82
@ducvan0212 : Just add "class" in the species json object like "family" and "order".

[2016-05-06 00:21] abusalehmdtayeen commented on #82
@ducvan0212 : The list zip files that I sent you earlier do not have the class column. You can either add the class column and put "" value in the csv files for the existing lists or ask Dail to send you all the zip files again with the correction for date format and class property.

[2016-05-06 00:24] ducvan0212 commented on #83
@abusalehmdtayeen do I need to parse (verify) the date in my end before sending to you?

[2016-05-06 00:25] abusalehmdtayeen commented on #87
@arlin : by "have to" I mean the property must exist in the json format when inserting a list, but it is up to the user to put values in it or leave it empty("") or put "NA" value. The value is not mandatory in this case.

[2016-05-06 00:32] abusalehmdtayeen commented on #83
@ducvan0212 : Yes, please make a small check to see if every date is in 'YYYY-MM-DD' format while reading the CSV files. If it is in correct format then send me the request, otherwise, just show a message to the user to correct the date format. Also remember that I allow users to put "NA" values in case they do not want to put the date values.  So you can make a check for the format only if a date

[2016-05-06 02:04] ducvan0212 commented on #82
@hdliv please check whether or not this function works on server? I can not test because I dont have files

[2016-05-06 02:07] ducvan0212 commented on #83
Already implemented in the server but @abusalehmdtayeen did a reset too soon :). If I test then you will have to reset your service again. @hdliv please test this with your lists and let me know if there is error.

[2016-05-06 02:09] ducvan0212 commented on #87
Portal database is reset. I tested file, link and taxon use case and they worked. The list test case I leave @hdliv test. Date format and Class attribute are also updated. If there is error, please let me know.

[2016-05-06 14:09] arlin opened #95 "ingest names-only file, provide by-name match"
Karen Cranston indicates that users want to upload taxa and get a by-name match.  Currently that is not possible without using the DCA format, which is too complex for the typical user.

The simplest approach would be to support a simple format with one name per line.  Rather than using GNRD to scrape names, we would assume that each line is the intended name, and we would send the list of names d

[2016-05-06 14:09] arlin commented on #95
This is currently in backlog.  It is not a priority until we have finished testing the portal for basic functionality.

[2016-05-06 17:33] arlin commented on #83
I have tested this with 3 lists using YYYY-MM-DD format, and it works fine.  Thanks!

Also, this seems to happen instantly, whereas previously there was a noticeable delay.

[2016-05-13 18:54] hdliv commented on #77
located here: https://github.com/phylotastic/phylotastic/tree/master/testing/Extract_from_file_workflow

[2016-05-13 18:54] hdliv commented on #75
located here: https://github.com/phylotastic/phylotastic/tree/master/testing/Lists_workflow

[2016-05-13 18:55] hdliv commented on #76
located here: https://github.com/phylotastic/phylotastic/tree/master/testing/Taxon_workflow

[2016-05-17 19:29] hdliv opened #96 "no 'failed because' message"
While uploading arctic terrestrial mammals, there was an error with the zip file 'failed because' .  'failed because' was blank.  Need to know why it failed.

[2016-05-17 19:30] hdliv commented on #96
![screen shot 2016-05-17 at 15 26 52](https://cloud.githubusercontent.com/assets/6361361/15336364/3df4144e-1c44-11e6-8e59-9cff066f9985.png)

[2016-05-17 19:48] hdliv commented on #96
@arlin and i traced this down to the bad character:   æ

[2016-05-17 20:14] hdliv opened #97 "private list to public list"
It would be nice to allow a private list to be public after the list has already been uploaded as private

[2016-05-17 20:18] arlin commented on #96
We determined (I think) that this is *not* a valid unicode char.  We opened the file in TextWrangler and asked it to save with unicode equivalents, then tried again, and the revised file was uploaded without an error.

@hdliv, could you please save the bad file as a test file?

[2016-05-17 20:31] hdliv commented on #96
[Archive 3.zip](https://github.com/phylotastic/phylotastic-portal/files/269104/Archive.3.zip)

[2016-05-18 00:19] #87 closed

[2016-05-18 00:20] #82 closed

[2016-05-18 00:20] #40 closed

[2016-05-18 00:20] #74 closed

[2016-05-18 00:20] #83 closed

[2016-05-18 01:12] ducvan0212 commented on #96
I added the reason why the server failed to proceed the file. For Dail's file, the error is "invalid byte sequence in UTF-8" but it does not provide where (I mean at which line) the sequence causing error is.

[2016-05-18 17:03] ducvan0212 commented on #97
@abusalehmdtayeen I checked in species document but I dont see api to update a list anymore.
@hdliv I will implement this feature. Once a list is published, it will remain publicly accessed from that on.

[2016-05-18 17:11] abusalehmdtayeen commented on #97
@ducvan0212 : The API to update the contents (species data) of a list still exists in the documentation. Are you talking about updating the list properties (metadata) or update the list as a whole? If you need either of them, then I have to create that API for you.

[2016-05-18 18:07] ducvan0212 commented on #97
Yeah, hdliv wants to update public property of a list

[2016-05-18 18:24] hdliv commented on #97
@ducvan0212 @abusalehmdtayeen this is not urgent.  just wanted to be able to make a private list public, after it has already been uploaded into the portal

[2016-05-19 22:07] arlin commented on #76
@hdliv, please be sure to add some test for the "get all species" branch of this workflow.  Canidae, Felidae,  Ascarididae, are some that should work

[2016-05-19 22:16] hdliv opened #98 "tree completed but nowhere to be found"
I am trying to reate the tree for the prebuilt example: Top 20 popular species.  I click to create the tree and am redirected to the Jobs view.  After a while I get the notice that the tree was created...but there is no tree.

[2016-05-19 22:17] hdliv commented on #98
<img width="413" alt="screen shot 2016-05-19 at 12 32 30" src="https://cloud.githubusercontent.com/assets/6361361/15411422/e5da6e10-1ded-11e6-98fe-6967c6f3b36d.png">

[2016-05-19 22:17] hdliv commented on #98
<img width="498" alt="screen shot 2016-05-19 at 12 32 58" src="https://cloud.githubusercontent.com/assets/6361361/15411426/ea318dd6-1ded-11e6-8f07-e06880b85971.png">

[2016-05-19 22:20] hdliv opened #99 "error message Choose from Specified Taxon"
I want all the species of Ascomycota that have genomes.  When i query this I get an error

[2016-05-19 22:21] hdliv commented on #99
![screen shot 2016-05-19 at 18 18 36](https://cloud.githubusercontent.com/assets/6361361/15411507/7b0a5b62-1dee-11e6-84b4-faacd7b11a6d.png)

[2016-05-19 22:21] hdliv commented on #99
however, when I search for genomes of Ascomycota...there are 538

[2016-05-19 22:22] hdliv commented on #99
![screen shot 2016-05-19 at 18 19 13](https://cloud.githubusercontent.com/assets/6361361/15411522/94316810-1dee-11e6-8f48-ae9cdf92e786.png)

[2016-05-20 04:39] ducvan0212 commented on #99
![screen shot 2016-05-19 at 10 38 15 pm](https://cloud.githubusercontent.com/assets/1614884/15417389/88addfd6-1e12-11e6-91c4-d18dabc40c27.png)

This is what I got from @abusalehmdtayeen service.

[2016-05-20 05:12] ducvan0212 commented on #98
The trees were hidden. I forgot to uncomment this partial of code. Sorry about that :)

[2016-05-20 05:14] #98 closed

[2016-05-20 05:14] #96 closed

[2016-05-20 13:49] hdliv commented on #98
@ducvan0212 i an see the trees now

[2016-05-20 15:30] abusalehmdtayeen commented on #99
@ducvan0212 @hdliv : give me some time to debug this case. I will get back to you.

[2016-05-20 18:28] hdliv commented on #99
@abusalehmdtayeen thanks.  this is not the only instance where it happens, but maybe it is the same bug in all.  Let me know when you finish then I can start trying again :)

[2016-05-23 03:17] abusalehmdtayeen commented on #99
@hdliv : I have fixed this issue. Can you please try with more test cases through the web portal? And let me know if you find any other error case for this service.

[2016-05-23 16:51] #76 closed

[2016-05-23 16:51] #75 closed

[2016-05-23 16:51] #77 closed

[2016-05-25 13:25] hdliv opened #100 "Difference in genome numbers: portal vs NCBI"
I just wanted to document this unless we want to review this.

[2016-05-25 13:25] hdliv commented on #100
@abusalehmdtayeen and I have already talked on why there is a difference...

[2016-05-25 13:28] hdliv opened #101 "capability to export extracted name list from portal"
It would be nice to be able to export both the species list and taxon matching report from the portal.

[2016-05-25 13:58] hdliv commented on #99
hi @abusalehmdtayeen now i get this error
![screen shot 2016-05-25 at 09 56 32](https://cloud.githubusercontent.com/assets/6361361/15542545/3c3f6fba-225f-11e6-9c41-cf9f86e28722.png)

[2016-05-25 13:59] hdliv commented on #99
@ducvan0212

[2016-05-25 16:25] ducvan0212 commented on #101
@hdliv Do you mean about generating downloadable documents of species list and taxon matching report?

[2016-05-25 16:35] ducvan0212 commented on #99
![screen shot 2016-05-25 at 10 29 35 am](https://cloud.githubusercontent.com/assets/1614884/15548001/aec2936a-2263-11e6-8cfd-87ea2048e5ce.png)

This is in my end. Abu's service returned only letter "f" for species list which definitely is not in JSON format.

I still did not wrapped this JSON parsing line of code so we will know what was going on. If @hdliv wants, I will add error handing for this

[2016-05-25 16:41] abusalehmdtayeen commented on #99
@hdliv : For which input do you get this error?
@ducvan0212 : Which service does not return JSON format?

[2016-05-25 16:50] ducvan0212 commented on #99
@abusalehmdtayeen I guess @hdliv inputted "Ascomycota" as a taxon and he did test in NCBI taxon scenario. The service which did not return JSON format is resolving names.

[2016-05-25 16:58] ducvan0212 commented on #101
Do you suggest that we should allow users to download species list as well as taxon matching report?

[2016-05-25 17:03] hdliv commented on #99
Yea it was ascomycota

[2016-05-25 17:04] hdliv commented on #101
Yes.

[2016-05-26 18:19] ducvan0212 commented on #101
@hdliv Would you please specify what should be exported from species list? Provide an example to illustrate your idea.

I already implemented exporting taxon matching report to pdf :)

[2016-05-26 18:45] abusalehmdtayeen commented on #99
@hdliv : Since different strains of the subspecies are returned for input "Ascomycota", the number of species gets to more than 1000 which is a pretty big list to resolve. Processing such lists will take time. Do we really need to include these subspecies? Please let me know. I can filter out them as I mentioned to you before. That will make the list half.

@ducvan0212 : The resolver failed becaus

[2016-05-26 19:03] hdliv commented on #99
@abusalehmdtayeen Understood.  we'll have to decide but strains are the final 'tips'.  example, the pathogenicity of E. coli, for example, is at the strain level where different strains can differ with 1 million bp.

[2016-05-26 20:03] hdliv commented on #99
@abusalehmdtayeen there is a new ticket about the pruning phylo_webservices #27

[2016-06-10 14:54] hdliv opened #102 "Portal Re-Design"
re-design portal based on the new design.

[2016-06-10 20:40] ducvan0212 opened #103 "discovering names service returns error"
Discovering names from file service doesnot work. It always return
```"{\"status_code\": 500, \"scientificNames\": []}"```

[2016-06-10 20:41] ducvan0212 commented on #103
@abusalehmdtayeen

[2016-06-10 20:45] ducvan0212 commented on #103
I has file GNRS.txt which has content as following:

Aerosakkonema funiforme
Arthrospira jenneri
Arthrospira maxima
Arthrospira platensis
Cephalothrix lacustris
Gloeobacter violaceus
Microcoleus autumnalis
Microcoleus vaginatus
Oxynema thaianum
Phormdium irriguum
Phormidium ambiguum
Phormidium uncinatum
Planktothricoides raciborskii
Planktothrix agardhii
Planktothrix mougeotii
Planktothrix rubesce

[2016-06-10 22:57] abusalehmdtayeen commented on #103
@ducvan0212 : Find scientific names from file is a wrapper service of GNRD. If GNRD works, then this service must also work. I think the problem is with the url of the file, not with the service. I created a text file with same content you have, uploaded it into our phylo server and sent the link of the file to the service. It works. You can test using http://phylo.cs.nmsu.edu:5004/phylotastic_ws/

[2016-06-12 19:25] #103 closed

[2016-06-12 19:26] #101 closed

[2016-06-20 22:46] ducvan0212 opened #104 "taxon services"
![screen shot 2016-06-20 at 4 44 28 pm](https://cloud.githubusercontent.com/assets/1614884/16212668/96f0cbf0-3706-11e6-90e7-ea33503cbd61.png)

In Taxon finder, user can choose a combination of options. Which services will be used to get names when user chooses both NCBI and location?

[2016-06-22 16:49] ducvan0212 commented on #104
@abusalehmdtayeen Where can I reach the location service?

[2016-06-22 16:59] abusalehmdtayeen commented on #104
@ducvan0212 : You can find it in web service 7 of this document https://github.com/phylotastic/phylo_services_docs/blob/master/ServiceDescription/PhyloServicesDescription.md

[2016-06-22 17:02] abusalehmdtayeen commented on #104
@ducvan0212 : I think user will not choose combination of options. Just any of the options. But check with Arlin and Dail. I may be  wrong. You can mention this issue in the upcoming meeting this week.

[2016-06-22 17:30] ducvan0212 commented on #104
Thank you @abusalehmdtayeen
Can @arlin and @hdliv make things clear for me?

[2016-06-23 16:26] hdliv commented on #99
@abusalehmdtayeen can we close this ticket?

[2016-06-27 20:27] #104 closed

[2016-06-27 20:27] ducvan0212 opened #105 "error when calling taxon service"
http://phylo.cs.nmsu.edu:5004/phylotastic_ws/ts/country_species?taxon=Panthera%20onca&country=United%20States

[2016-06-27 22:50] abusalehmdtayeen commented on #105
@ducvan0212 : Fixed.

[2016-06-28 01:24] abusalehmdtayeen commented on #99
@hdliv : +1:  you can close this ticket.

[2016-06-28 16:27] ducvan0212 commented on #105
@abusalehmdtayeen

Connection refused - connect(2) for "phylo.cs.nmsu.edu" port 5004
Error: GET http://phylo.cs.nmsu.edu:5004/phylotastic_ws/ts/country_species?taxon=Equus&country=United States

List species service is also down. I think someone restarted  the server without notifying us again.

[2016-06-29 19:45] arlin opened #106 "viewer criteria for portal"
go through use cases.  identify visualization needs.  make a prioritized list of visualization capabilities.

[2016-06-29 19:46] #106 closed

[2016-06-29 19:47] arlin opened #107 "preliminary evaluation of viewers"
Using the viewer criteria, evaluate viewers at https://en.wikipedia.org/wiki/List_of_phylogenetic_tree_visualization_software

[2016-06-29 19:49] #99 closed

[2016-06-29 19:49] hdliv commented on #99
this has been fixed

[2016-07-01 17:47] arlin opened #108 "sign-in error"
I can't sign in.
![screen shot 2016-07-01 at 1 47 09 pm](https://cloud.githubusercontent.com/assets/1659198/16529712/6e2517e6-3f92-11e6-8723-1a9e47dde48b.png)

[2016-07-01 18:05] arlin commented on #108
temporary solution is to replace URL with "phylo.cs.nmsu.edu" instead of the IP.  Then when I try to log in, it works.  Are users going to have this problem?  Maybe this is not a real bug.  It only happens if I start by navigating to  128.123.63.10

[2016-07-01 23:04] ducvan0212 commented on #108
Google app does not allow IP address in callback request so you have to use domain name to sign in, @arlin . I remember this problem was discussed with @thanhnh-infinity.

[2016-07-07 12:48] hdliv opened #109 "DCA template"
on the portal when choosing to upload DCA there is a template.
However the list.csv and species.csv do not open to give the user the example.

[2016-07-07 16:32] arlin commented on #31
I'm going to close this and create a new ticket to write and test installation instructions for the portal.  This will be required before we can write a publication about the portal.

[2016-07-07 16:33] #31 closed

[2016-07-07 16:37] arlin opened #110 "write and test installation instructions"
see #31.  In order to publish a paper and release the portal, it must be possible for others to install the software.

Previously @hdliv and I tried to install the portal without success.  Eventually we learned that some aspects of the architecture depend on being installed at NMSU.

If that hasn't been fixed, then prior to beginning work on this ticket, we need to open another ticket to remove an

[2016-07-07 16:44] arlin commented on #100
so, can you document that here, so that we have a record of it?

[2016-07-07 18:19] hdliv opened #111 "'Add to my gallery' failing to add"
I get a 'missing' with some of the trees I 'ad to my gallery' in the portal

[2016-07-07 18:19] hdliv commented on #111
![screen shot 2016-07-07 at 14 18 08](https://cloud.githubusercontent.com/assets/6361361/16664392/d60edde6-444d-11e6-8783-26b476ea4e46.png)

[2016-07-07 18:20] hdliv commented on #84
@abusalehmdtayeen has this been resolved?

[2016-07-07 18:24] hdliv commented on #100
the problem with genome numbers between the portal vs NCBi derives from NCBI counting different varieties or forms and/or strains of the same binomial as unique genomes.  The portal uses only binomials (not considering lower level taxonomy), so the count is less

[2016-07-07 18:24] abusalehmdtayeen commented on #84
@hdliv : No, this has not been resolved yet. This must be done on Dima's end since it is a problem of GNRD itself. I think we should remind him in the next meeting.

[2016-07-07 18:24] #100 closed

[2016-07-07 18:25] hdliv commented on #84
Thanks.  :)

[2016-07-07 18:27] hdliv opened #112 "Subset 'Location' not functioning"
in 'choose taxon' the ability to restrain a subset by location  --- you can tick the box but there are no countries that appear in the scroll down

[2016-07-07 20:15] hdliv commented on #111
@ducvan0212 saw that image was not saved..  closing this

[2016-07-07 20:16] #111 closed

[2016-07-11 21:18] ducvan0212 commented on #112
I added a few countries for test purpose.

[2016-07-11 21:19] #108 closed

[2016-07-13 19:31] #107 closed

[2016-07-14 19:52] #105 closed

[2016-07-19 17:00] ducvan0212 commented on #109
Can you provide me a DCA template?

[2016-07-19 17:06] ducvan0212 commented on #65
@hdliv

[2016-07-19 17:06] ducvan0212 commented on #64
@hdliv

[2016-07-21 18:53] arlin opened #113 "name dropped from uploaded list"
I uploaded the list of 5 species below, but the portal only shows me 4.  Even if a name is not found in OpenTree's taxonomy, we should present the name in its own row.  This is the feature that users want-- the taxon report should show the result for every input name, even if the there is no match

Bos taurus
Ovis aries
Hippopotamus amphibius
Balaenoptera acutorostrata
Megaptera novaeangliae

[2016-07-22 12:40] ducvan0212 commented on #113
@arlin I checked. Hippo didnot represent in response from finding names service. The service did fail to detect Hippopotamus amphibius. Can @abusalehmdtayeen verify this issue?

[2016-07-23 00:07] abusalehmdtayeen commented on #113
@ducvan0212 : I tried the tnrs service (http://phylo.cs.nmsu.edu:5004/phylotastic_ws/tnrs/ot/resolve?names=Bos%20taurus|Ovis%20aries|Hippopotamus%20amphibius|Balaenoptera%20acutorostrata|Megaptera%20novaeangliae) with all 5 species and it returned me match for all of them. It seems that the problem is not within the web service. Would you  please check your end carefully?

[2016-07-23 15:31] ducvan0212 commented on #113
You should use extracting names from files service because Arlin put 5 these names into a file. I remember I called service 2 to extract names.

[2016-07-23 15:38] ducvan0212 commented on #113
It is fine, I will refactor my endpoint.

[2016-07-26 23:37] ducvan0212 commented on #113
I finished upgrade portal. Now, you can upload a one-name-per-line list and if there is any names that can not be resolved, portal will display these names and allow you to edit them.

[2016-07-26 23:38] #112 closed

[2016-07-26 23:40] ducvan0212 commented on #112
A complete list of countries now is available in portal ;)

[2016-07-27 21:22] arlin commented on #113
OK.  The first issue (no hippo from OT) seems to have disappeared.   The second issue was not providing a line item for un-matched names.  This has now been fixed. which I can verify with the list below, which includes 5 real and 5 imaginary species (unicorn, selki, kraken, chimaera, dragon).

![image](https://cloud.githubusercontent.com/assets/1659198/17192885/79a7c87a-541e-11e6-90ae-206e59319073

[2016-07-27 21:22] #113 closed

[2016-07-27 21:42] arlin commented on #112
@ducvan0212 if you want us to review this, move it into review.

[2016-07-27 21:44] arlin commented on #84
I will assign this to @dimus.   Can you remove redundancy from scraped lists ?

[2016-08-02 13:23] arlin opened #114 "share portal with OT when ready"
Provide brief overview.  share portal link with OT people so that they can try it out.  They would like to have a web interface.

[2016-08-03 19:36] #64 closed

[2016-08-03 19:36] #65 closed

[2016-08-04 16:42] arlin opened #115 "improve interface to edit list item"
The current interface is a bit confusing.  Unmatched list items are presented in a rectangular box, and there is a "change" button to the right (see image).  My first instinct as a user was to click "change" and then edit the box, but this has no effect.  Instead, what works is to edit the text in the box first, then click "change".  Here is what I suggest to make this clearer:

1. "Unresolved spe

[2016-08-04 17:04] arlin opened #116 "odd result from list"
Use the list "phytozome_cleaned.txt" (https://github.com/phylotastic/phylotastic/blob/master/testing/Examples/phytozome_cleaned.txt)

Get the tree.  There are 2 anomalies.  This is the first one: "Not solanum lycopersicum".

![screen shot 2016-08-04 at 12 58 45 pm](https://cloud.githubusercontent.com/assets/1659198/17410915/d09f9768-5a43-11e6-90f9-152d93fe7d60.png)

[2016-08-04 17:09] arlin commented on #116
this is Not_Solanum_lycopersicum_ott5254103

[2016-08-04 17:23] arlin opened #117 "second odd result from list"
Use the list "phytozome_cleaned.txt" (https://github.com/phylotastic/phylotastic/blob/master/testing/Examples/phytozome_cleaned.txt)

Get the tree. There are 2 anomalies. This is the second one: one of the OTU names is `&#39`.

I believe that this problem is on our end.  I think the back-end name might have a double-single-quoted name inside a single-quoted string `'Ostreococcus ''lucimarinus''_ot

[2016-08-04 17:25] arlin commented on #116
This is an OpenTree problem.  I will raise the issue with OT.

[2016-08-04 17:42] arlin commented on #116
This is probably due to sample contamination by which a tomato entry in SILVA was contaminated with the sequence from a proteobacterium associated (ecologically) with tomatoes.

[2016-08-04 18:41] arlin commented on #116
OK, the real problem is that OT returns this as an exact match, which it shouldn't do.  I have  posted this as an OT issue https://github.com/OpenTreeOfLife/opentree/issues/1009

[2016-08-04 18:41] #116 closed

[2016-08-04 19:56] ducvan0212 commented on #117
My computer is having problem. I will check my end for this issue. I also saw you added FAQ and About pages but I can not deploy to the server for now. I will check them as soon as I can.

[2016-08-05 15:42] ducvan0212 commented on #117
Unluckily, after the recovery, I guess my hard disk is broken. I will borrow my friend's machine and work with it a couple of days. It is also an oppotinity to test installation of the portal in a new enviroment.

[2016-08-05 17:06] arlin opened #118 "add detail on requirements-gathering"
With regard to the first-year report (https://github.com/phylotastic/phylotastic/blob/master/admin/first_year_report.md), add a sentence of detail to each of the bullet points.  Ideally, introduce some quantitative data (how many use cases, interviews, examples, etc).

[2016-08-05 17:14] arlin opened #119 "yearly report: add detail to TNRS analysis"
add a few sentences to the section on "Content and accuracy analysis of name recognition"

[2016-08-05 17:23] hdliv opened #120 "Rename Lists"
Can we add the ability to rename lists on the portal?

[2016-08-05 17:25] hdliv opened #121 "Name Trees"
After 'Get Tree' the tree is generated with a number.  We should be able to name and rename these trees.

[2016-08-05 23:47] ducvan0212 commented on #110
@arlin I updated the instructions for OS X in https://github.com/phylotastic/phylotastic-portal/blob/design-v2/INSTRUCTION.md.

[2016-08-06 01:23] ducvan0212 commented on #117
@arlin I fixed name display in tree. As you recognized, the single quote causes problem. Thank you!

[2016-08-06 01:32] ducvan0212 commented on #115
Thank you @arlin, I made changes as your suggestions.

[2016-08-06 13:59] ducvan0212 commented on #121
Now, when you push "Get tree", a pop up is displayed so you can fill in name of tree. If you want to edit tree name, you can look for "Edit tree name" button in Tree actions section of Tree viewer tab

[2016-08-06 14:01] ducvan0212 commented on #55
I added instructions for OS X. See #110

[2016-08-06 14:11] ducvan0212 commented on #120
@abusalehmdtayeen I checked in https://github.com/phylotastic/phylo_services_docs/blob/master/SpeciesListServer/SpeciesListServicesDescription.md but there is no update list service.

[2016-08-06 14:11] ducvan0212 opened #122 "metadata for tree"
Content of metadata tab in home page

[2016-08-06 14:13] ducvan0212 commented on #122
Can you provide me a sample of metadata of a list?

[2016-08-06 14:14] ducvan0212 commented on #120
@abusalehmdtayeen It is also required to change list from private to public

[2016-08-06 14:36] ducvan0212 commented on #65
FAQ page is pushed to server

[2016-08-06 14:36] ducvan0212 commented on #64
About page is pushed to server

[2016-08-09 16:36] hdliv commented on #121
@ducvan0212 I get this pop-up and am closing the issue

[2016-08-09 16:36] #121 closed

[2016-08-09 16:37] hdliv opened #123 "Ability to delete lists"
We should have a way to delete our private lists and those we have made public

[2016-08-09 16:38] hdliv opened #124 "ability to delete trees"
We should have the ability to delete private trees and those we made public

[2016-08-09 16:39] hdliv commented on #109
@ducvan0212 I will send this via email

[2016-08-09 16:42] hdliv commented on #122
@ducvan0212 is this the same as issue #109

[2016-08-09 17:04] hdliv opened #125 "Newick download"
Remove ottids and underscores in the newick file that can be downloaded from the tree viewer page.

[2016-08-09 23:15] ducvan0212 commented on #125
I removed ottids and underscores in the popup when you click "show newick" button in tree viewer page. I am not sure which file you can download. Can you give me more details?

[2016-08-10 05:35] ducvan0212 commented on #124
I re-enabled this feature

[2016-08-10 05:36] ducvan0212 commented on #120
@abusalehmdtayeen

[2016-08-10 06:24] abusalehmdtayeen commented on #120
@ducvan0212 : I will let you know when I finish. Is there any other feature you want other than renaming and changing list type?

[2016-08-10 12:42] ducvan0212 commented on #122
I received your email. How can I query information like this?

[2016-08-10 14:03] ducvan0212 commented on #123
@hdliv I just added a button to delete a list and put it temporarily in Metadata tab. When I know how to query metadata query for an arbitrary list, I will make the interface better.

[2016-08-10 17:06] ducvan0212 commented on #120
It depends on your design. I think it is better to change everything so if next few weeks, there is request to change date, you wont need to re-implement anything. But please keep the request for update list simple. Thank you in advance

[2016-08-11 00:09] abusalehmdtayeen commented on #120
@ducvan0212 : I have added an API to update list meta-data. It is very simple. You can update value of any list property (not list content) you want. Check the documentation https://github.com/phylotastic/phylo_services_docs/blob/master/SpeciesListServer/SpeciesListServicesDescription.md

[2016-08-11 15:23] hdliv commented on #125
@ducvan0212 You are right.  I dont download it.  I copy and paste the newick file into a text editor.  Maybe we can bypass this step as allowing to download right away

[2016-08-11 15:27] hdliv commented on #125
anyways. the newick file without the ottids and underscores looks great.

[2016-08-11 15:29] hdliv commented on #123
@ducvan0212 can you put the delete button on the side as you have done for the tree viewer?

[2016-08-12 20:22] hdliv opened #126 "Export List"
We need a feature to export the list as a .txt.  It should be of all the 'selected' species.

[2016-08-12 20:25] hdliv opened #127 "Drag and drop list"
It would be nice to have a feature where we are able to drag and drop our input file instead of always searching for the file.

This feature actually is implemented, but looking at the current layout, I would not know that we could do that

[2016-08-16 18:17] ducvan0212 commented on #125
I think this issue is resolved @hdliv

[2016-08-16 18:26] hdliv commented on #125
@ducvan0212 yes  movin it to in review

[2016-08-17 02:28] ducvan0212 commented on #120
@abusalehmdtayeen I cannot update both title and public attribute in one request

[2016-08-17 03:23] ducvan0212 commented on #122
@hdliv

[2016-08-17 12:06] hdliv commented on #3
@ducvan0212 is this done?

[2016-08-17 12:07] hdliv commented on #3
nevermind..I read text and not test

[2016-08-17 16:49] ducvan0212 commented on #3
Yeah, you can move issue 2, 3 ,4, 17 to done

[2016-08-17 16:49] hdliv commented on #3
great @ducvan0212

[2016-08-17 16:49] ducvan0212 commented on #3
8 also :)

[2016-08-17 16:50] #8 closed

[2016-08-17 16:50] #2 closed

[2016-08-17 16:50] #3 closed

[2016-08-17 16:50] #4 closed

[2016-08-17 16:51] hdliv commented on #2
We have added info to this page

[2016-08-17 16:51] hdliv commented on #8
We have added info to this page

[2016-08-17 16:51] hdliv commented on #3
We have added info to this page

[2016-08-17 16:52] hdliv commented on #4
We have added info to this page

[2016-08-17 16:52] #17 closed

[2016-08-17 16:54] ducvan0212 commented on #123
I put delete and edit list button on the side

[2016-08-17 16:56] hdliv commented on #123
Great.

[2016-08-17 19:32] ducvan0212 commented on #127
I created a box so you can drop your file on. Please take a look

[2016-08-17 20:03] ducvan0212 commented on #120
Hmm, it works now, @abusalehmdtayeen.

[2016-08-17 20:09] ducvan0212 commented on #126
What is format of the text file? Can you give me an example?

[2016-08-17 20:34] hdliv commented on #126
@ducvan0212 i sent you an example

[2016-08-17 21:03] ducvan0212 commented on #126
So basically, the exported file is one-name-per-line

[2016-08-17 21:10] hdliv commented on #126
yes.  Like the list that we import.

[2016-08-17 23:02] ducvan0212 commented on #126
@hdliv Added this feature

[2016-08-18 17:04] ducvan0212 commented on #109
I expected user download and edit template file. Google drive dont allow user to have preview of csv file.

[2016-08-18 18:08] hdliv commented on #126
@ducvan0212 great  I have tried it out

[2016-08-18 18:16] hdliv opened #128 "Remove duplicate taxon names"
When extracting from doc, the species list returned can contain the same taxon listed several times.

Each taxon should only be listed once.

[2016-08-18 18:17] hdliv commented on #128
![screen shot 2016-08-18 at 14 12 16](https://cloud.githubusercontent.com/assets/6361361/17785371/7134eb78-654e-11e6-9c67-78699654084d.png)

[2016-08-18 18:17] hdliv commented on #128
![screen shot 2016-08-18 at 14 12 08](https://cloud.githubusercontent.com/assets/6361361/17785379/750c2e3c-654e-11e6-9c13-909107cbac73.png)

[2016-08-18 18:21] hdliv opened #129 "Add info about TNRS"
This ticket is to remind that we should add some information on the TNRS used by the portal, maybe under 'About'.  There are users that would want to know this information

[2016-08-18 19:58] ducvan0212 commented on #128
This issue is duplicate with #84 @hdliv

[2016-08-19 18:37] hdliv commented on #109
is there another way to do this?

[2016-08-19 18:51] ducvan0212 commented on #109
I will let users download it

[2016-08-19 19:01] hdliv commented on #109
ok

[2016-08-19 19:02] hdliv commented on #109
great!

[2016-08-19 19:36] ducvan0212 commented on #109
I changed link. Now user has to download the template

[2016-08-22 14:53] ducvan0212 commented on #97
Suppose we have 2 databases: d1, d2. If list L in d1 is updated public attributes then for now, the only way to know L is updated is polling @abusalehmdtayeen services from d2. However it is costly and unscalable. What do you think, Abu?

[2016-08-22 15:04] ducvan0212 commented on #97
After changing from private to public, list is not included in public list api. @abusalehmdtayeen you can see list 4 is public but when queuing public lists, it is not in returned response.

[2016-08-25 16:17] ducvan0212 opened #130 "Server was restarted"
Someone restarted NMSU server. Turn on your services please, Abu.

[2016-08-25 19:25] abusalehmdtayeen commented on #130
@ducvan0212 , Services are on.

[2016-08-25 20:20] ducvan0212 commented on #97
@abusalehmdtayeen

[2016-08-25 22:37] abusalehmdtayeen opened #131 "External data in tree visualization"

[2016-08-26 18:32] ducvan0212 opened #132 "Getting started tab"

[2016-08-26 18:33] ducvan0212 opened #133 "Integrate ETE and portal"

[2016-08-27 00:51] ducvan0212 opened #134 "tree is not shown up if there is no image of a given species"
Can you check your draw function when I display a picture of a species in leaves of tree? I think the problem is that there are some species that do not have image to be displayed so it create error in your draw function

[2016-08-27 21:59] abusalehmdtayeen commented on #134
@ducvan0212 , Yes, you were right. I have fixed the issue. Now if there is no image for any species it will show an image with message "Image Not Available".

[2016-08-29 15:03] ducvan0212 commented on #134
Now, tree is completely not shown up @abusalehmdtayeen

[2016-08-29 15:46] hdliv opened #135 "Interactive use cases"
Create a list of interactive use cases

[2016-08-29 15:47] hdliv opened #136 "Directions for portal"
Write the directions in which the user should follow

[2016-08-29 15:55] hdliv commented on #130
I was able to use the server afterwards

[2016-08-29 16:01] hdliv commented on #122
@ducvan0212 and @hdliv have created the metadata table, and received initial input from @arlin

[2016-08-29 16:04] hdliv commented on #127
can we talk about  this?  The box is not in all

[2016-08-29 16:05] hdliv commented on #124
@ducvan0212 I have tested this

[2016-08-29 16:05] hdliv commented on #120
I have tested this and it works

[2016-08-29 16:06] hdliv commented on #136
@ducvan0212 has now added it to the portal

[2016-08-29 16:06] #130 closed

[2016-08-29 16:07] hdliv commented on #132
this and #136 are related

[2016-08-29 16:07] hdliv commented on #132
it has implemented so now closing

[2016-08-29 16:08] hdliv commented on #136
# 132 is related to this ticket and it has been implented

[2016-08-29 16:08] #136 closed

[2016-08-29 16:08] #132 closed

[2016-08-29 16:08] #124 closed

[2016-08-29 16:08] #120 closed

[2016-08-29 16:09] #126 closed

[2016-08-29 16:10] #123 closed

[2016-08-29 16:10] hdliv commented on #117
we are now usign ETE, so closing

[2016-08-29 16:10] #117 closed

[2016-08-29 16:14] hdliv commented on #133
@ducvan0212 moving to in review since you have integrated this

[2016-08-29 16:19] hdliv opened #137 "TNRS download as .csv"
currently we can download as a .pdf.  We should also implement the possibility to download as .csv

[2016-08-29 16:42] abusalehmdtayeen commented on #134
@ducvan0212 , The underlying web service hung up possibly because of some unmatched  exception.  I have restarted it. It is working now. Can you send me the last input newick string and operation you tried before the tree stopped showing up. The web service is still in testing phase. I need to track down  this type of exceptions.

[2016-08-29 16:45] hdliv commented on #102
@ducvan0212 has implemented this new design

[2016-08-29 16:45] #102 closed

[2016-08-29 20:03] ducvan0212 commented on #127
Can you check again? @hdliv

[2016-08-29 20:05] ducvan0212 commented on #125
What do you mean? Do you want each species in a line?

[2016-08-29 20:07] ducvan0212 commented on #122
Can I start implementing? Are you still keen on placing 'comments' inside metadata tab?

[2016-08-29 20:11] ducvan0212 commented on #134
It works now so I dont think you can get again the exeption. Anyway, here is the last 2  trees I checked with ETE

=> "{\"status_code\": 200, \"message\": \"Success\", \"newick\": \"(Equus_primigenius_ott3614857,Equus_kiang_ott641400)Equus_ott541951;\"}"

=> "{\"status_code\": 200, \"message\": \"Success\", \"newick\": \"((((Nesolagus_netscheri_ott152814,Nesolagus_timminsi_ott3611227)Nesolagus_ott

[2016-08-29 21:16] abusalehmdtayeen commented on #134
@ducvan0212 : I forgot to tell you one thing that you should take care of on your end.  The tree viewer web service can accept the species names in newick string with underscore and ottids and draw the tree. But when you will try to view images or EOL links it will not be able to get image or link data because of the underscore and ottids. You need to remove the ottids and replace the underscore w

[2016-08-30 13:02] hdliv commented on #127
@ducvan0212 great!!  moving issue to done

[2016-08-30 13:02] #127 closed

[2016-08-30 15:05] hdliv opened #138 ".pdf and .doc scraping"
I am not getting a list of species for .pdf or .doc I used as input list

[2016-08-30 15:07] hdliv commented on #138
attaching the files
[biodiversity_data_journal-3-e4421.pdf](https://github.com/phylotastic/phylotastic-portal/files/445221/biodiversity_data_journal-3-e4421.pdf)

[Gama-Jr et al. 2014 - How diverse are coccoid Cyanobacteria'.pdf](https://github.com/phylotastic/phylotastic-portal/files/445224/Gama-Jr.et.al.2014.-.How.diverse.are.coccoid.Cyanobacteria.pdf)

[2016-08-30 15:08] hdliv opened #139 "Not all lists give trees"
I am having trouble with getting a tree for some lists

[2016-08-30 15:08] ducvan0212 commented on #134
Abu, check this tree. @hdliv can not see it in ete

((((((((((Elodea canadensis,Egeria densa)Hydrocharitaceae,(Butomopsis latifolia,Alisma triviale)Alismataceae),Zostera marina,((Lemna gibba,Wolffia arrhiza),Dracunculus vulgaris))Alismatales,(((Zizania aquatica,(Poa alpina,Deschampsia cespitosa)Poeae Chloroplast Group 2 (Poeae type)),Carex hirta),Typha latifolia)Poales),((((((Micranthes aprica,Sax

[2016-08-30 15:08] hdliv commented on #139
I attach the example of one
[aquaticxterrestrial.txt](https://github.com/phylotastic/phylotastic-portal/files/445231/aquaticxterrestrial.txt)

[2016-08-30 15:10] hdliv opened #140 "delete list when process fails"
There are cases when uploads fail or are in wrong format but I can't seem to delete the task, only re-upload

[2016-08-30 15:10] hdliv commented on #140
![screen shot 2016-08-30 at 11 09 27](https://cloud.githubusercontent.com/assets/6361361/18094722/6a271722-6ea2-11e6-8160-e960617ea09a.png)

[2016-08-30 15:15] ducvan0212 commented on #140
You can re-upload instead of deleting and uploading another file.

[2016-08-30 15:26] hdliv opened #141 "Problem when scraping URL"
When scraping the Ant Wiki page (https://en.wikipedia.org/wiki/Ant) the List rendered contained **320** matches.  Removing the dupes, the list has only **270** matches.

The tree rendered after **Get Tree**  has only **177** tips.

I suppose this is because there are internal nodes and tips scraped together.  However, this can confuse a user.

Also, in this case, the .nwk downloaded is not read du

[2016-08-30 15:29] hdliv commented on #141
The files

[Species_found_ant_wiki.txt](https://github.com/phylotastic/phylotastic-portal/files/445276/Species_found_ant_wiki.txt)

[Species_found_ant_wiki_no dupes.txt](https://github.com/phylotastic/phylotastic-portal/files/445278/Species_found_ant_wiki_no.dupes.txt)

[Wiki_ants_tree.txt](https://github.com/phylotastic/phylotastic-portal/files/445283/Wiki_ants_tree.txt)
![screen shot 2016-08-30

[2016-08-30 15:36] hdliv commented on #140
yes, but then i have this red box that i want to take away

[2016-08-30 16:21] hdliv commented on #125
@ducvan0212 moving to done -- i see that you have implemented

[2016-08-30 16:21] #125 closed

[2016-08-30 17:52] abusalehmdtayeen commented on #138
@hdliv : Today the GNRD service is down for some reason. Try later.

[2016-08-30 18:13] hdliv commented on #138
OK.  It must have been down yesterday too when I tried

[2016-08-30 18:21] abusalehmdtayeen commented on #134
@ducvan0212 @hdliv , I checked the newick string for which you can't see the tree. The ETE module gives a newick parse error while reading it. That is why it can not draw the tree. I have contacted the ETE developer regarding this issue. I am waiting for his response. As soon as the problem is resolved, I will let you guys know.

[2016-08-31 11:33] hdliv commented on #137
thanks @ducvan0212 .  this is now implentend

[2016-08-31 11:33] #137 closed

[2016-08-31 16:04] abusalehmdtayeen commented on #134
@ducvan0212 @hdliv ,  Currently ETE  does not support any taxon name which includes parenthesis. For example, in the above newick string there is a taxon called "Poeae Chloroplast Group 2 (Poeae type)". The presence of this type of taxon causes problems while parsing the newick string since parenthesis is a reserved character for newick standard. The solution that the ETE developer suggested for n

[2016-08-31 16:12] abusalehmdtayeen commented on #138
@hdliv , Try the two pdf files again. GRND service is up now. You should be able to get a list of species for each file.

[2016-08-31 16:33] hdliv commented on #138
@abusalehmdtayeen Yes I go the lists using TaxonFinder, but not with NetiNeti

[2016-08-31 16:43] abusalehmdtayeen commented on #97
@ducvan0212 , This issue is fixed now. You have to send boolean type value when you are modifying the type of list. I had to remove the list 4 which caused problem for this.

[2016-08-31 16:54] abusalehmdtayeen commented on #138
@hdliv , It is a GNRD issue. You have to ask Dima about it.

[2016-09-01 16:22] hdliv commented on #138
@dimus I haven't tried today, but I am able to scrape with TaxonFinder and not NetiNeti.  Is there a reason why?

[2016-09-01 17:54] hdliv commented on #109
@ducvan0212 i saw this so moving to done

[2016-09-01 17:54] #109 closed

[2016-09-01 20:05] ducvan0212 commented on #131
@hdliv please read this description and if you have any questions, refer it to Abu please

[2016-09-01 20:45] dimus commented on #138
do you have a url for pdf that did not work? @hdliv? I am able to find names with NetiNeti

[2016-09-01 20:51] dimus commented on #138
lookd like language detection problem, our bayes classifier did not recognize the text as English. Try to switch of language detection in options

[2016-09-01 21:12] ducvan0212 commented on #134
But how can i know if ( is for newick format separator or it is a part of name of species?

[2016-09-02 12:23] hdliv commented on #135
the files are now here: https://github.com/phylotastic/phylotastic-portal.git

[2016-09-02 15:03] hdliv commented on #97
@abusalehmdtayeen @ducvan0212 can i close this?

[2016-09-02 15:10] hdliv commented on #133
@ducvan0212 closing since this has been incorporated

[2016-09-02 15:10] #133 closed

[2016-09-02 18:21] abusalehmdtayeen commented on #97
@hdliv , @ducvan0212 should check first if he faces any other problem with this. Then you can close this.

[2016-09-02 18:25] abusalehmdtayeen commented on #134
@ducvan0212 , honestly I don't have a good solution about this issue right now. I can suggest one approach which is not that good I know. May be when this type newick strings don't work, you can ask the user to check for reserved characters using a message and allow them to edit the newick. Discuss with @hdliv, whether he can give any better solution.

[2016-09-05 16:12] ducvan0212 commented on #134
@hdliv @abusalehmdtayeen I dont think allowing user update newick format is reasonable. It is hard to check a big chunk of text and what if user wrongly updates the newick text? It creates more complexity than its convenience

[2016-09-05 17:10] ducvan0212 commented on #97
I think it can be closed now.

[2016-09-05 17:10] ducvan0212 commented on #122
@hdliv

[2016-09-05 17:16] ducvan0212 commented on #139
The tree itself is contructed but the problem is it can not visualized. Refer to #134

[2016-09-05 17:17] ducvan0212 commented on #141
Please tell me what I can do to resolve this issue

[2016-09-06 16:21] hdliv commented on #122
@ducvan0212 OK for implementing

[2016-09-07 13:39] hdliv opened #142 "Funny highlighting"
When using some of the features of the tree viewer, the ability to highlight a clade does not give the expected response

[2016-09-07 13:41] hdliv commented on #128
@ducvan0212 OK.  I will close this since we already have another issue for this

[2016-09-07 13:41] #128 closed

[2016-09-07 13:45] hdliv commented on #141
@ducvan0212 I dont think we came to a conclusion during last week's meeting

[2016-09-07 13:48] hdliv commented on #97
@ducvan0212 yes I am closing this.  we have already discussed this

[2016-09-07 13:48] #97 closed

[2016-09-07 13:52] hdliv commented on #139
@ducvan0212 I am closing the issue since this issue is in another ticket.

[2016-09-07 13:52] #139 closed

[2016-09-09 04:19] ducvan0212 commented on #80
@thanhnh-infinity can you add callback to port 3001 of the server? I am trying to set up a new server in port 3001

[2016-09-12 17:20] arlin commented on #134
@ducvan0212, the answer to the question about how to recognize whether "(" is in a name or is part of the Newick tree is to have a proper lexical parser.  The parser will tokenize a Newick string according to some rules, and the rules typically would allow for *any character* within a quoted string.    Therefore, the long-term solution in this case is to fix the ETE parser so that it will parse na

[2016-09-12 17:35] ducvan0212 commented on #134
@arlin should I add a small line of text to indicate this case and explain why tree can not be displayed in tree visualization page?

[2016-09-12 20:37] arlin commented on #115
Thanks @ducvan0212 !  I'm sorry for the delay in getting to this.  The changes are good.

However, I discovered one bug that is very strange.  When I click on "Search" for the *first* item in the list, the portal responds by *attempting to get a tree*.  When I click on "Search" for any *other* item in the list, the portal resolves the name and adds it to the list.

[2016-09-12 21:11] hlapp opened #143 "Some minor issues with the UI"
* [x] “Feedback” menu item goes to FAQ instead of where to give feedback.
* [x] I would acknowledge the NSF grant# under About.
* [x] The “How can I get involved” in the FAQ gives "~~~" as the email address at which to email the project. (And the Gitter URL isn’t hyperlinked.)

[2016-09-12 21:12] hlapp opened #144 "Authentication is unwelcoming and confusing"
* [ ] The homepage first greets one with a red background error message (“You need to sign in or sign up before continuing”). That’s bad form (because telling people that they’ve done something wrong before they’ve done anything at all is like saying they’re not welcome), and it’s made worse by not saying anything about why one would need to sign in.
* [x] The Google Auth icon is for Google+, not

[2016-09-12 21:15] hlapp opened #145 "Authorization asks for far reaching and potentially excessive privileges"
The Google Auth screen states that the application not only wants view access to my email address and basic profile info (which I’d be OK with letting it view), but also wants to _Manage your data while you are not signed in_.

Perhaps the app truly needs to have this access, but not having been told that it does and exactly why this is so, I aborted at that point - allowing an app in alpha stage

[2016-09-12 22:10] ducvan0212 commented on #115
My typo made this mistake in HTML. I checked again and corrected my typo so it should be no problem now, @arlin.

[2016-09-12 22:53] ducvan0212 commented on #145
@thanhnh-infinity Can you check our google app?
@hlapp Thank you for your comments.

[2016-09-12 22:56] ducvan0212 commented on #143
@arlin Which email address would you like me to add to the placeholder in FAQ page, under "How can I get involved" section?
@hlapp Thank you very much. If there is any other things I can do to improve UI/UX of the portal, please let me know.

[2016-09-12 23:55] ducvan0212 commented on #144
I changed login page like this

<img width="415" alt="screen shot 2016-09-12 at 5 53 55 pm" src="https://cloud.githubusercontent.com/assets/1614884/18456927/11b0abe2-7912-11e6-9e80-aef02611208c.png">

[2016-09-13 10:55] thanhnh-infinity commented on #145
@ducvan0212 : It depends on the "scopes" parameter that you set up for OAuth2. Can you check it ?

[2016-09-13 13:40] arlin commented on #115
OK, good.  It works now.  :-)

[2016-09-13 13:40] #115 closed

[2016-09-13 13:42] ducvan0212 commented on #145
I requested email, profile and offline for scope. I removed offline scope now but my Google Auth screen has nothing change. Can @hdliv do me a favor that check this issue?

[2016-09-13 13:43] arlin commented on #140
What is the status of this?   @hdliv, if there is still an issue, can you please provide an example for re-creating it?

[2016-09-13 13:49] ducvan0212 commented on #140
@arlin I forgot to ping @hdliv to check the delete button after I implemented it. Sorry about that.

[2016-09-13 13:56] hdliv commented on #140
@arlin @ducvan0212 i now see the delete button and it works.  i will close this issue

[2016-09-13 13:56] #140 closed

[2016-09-13 14:15] hlapp commented on #144
@ducvan0212 I'm sorry but that doesn't address it. It still uses the Google Plus icon, even though you aren't asking the user to sign into their Google Plus network. Why not use an icon that isn't misleading, such as the [Google FontAwesome icon](http://fontawesome.io/icon/google/).

[2016-09-13 14:17] hlapp commented on #145
It is changed for me now, it doesn't ask anymore for permission to manage my data.

[2016-09-13 14:25] hdliv commented on #145
@ducvan0212   should i close this?

[2016-09-13 14:50] ducvan0212 commented on #145
@hdliv yes, please. Thank you.

[2016-09-13 14:52] ducvan0212 commented on #144
<img width="511" alt="screen shot 2016-09-13 at 8 50 31 am" src="https://cloud.githubusercontent.com/assets/1614884/18478660/48515976-798f-11e6-8cf2-4ca0ce8cf186.png">

I updated Font Awesome icon.

Thank you for correcting me.

[2016-09-13 14:56] hdliv commented on #145
closing

[2016-09-13 14:56] #145 closed

[2016-09-13 17:21] abusalehmdtayeen commented on #134
@ducvan0212 , I will modify the tree viewer service to send you an error message when this type of newick parsing error occurs.

[2016-09-13 17:25] abusalehmdtayeen commented on #142
@hdliv , can you please post an example newick tree and the feature for which tree viewer does not give the expected response?

[2016-09-13 17:35] hdliv commented on #142
(((Equus caballus,((Cervus canadensis,Odocoileus virginianus)Cervidae,(((Balaenoptera acutorostrata,Balaena mysticetus)Mysticeti,(Inia geoffrensis,Platanista gangetica))Cetacea,Hippopotamus amphibius))),((Ursus maritimus,(((Mirounga leonina,Hydrurga leptonyx),Phoca vitulina)Phocidae,Otaria byronia)),Procyon lotor)),(Elephas maximus,(Dugong dugon,Trichechus manatus)Sirenia))Eutheria;

[2016-09-13 17:38] hdliv commented on #142
when the user clicks the nodes the nodes to be highlighted, there are sometimes strange behaviours

[2016-09-13 17:38] hdliv commented on #142
![screen shot 2016-09-13 at 13 37 36](https://cloud.githubusercontent.com/assets/6361361/18484664/6184327e-79b7-11e6-9718-b82fba43f24b.png)

[2016-09-13 17:39] hdliv commented on #142
the top branches should have the whole top clade highlighted.

[2016-09-13 17:39] hdliv commented on #142
![screen shot 2016-09-13 at 13 37 13](https://cloud.githubusercontent.com/assets/6361361/18484695/7f5f3b2c-79b7-11e6-8d86-330231ed5949.png)

[2016-09-13 17:41] hdliv commented on #142
this one, I asked for highlighting the LCA from U. maritimus to P. lotor.  For some reason the middle was not highlighted

[2016-09-13 22:06] arlin commented on #143
@ducvan0212 for now let's just use my address, arlin@umd.edu.

The NSF grant number is 1458572 "Collaborative Research: ABI Development: An open infrastructure to disseminate phylogenetic knowledge"

[2016-09-14 16:09] arlin opened #146 "option to load all thumbnails"
Currently, the user has to invoke a menu option for each tip in order to get an image.  Provide an option to add thumbnail images to all the tips in a tree.

[2016-09-14 18:40] abusalehmdtayeen commented on #142
@hdliv , I checked the tree for the newick string you posted and selected the same nodes as you did. But I found no problem. The highlighting was good. I guess what might happened is that your mouse pointer did not fall into the coordinate points for that specific node. Since the nodes in the image are sensitive to the coordinates set area, you need to choose the nodes carefully using the mouse po

[2016-09-14 18:45] abusalehmdtayeen commented on #134
@ducvan0212 , I have modified the tree viewer service to catch this type of error. Now it will send you error message regarding newick parsing error. It will be shown in the designated area for the tree image. You don't need to add anything in your end.

[2016-09-14 18:54] hdliv commented on #142
@abusalehmdtayeen that is odd.  the first time it happened was when @arlin and i were playing around with the highlighting.  i will test some more with trying to focus the pointer.

.

[2016-09-14 18:58] arlin commented on #134
thanks, I can see that this works.  closing.

[2016-09-14 18:58] #134 closed

[2016-09-14 19:39] arlin opened #147 ""Not solanum" bug"
1.  Attempt to create list of 6 species from https://github.com/phylotastic/phylotastic/blob/master/test_data/miscellaneous/six_plants_from_RW.txt

2.  Look at taxon match report. There are 7 species.   Solanum tuberosum appears to match twice, items 4 and 5.  In the taxon report, one of the species is literally "not Solanum tuberosum", but the list view doesn't show us which one.  Both matches lo

[2016-09-14 19:54] arlin commented on #142
I also find that I can often correct anomalies by going back and being very careful about mouse placement.  Sometimes the mouse-down event selects the wrong part of the tree and the user does not realize it.

Arlin

On Sep 14, 2016, at 2:40 PM, abu saleh <notifications@github.com> wrote:

------------
Arlin Stoltzfus (arlin@umd.edu)
Research Biologist, NIST; Fellow, IBBR; Adj. Assoc. Prof., UMCP
I

[2016-09-14 19:56] arlin opened #148 "sort list alphabetically"
In list view, present the list sorted alphabetically.  This makes it easier for the user to find a species.

[2016-09-14 19:57] arlin opened #149 "new list: open in list view"
when a new list is added, open it immediately in list view.

[2016-09-14 20:00] arlin opened #150 "fix ready-is-ready status message"
upon selecting "Get tree", a banner says that the user will be notified.  However, this banner is not

[2016-09-14 20:07] arlin opened #151 "fix newick string output"
Currently the newick window and export-as-text use different tree-strings.  The default should be *without* ottids.

1.  make sure that both methods output the same string.
2. if desired, add an option to include OTT ids in the Newick string.

[2016-09-14 20:10] arlin opened #152 "toggle line highlight"
Currently there is no way to remove the "line highlight" feature from a clade in the tree view.

By contrast, the box highlight feature toggles on and off.

Fix the line highlight so that it can be turned off.

[2016-09-15 17:02] ducvan0212 commented on #147
- Retaining 2 matches to one input name: we had a ticket for this issue #84 . In portal, I just display result of calling the service so removing duplicate names from portal side is just a short-term fix.
- retaining a match to an input name that is literally "not Genus species": This seems to be a special case. Can @abusalehmdtayeen contact service creators to clarify what we should do?
- List fu

[2016-09-15 17:16] ducvan0212 commented on #150
I will implement it now. Thank you, @arlin.

[2016-09-15 21:24] arlin opened #153 "feedback address"
Either add text and a link (1, 2), or simply embed the form (3).

1. Text: We appreciate feedback on any aspect of the Phylotastic system.  Please use our online form at bit.ly/phylofeedback to report bugs, make feature requests, or relay comments.

2. Link to online form: http://bit.ly/phylofeedback

3.  Embed code (I removed the opening "<" and closing ">" so that waffle doesn't try to load this

[2016-09-15 21:26] arlin opened #154 "make NetiNeti + TaxonFinder default"
default search mode when using GNRD should combine NetiNeti and TaxonFinder.  This option is available via our web service already.

The option to use  one or the other may be offered to the user, but this is not essential.

[2016-09-16 06:04] abusalehmdtayeen commented on #84
@hdliv @ducvan0212 , I have modified our wrapper GNRD web service to remove duplicates from the scientific names list. Can you check whether this feature is working or not?

[2016-09-16 06:13] abusalehmdtayeen commented on #147
@ducvan0212 @arlin , I think (we are retaining 2 matches to one input name) this issue is now resolved since I have implemented the feature to remove duplicates from the names list. Can you check whether it is working now?

[2016-09-16 13:57] hdliv commented on #84
@abusalehmdtayeen @ducvan0212 There are still duplicates

[2016-09-16 13:57] hdliv commented on #84
https://en.wikipedia.org/wiki/Elapidae
![screen shot 2016-09-16 at 09 56 50](https://cloud.githubusercontent.com/assets/6361361/18588331/0022c4fc-7bf4-11e6-8bb2-66a6bd41c176.png)

![screen shot 2016-09-16 at 09 56 23](https://cloud.githubusercontent.com/assets/6361361/18588340/072c5538-7bf4-11e6-8846-b24a33bf3fd2.png)

[2016-09-16 13:58] hdliv commented on #84
https://en.wikipedia.org/wiki/Ant

![screen shot 2016-09-16 at 09 53 49](https://cloud.githubusercontent.com/assets/6361361/18588364/22866576-7bf4-11e6-8d93-266b3e09d923.png)
![screen shot 2016-09-16 at 09 54 49](https://cloud.githubusercontent.com/assets/6361361/18588363/228648de-7bf4-11e6-8ac0-ed41329bd55e.png)
![screen shot 2016-09-16 at 09 55 12](https://cloud.githubusercontent.com/assets/6361

[2016-09-16 14:45] arlin commented on #143
The feedback URL is now bit.ly/phylofeedback as per #153.

I see that @ducvan0212 has changed the code for the about page to include the NSF grant info, but this hasn't appeared on the server yet.

This means there is only one more thing to do to close this ticket: fix the "You can also e-mail us at ----" statement in the how-to-get-involved question on the FAQ.  I would suggest to just link to ph

[2016-09-16 14:54] arlin commented on #131
This functionality replicates evolview.  I think we should consider collaborating with them.  They just released version 2, so they are under active development (I didn't realize this until now).

[2016-09-16 16:13] ducvan0212 commented on #150
I added a progress bar to indicate tree constructing progress. I hope my implementation addresses this issue and increases  user experience of portal.

[2016-09-16 16:24] ducvan0212 commented on #153
Thank you @arlin. I added feedback page and embedded code into the portal

[2016-09-16 16:37] ducvan0212 commented on #143
I replaced "You can also email us at ----" with "To learn more about how to participate, see http://www.phylotastic.org/about.html#participate". But I could not open  http://www.phylotastic.org/about.html#participate.
Anyway, I love the idea of putting all contact information into a single place.

[2016-09-16 17:05] abusalehmdtayeen commented on #84
@hdliv , I checked my web service results for the URLs you provided. There are no duplicates. If you are using old list, duplicates may show up. You need to scrap the web pages from the beginning and create the lists again. Also there may be some caching involved in the portal end. This causes the old result to show up. Contact with @ducvan0212 about this issue. From now on the back end web servic

[2016-09-16 17:12] hdliv commented on #84
@abusalehmdtayeen OK, because I used new lists and not old ones.  I see the same with this wiki page: https://en.wikipedia.org/wiki/Algae

<img width="623" alt="screen shot 2016-09-16 at 13 10 23" src="https://cloud.githubusercontent.com/assets/6361361/18594667/170155e2-7c0f-11e6-8017-95386beee95d.png">

I will see wih @ducvan0212 about it

[2016-09-16 18:15] arlin commented on #143
Thanks.  Yes, the #participate anchor is not on the web server at present, but it will be pulled when the server is updated (see git repo phylotastic.github.io/about.html).   I think @epontell is the webmaster.  The #participate anchor points to this:

<img width="587" alt="screen shot 2016-09-16 at 2 13 59 pm" src="https://cloud.githubusercontent.com/assets/1659198/18596590/e6c42982-7c17-11e6-939

[2016-09-16 18:52] ducvan0212 commented on #144
I am refactoring code in home page so that user dooesn't need to sign in to see public lists. In list API, the getting a specific public list (https://github.com/phylotastic/phylo_services_docs/blob/master/SpeciesListServer/SpeciesListServicesDescription.md#web-service-10) requires user identification which can not be retrieved. Can @abusalehmdtayeen modify the service?

[2016-09-16 19:46] ducvan0212 commented on #151
I added option to download newick format with or without OTT ids and compared text output.

[2016-09-16 20:05] ducvan0212 commented on #154
I made this change. I added "NetiNeti & TaxonFinder" option in uploading document view.

[2016-09-19 12:09] hdliv commented on #154
@ducvan0212 thanks.  I have tested and am now closing the issue

[2016-09-19 12:09] #154 closed

[2016-09-19 12:14] hdliv commented on #153
tested  the form through the portal -- ok

[2016-09-19 12:14] #153 closed

[2016-09-19 12:15] hdliv commented on #148
@arlin why is this in review?

[2016-09-19 12:39] arlin opened #155 "stable production server"
Set up a stable production server that is not the same as the site that we use internally to test and review new features.

[2016-09-19 21:33] arlin opened #156 "video"
Add this to the "Video" section of the portal.

First, wait until this is reviewed and approved.   This is the embed code:

[code]

[2016-09-20 11:44] hdliv opened #157 "'List' and 'DCA' give different results"
When I 'Upload my list' of a .txt list compared to a DCA not all same species are found.

The problem is with Hippopotamus amphibius.

[2016-09-20 11:45] hdliv commented on #157
DCA

![screen shot 2016-09-20 at 07 41 58](https://cloud.githubusercontent.com/assets/6361361/18668886/28b908f8-7f06-11e6-9914-95920d42060a.png)

[2016-09-20 11:45] hdliv commented on #157
List

![screen shot 2016-09-20 at 07 41 35](https://cloud.githubusercontent.com/assets/6361361/18668901/3c6e41ce-7f06-11e6-913e-5c9a49ccd22c.png)

[2016-09-20 11:58] hdliv commented on #157
And when I choose to make the list Public.

![screen shot 2016-09-20 at 07 56 47](https://cloud.githubusercontent.com/assets/6361361/18669217/e8745a02-7f07-11e6-8a04-8d79e5bf7979.png)

The list does not contain Hippopotamus amphibius
![screen shot 2016-09-20 at 07 56 15](https://cloud.githubusercontent.com/assets/6361361/18669221/ec3f0e16-7f07-11e6-9e6e-2c1bed120de8.png)

[2016-09-20 13:48] arlin commented on #157
I have had a problem with this species before.  Sometimes it shows and sometimes not.

On Sep 20, 2016, at 7:44 AM, Dail Laughinghouse <notifications@github.com> wrote:

------------
Arlin Stoltzfus (arlin@umd.edu)
Research Biologist, NIST; Fellow, IBBR; Adj. Assoc. Prof., UMCP
IBBR, 9600 Gudelsky Drive, Rockville, MD, 20850
tel: 240 314 6208; web: www.molevol.org

[2016-09-20 14:55] arlin commented on #148
I'm not seeing this consistently.  I uploaded a list via text file, and the species were presented alphabetically by the portal.  However, I scraped names from a PDF, and these do not appear alphabetically, e.g., look at 1:40 in https://youtu.be/5oKYu8GCMjc.

[2016-09-20 15:00] arlin opened #158 "remove fake branch lengths from tree views"
Currently the tree view shows branch lengths in red font, but they are all "1.0" because the branch lengths aren't real.   Remove the red numbers.  This can be added as an option. We may wish to show branch lengths later, when we start using DateLife.

[2016-09-20 15:06] #143 closed

[2016-09-20 15:11] arlin commented on #151
Thanks, @ducvan0212, this works fine :-)

[2016-09-20 15:11] #151 closed

[2016-09-20 15:12] arlin commented on #150
Yes, this is much better!

[2016-09-20 15:20] bomeara commented on #144
FWIW, I agree with @hlapp completely on this: **nothing** we do should require login by default -- only for things where a user might want to opt in for privacy (like private lists), though I could see a strong argument against even that (however, some researchers might want to use our services without "tipping their hand" for their great unpublished work). The one exception might be student data,

[2016-09-20 15:20] ducvan0212 commented on #157
Refering to #113, @abusalehmdtayeen said that

so basically, names from DCA will be run through "find names" service, then "resolve" while names from one-name-per-line file will directly put to "resolve" service.

Hippopotamus amphibius was not detected by "find names" services (GNRD service) so it was not included in DCA list species.

@hdliv I dont understand what you mean when you said that Hip

[2016-09-20 15:29] ducvan0212 commented on #144
I also totally agree on this. For now, you can access the home page without any permission and the published list is not shown up because our DCA species list services requires user identities to all operations so I am asking @abusalehmdtayeen to make some changes. However, accessing further (create, edit, update, destroy actions for any objects) requires signing in/signing up.

[2016-09-20 15:41] ducvan0212 commented on #148
I fixed this. I forgot to sort list species extracted from documents. :-)

[2016-09-20 15:50] arlin commented on #148
OK, I have tested with URL, PDF and txt.  Good, thanks!

[2016-09-20 15:50] #148 closed

[2016-09-20 15:52] arlin commented on #148
Now, we also need to sort the list of lists and the list of trees, to make these easier for the user to navigate.  But that is a separate ticket.

[2016-09-20 15:53] arlin opened #159 "sort lists of lists and trees"
This is not a high priority.  However, if the user has > 5 lists or trees, then it is helpful to sort them by name so that they are easier to find.

Alternatively, we could use a "stack" and put the *newest* list or tree at the top.

[2016-09-20 15:55] arlin opened #160 "option to hide internal node names"
In ETE, displaying internal node names causes the tree to become very wide, e.g., look at the ants tree from https://en.wikipedia.org/wiki/Ant.

Implement an option to show internal node names.  Turn this option *off* by default.

Alternatively, turn this option *off* whenever there are more than 20 OTUs in the tree.

[2016-09-20 16:39] arlin commented on #144
thanks @ducvan0212 .  I'm closing this.

[2016-09-20 16:39] #144 closed

[2016-09-20 16:46] arlin commented on #157
@hdliv, @dimus, this is actually a bug in GNRD.    Look at this paper: http://rsos.royalsocietypublishing.org/content/2/9/150156

The name "Hippopotamus amphibius" occurs twice, and "H. amphibius" occurs twice.

When given the URL, GNRD finds "H. amphibius" but not "Hippopotamus amphibius".  When given the PDF, GNRD does not find either one.

I will submit feedback to GNRD about this.

[2016-09-20 17:51] abusalehmdtayeen commented on #152
@hdliv @arlin , Line Highlight now supports toggle on and off.

[2016-09-20 18:20] hdliv commented on #152
@abusalehmdtayeen great i'll take a look

[2016-09-20 20:52] dimus commented on #157
I am trying to fix this in new version of name finding engine. Hippopotamus is a common word, and NetiNeti and TaxonFinder ignore it. In new engine I only pick Hippopotamus out of text if it occures together with a known species epithet, so Hippopotamus amphibius would work

[2016-09-21 16:54] jcmassante opened #161 "Newick Parsing Error - "Get tree""
I trying to create a tree with 7696 taxa (plant species). I got input a file with this species list and after matching process (NetiNeti and TaxonFinder choosen), Phylotastic returns with 7160 taxa. Then I tried create Tree using "Get Tree" with these 7160, but system returns this message: "An unhandled lowlevel error occurred. The application logs may have details" (below):

![message1](https://c

[2016-09-21 19:29] arlin commented on #161
Jhonny, thanks for bringing this to our attention.  Our work right now is aimed at satisfying the demand for relatively small trees (< 200 OTUs).  In principle, this system could be used for larger trees, and we want to expand our capacity, but that will not happen for a while.

[2016-09-21 19:50] jcmassante commented on #161
Thank you for your answer!

[2016-09-21 21:34] arlin opened #162 "find out why this doesn't work"
One of our use-cases is to create a clickable resource to aid in exploring the flora of national parks, based on this web site:

https://www.usbg.gov/floraofthenationalparks

This page can't be scraped directly due to dynamic content.  So, I copied and pasted the table into Excel, extracted out the column of species, and put this in the following:

 https://github.com/phylotastic/phylotastic-porta

[2016-09-21 21:39] arlin opened #163 "feature: export tree with clickable links"
For some use-cases it would be helpful if the user could download and share a version of the tree with clickable links.  Possibly we could do this by exporting to PDF.

Implement an option to export the tree with clickable links to EOL for tip species.

In the future, we could consider supporting other kinds of links.

[2016-09-21 21:41] arlin commented on #161
I will find out what is the maximum capacity.  Earlier today I got a tree with 900 species.

[2016-09-21 21:44] arlin opened #164 "failure to extract names from web site"
One of our use-cases calls for creating a phylogenetic guide from natural language queries such as "birds of papua new guinea".  The top hit for this on google is

https://en.wikipedia.org/wiki/List_of_birds_of_Papua_New_Guinea

I know that this page has about 900 valid species names, because I have processed it directly with GNRD.  However, the portal does not process this list using the "Extract

[2016-09-21 21:57] abusalehmdtayeen commented on #164
@arlin, I checked the url with our find names web service. It gives result of 912 species within 7 secs. I think the problem is on the portal end. @ducvan0212 , can you check?

[2016-09-21 22:03] ducvan0212 commented on #164
@arlin @abusalehmdtayeen I created tree with your link. What is the error you got?

[2016-09-21 22:05] arlin commented on #164
I do not get an error.  I just get this, forever:

<img width="597" alt="screen shot 2016-09-21 at 6 04 49 pm" src="https://cloud.githubusercontent.com/assets/1659198/18730763/021d9936-8026-11e6-83f3-d295b28208aa.png">

[2016-09-21 22:06] arlin commented on #164
I just retested the file, and I still get the same error.  If you are not getting an error, then I suspect there was some change in text encoding when the file was transferred to github and then downloaded.   I will email you a zipped version of the file so that no conversion takes place.

[2016-09-21 22:16] ducvan0212 commented on #164
Let make it clear, I tried to use https://en.wikipedia.org/wiki/List_of_birds_of_Papua_New_Guinea and I could create tree from this link

I checked "Aquatic vs. terrestrial plants" file and I saw a species named
OpuntiaÂ sp.

<img width="217" alt="screen shot 2016-09-21 at 4 14 14 pm" src="https://cloud.githubusercontent.com/assets/1614884/18731017/97757860-8016-11e6-9d04-095343a0db5c.png">

It ca

[2016-09-21 22:20] arlin commented on #162
I just retested the file, and I still get the same error. If you are not getting an error, then I suspect there was some change in text encoding when the file was transferred to github and then downloaded. I will email you a zipped version of the file so that no conversion takes place.

[2016-09-21 22:21] arlin commented on #164
I think we are mixing up some tickets here.

I retried the birds list.  This time, I was able to get a list.  Maybe I didn't wait long enough?

So, I am going to close this ticket.

[2016-09-21 22:21] #164 closed

[2016-09-21 22:23] ducvan0212 commented on #162
I generated a link to your uploaded file in server.
http://phylo.cs.nmsu.edu:3000/system/onpl_files/documents/000/000/085/original/park_svc_usecase2.txt

You can see "Â" symbol in the file but if you download the file and open it in a text editor.

[2016-09-21 22:26] ducvan0212 commented on #162
Because the file can not be read so it is put into the waiting queue in background job. That is the reason why you saw only a loading leaf instead of a full species list.

[2016-09-21 22:32] ducvan0212 commented on #162
<img width="209" alt="screen shot 2016-09-21 at 4 29 40 pm" src="https://cloud.githubusercontent.com/assets/1614884/18731353/a98d728a-8018-11e6-8091-ae65df78a4af.png">

@arlin I found another "Â" symbol. After removing these 2 line which contains "Â" symbol, I can get the list normally.

[2016-09-21 22:45] ducvan0212 commented on #162
@arlin I replaced malicious symbol in file with "?" before extracting names. It should work now.

[2016-09-22 19:28] jcmassante commented on #161
Thank you very much, Dr. Stoltzfus.

I trying with Phylomatic for Desktop and Web, but I ever find the same
problem. I tried with brranching package in R, but there are errors as
well. Sorry for sharing this with you, but it is my PhD Thesis :) and thank
you again for your advice!

Best regards,

Jhonny

2016-09-22 0:41 GMT+03:00 Arlin Stoltzfus <notifications@github.com>:

[2016-09-25 15:13] ducvan0212 opened #165 "remove Kingdom column in list viewer"

[2016-09-25 16:18] ducvan0212 opened #166 "Put taxon matching list download buttons at top"

[2016-09-25 16:23] ducvan0212 opened #167 "Add welcome message to middle column of home page for when people first log in -- orient them to how to use the site."

[2016-09-25 16:39] ducvan0212 opened #168 "Bigger text throughout"

[2016-09-25 16:40] ducvan0212 commented on #168
<img width="1128" alt="screen shot 2016-09-25 at 10 38 23 am" src="https://cloud.githubusercontent.com/assets/1614884/18816729/64954c24-830c-11e6-9324-4de4896bb928.png">

Side-by-side comparison between before and after increasing text size

[2016-09-25 16:57] arlin opened #169 "welcome message"
first-time user, no login, put welcome message in central panel. Text:

Welcome to the Phylotastic web portal!

The portal makes a tree from a list of species names.  Choose from the "Make a new list" menu (upper right) to
* upload your list (one name per line or DwC-A)
* extract names from a document (PDF, .docx, etc)
* extract names from a web page
* choose a taxon (e.g., Felidae) and sample fro

[2016-09-25 17:20] arlin opened #170 "turn off branch lengths, scale bar"
currently, portal tree view shows branch lengths like "1.0" but these aren't real.  Make branch lengths optional, with "on" as default.

[2016-09-25 17:21] arlin commented on #170
This seems to be a flaw in ETE.  It should *not* add "1.0" when there is no branch length.

[2016-09-25 17:23] arlin commented on #170
duplicates #158

[2016-09-25 17:25] arlin commented on #146
estimate how long it takes to do this.

for trees with <= 20 OTUs: load all images automatically.

for trees with > 20 OTUs:
* add button "load thumbnails"
* pop-up with estimated time for loading and "Go ahead" or "cancel"

[2016-09-25 17:26] arlin opened #171 "fixes to About page"
* give info on all contributors
* add group photo
* credit NSF grant for each center
* list of services and sources we depend on
   * OT
   * EOL
   * GNRD
   * iNaturalist
   * others?

[2016-09-25 17:27] arlin opened #172 "sort lists alphabetically by title in list menu"

[2016-09-25 17:28] arlin opened #173 "change "edit list" button to "rename name""

[2016-09-25 17:29] arlin opened #174 "fixes to header"
* get rid of "toolbox"
* reduce size of phylotastic icon 2X

[2016-09-25 17:31] arlin opened #175 "public list menu doesn't show enough"
Public list menu sometimes shows only 3 names due to wrapping, and it isn't clear whether more names are available.

Fix view to indicate better how many lists are available.  Ideas
* Show scroll bar.
* Emphasize bounding box.
* replace wrap with "...." and mouseover for full text

[2016-09-25 17:32] arlin opened #176 "resize tree view to fit window"
1.  Shrink tree so that user can see entire tree the first time it appears, *even if this makes the tree too small to read*.

2.  Provide zoom bar in treeview control panel.

[2016-09-25 17:36] arlin opened #177 "submit node-actions menu bug to ETE"
node actions menu is often compressed horizontally and is placed away from node.  There is no graphical indication of which node is implicated by the menu.

This is an ETE bug, so we need to bring it to the attention of ETE and suggest some solutions:
* fix horizontal compression
* indicate implicated node.  Ideas
   * display node name (if present) at top of menu, e.g., "actions for node 'Mammali

[2016-09-25 17:39] arlin opened #178 "tree view hints"
On tree view, provide explanation to user.

"Click on a name or a node to see viewer options.  More info is available in the "Tree Viewer" section of Help. "

this is not the same as #179 (tree viewer instructions in Help menu)

Another way to do this is to have a pop-up with the above message when the user selects the tree view.  This should have a box that says "Got it.  Don't show me this messa

[2016-09-25 17:40] arlin opened #179 "add tree viewer instructions to Help"
In the help section on the tree view, explain the tree viewer options.

* branch lengths
* branch width
* images
* zoom
* node actions (highlight, EOL, etc)

[2016-09-25 17:54] arlin commented on #95
This has been completed.  It may duplicate another issue.

[2016-09-25 17:54] #95 closed

[2016-09-25 17:55] arlin commented on #149
This is done.

[2016-09-25 17:55] #149 closed

[2016-09-25 20:33] arlin commented on #169
this duplicates #167

[2016-09-25 20:34] arlin commented on #171
group photo is in portal/design/images

[2016-09-25 20:42] arlin opened #180 "simplify Nav bar, unify Help"
1.  Replace videos, getting started and FAQ with a single "Help" item.
2. compose a Help page with
* clickable table of contents
* links to screencasts
* getting started section
* FAQ

[2016-09-26 19:37] arlin commented on #162
@ducvan0212, there is no way for me to delete jobs that are hung.  The "delete" button does not appear, only the waving leaf icon.

[2016-09-26 19:41] arlin commented on #162
@ducvan0212, what should we do about this?   I would suggest:

* replacing malicious symbol with ?? then processing, so that this comes out as a non-matched name rather than an error
* warning user that a symbol was replaced and asking them to check the FAQ
* putting some information in the FAQ about this problem  "Sometimes web pages and other sources have hidden characters or other non-ASCII cha

[2016-09-26 22:31] arlin commented on #147
This bug has been fixed at the OT end, so closing this.

[2016-09-26 22:31] #147 closed

[2016-09-26 23:08] arlin opened #181 "Integrate DateLife scaling"
Implement UI controls to add geologic time scale to tree using DateLife.

Integrate DateLife services to scale tree.

[2016-09-26 23:11] arlin opened #182 "Save tree-viz customizations"
Portal saves tree viz annotations and modifications internally, so that they are not lost when user navigates away from tree.

This can be done by saving the ETE commands.

[2016-09-26 23:15] arlin opened #183 "Naive user testing"
Get completely naive user.  Set them in front of the computer.  No further explanation.  Watch what they do.

Repeat up to 5 users.

See also http://www.uxbooth.com/articles/10-usability-lessons-from-steve-krugs-dont-make-me-think/

[2016-09-26 23:18] arlin commented on #166
Good. Thanks.

[2016-09-26 23:18] #166 closed

[2016-09-26 23:18] arlin commented on #165
Good.

[2016-09-26 23:18] #165 closed

[2016-09-26 23:19] arlin commented on #152
This is done.  Thanks.

[2016-09-26 23:19] #152 closed

[2016-09-26 23:23] arlin commented on #168
That is an improvement, but I would like to see bigger text for all fixed UI elements.  User data such as the name "Leporidae" could be the current size, but none of the menu items or buttons should be smaller than the size used for "My Lists".

Also, it might help to use a different font for user data vs. fixed UI controls.

[2016-09-27 18:19] ducvan0212 commented on #162
I automatically replaced maliciouse symbol with '?' and added delete button when a file could not be processed.

[2016-09-27 20:10] ducvan0212 commented on #162
After moving FAQ to Help page, I also add information about  non-ASCII characters in "Why is my species not found?" section

[2016-09-27 21:44] arlin opened #184 "open new list"
User says "When I processed the Wikipedia page on Oregon freshwater fishes, the green box with "Processing URL" doesn't disappear from the Phylotastic home page. At first I thought that it was taking forever to process, but actually, it was very quick. I just didn't notice that the list had appeared to the left of the page. So, I'd recommend adding feature that tells the user when the processing h

[2016-09-27 22:13] arlin commented on #174
This is much better--- there is more area for controls and the tree-viewer.   The icon looks small to me now.

[2016-09-27 22:13] #174 closed

[2016-09-27 22:13] #180 closed

[2016-09-27 22:13] arlin commented on #162
Good work.  thanks.

[2016-09-27 22:13] #162 closed

[2016-09-27 22:19] arlin commented on #169
This is a good.   Please
* change "upper right" to "at right"
*  emphasize the title "Welcome to . . . "
* fix the redundancy between Help and video (both link to same thing)

The way to fix the redundancy is either (1) remove "or watch the video" (because this links to the same site) or else (2) embed the link to the video directly.  I don't recommend (2) for now because the current video is 8 mi

[2016-09-27 22:20] arlin commented on #167
closing this because #169 duplicates and has more info.

[2016-09-27 22:20] #167 closed

[2016-09-27 22:22] arlin commented on #168
Again, emphasize "My Lists", "Public Lists", "Welcome to Phylotastic" and so on because these are titles or headers for key interface elements.

[2016-09-27 22:26] #135 closed

[2016-09-27 22:29] arlin commented on #138
what is the status of this ticket?   It seems to me that if we need to control language detection options, then we want to add that to the (1) phylotastic web service wrapper for GNRD and (2) possibly support that choice in the portal UI.

[2016-09-28 00:02] arlin commented on #169
nicely done!  thanks.  closing this.  we only have about 8 more issues and we're ready for the soft release.

[2016-09-28 00:02] #169 closed

[2016-09-28 00:05] arlin commented on #168
Thanks, you just fixed most of this, @ducvan0212.   The only thing that needs to be changed is "MAKE A NEW LIST \n Choose from source" .   Please
* remove the "Choose from source"
* change "MAKE A NEW LIST" to "Make a New List" (consistent with other titles)
* use the larger font for "Make a New List"

then we're done with this one, too.

[2016-09-28 00:13] arlin commented on #171
I made a draft of this.  @hdliv can you review this?  it still needs more work.

[2016-09-28 00:16] ducvan0212 commented on #176
I tried to create zooming in, zooming out function but ETE will not work well with a resized image. I need help @abusalehmdtayeen :d

[2016-09-28 00:18] ducvan0212 commented on #155
@arlin @epontell Can I have a server to install software needed for the portal? The current server is for web services and test environment.

[2016-09-28 00:37] ducvan0212 commented on #178
Maybe user will misclick and thus unable to see the message again so I made the popup displays when user first sign in. Whenever user selects a tree to view within his/her first sign in, the pop up is shown up. In the next sign in, the message will disappear.

[2016-09-28 09:29] dimus commented on #138
There is a switch for language detection in API, however I would leave it on as default, as it does save from many false positives in non-english texts

[2016-09-28 13:01] hdliv commented on #171
@arlin where is the draft?

[2016-09-28 13:03] arlin opened #185 "remove login wall"
I thought we fixed this, but apparently not.  A new user must be able to evaluate our products without signing in.  Currently the only actions available to the user involve viewing a public list along with its taxon matching report.

Choosing to view a tree for a public list is not allowed.  Choosing one of the Make a New List options is not allowed.  This means that users currently cannot evaluat

[2016-09-28 13:05] hdliv commented on #171
@arlin nevermind.  I was looking for it in the repository and not directly on the webportal.

[2016-09-28 13:20] arlin commented on #159
Thanks.  This is an improvement but we need to remove case-sensitivity from sorting.  Currently, the lists are sorted 0 to 9 > A to Z > a to z.

![screen shot 2016-09-28 at 9 18 03 am](https://cloud.githubusercontent.com/assets/1659198/18914850/bca198b2-855c-11e6-8e5c-f4e0da9e480e.png)

[2016-09-28 13:21] arlin commented on #178
I am not able to access this.  I signed out and signed in again, but I did not see it.

[2016-09-28 13:23] arlin commented on #171
@ducvan0212, can you look at this and figure out why the group photo doesn't load?  I tested the relative path so that is not the issue.  Possibly the application framework prevents loading content from arbitrary locations as a security precaution.

[2016-09-28 14:11] #175 closed

[2016-09-28 14:17] ducvan0212 commented on #171
The image is displayed in About page :-)

[2016-09-28 14:30] ducvan0212 commented on #159
I did remove case-sensitive from sorting.

[2016-09-28 14:33] arlin commented on #159
Thanks!  Closing.

[2016-09-28 14:33] #159 closed

[2016-09-28 14:33] arlin commented on #171
Thanks, yes I see the image now.  You had to put it in "assets"?

[2016-09-28 14:34] #118 closed

[2016-09-28 14:36] ducvan0212 commented on #171
You have to put the image in public/images and add assets in image path. The only resources can be accessed from outside word is public.

[2016-09-28 14:41] ducvan0212 commented on #178
I reset your login_count for your account. Can you try again?

[2016-09-28 14:47] arlin commented on #168
Thanks, it looks good.

[2016-09-28 14:47] #168 closed

[2016-09-28 14:58] arlin opened #186 "Improve public list choices"
I'd like to improve the titles and content of the public lists.

* make sure "Leporidae" is not the first choice (major polytomies, mostly taxonomy)
* change "Lesson on the" to "(lesson)"
* fill out the "Description" metadata fully, especially for the ones marked "(lesson)"

For instance, consider "(lesson) Marine and Terrestrial Mammals".  I would rename this "(lesson) Mammals returned to the sea

[2016-09-28 15:05] arlin commented on #178
Yes, thanks, it works!  I'm worried that users will find this annoying.  It pops up every time I view a tree, even if I don't leave the Tree View.   Can you reset everyone's account so that we can get more feedback on this?

[2016-09-28 15:06] arlin commented on #178
![screen shot 2016-09-28 at 11 00 54 am](https://cloud.githubusercontent.com/assets/1659198/18919323/a7feffbc-856b-11e6-8e01-f17c333f577f.png)

[2016-09-28 15:07] #172 closed

[2016-09-28 15:35] hdliv opened #187 "Change 'Tree viewer' to 'Trees' in webportal"
change the top tab that currently says "Tree viewer" to a more simpler "Trees"

[2016-09-28 15:54] hdliv opened #188 "'Download selected species as list' to 'Download selected taxa as list'"
In the Home view, change the name of the tab from "Download selected species as list" to  "Download selected taxa as list".

[2016-09-28 16:03] hdliv opened #189 "'Newick' to 'Export'"
In tree view, we should rename the "Newick" button to "Export as "

[2016-09-28 16:25] ducvan0212 commented on #178
I made the pop up smaller and reset all account.

[2016-09-28 19:31] abusalehmdtayeen commented on #158
This feature is done. Now user has the option to turn on/off the show branch length feature.

[2016-09-28 19:33] abusalehmdtayeen commented on #160
This feature is done.  User can turn on/off show internal node names feature.

[2016-09-28 19:58] arlin commented on #179
This still needs to explain problems with controlling the zoom, unless we fix those.

[2016-09-28 19:59] ducvan0212 commented on #185
I can allow anonymous user create a tree from public list. Because this feature is not in design so the system will only allow to upload files, links, documents WITH user's identity.  User's identity involves in inside logic operations of portal, not just session management so it actually a complex problem.

[2016-09-28 20:05] arlin commented on #160
Great!  We just need to change the label.

Change "Show internal nodes" to "Show node labels".

[2016-09-28 20:05] arlin commented on #179
also, needs to explain that the "node labels" are often useful taxonomic names, but we turn them off by default.

[2016-09-28 20:08] arlin commented on #188
This hasn't changed.

<img width="226" alt="screen shot 2016-09-28 at 4 06 53 pm" src="https://cloud.githubusercontent.com/assets/1659198/18930354/b82bb770-8595-11e6-98fa-7e67202e0660.png">

[2016-09-28 20:08] arlin commented on #189
Good, thanks @ducvan0212

[2016-09-28 20:08] #189 closed

[2016-09-28 20:12] #187 closed

[2016-09-28 20:12] #184 closed

[2016-09-28 20:13] arlin commented on #184
good.  an important improvement.

[2016-09-28 20:14] ducvan0212 commented on #188
Can you check again, @arlin

[2016-09-28 20:14] ducvan0212 commented on #160
I changed to "Show node labels", @arlin

[2016-09-28 20:16] #160 closed

[2016-09-28 20:16] arlin commented on #160
thanks, closing this.

[2016-09-28 20:20] arlin commented on #158
We need to change this.  In other tree viewers, 99 % of the time, numeric branch lengths are rendered graphically *only by scaling the horizontal length of the branch image to the numeric branch length*.   It is very unusual to display the actual numbers.   Expert users will think that "show branch lengths" means to rescale the branch images.

Please hide this option.   We can bring it back later

[2016-09-28 20:36] ducvan0212 commented on #158
The option is hidden in the portal

[2016-09-28 20:50] arlin opened #190 "accordion bizarreness on Help page"
Open or reload Help.  The "Guide" panels are all open, and the "FAQ" panels are all closed.  Good.  This is what we want.

Now, open an FAQ panel.  The "Guide" panels all close.

Why does this happen?  Do we want this?

Possibly I screwed up the accordion labels in some way.  I don't understand the system.

This is a very small annoyance, not urgent.

[2016-09-28 20:53] arlin commented on #176
Now that the tree is rendered without node labels by default, this problem is not as urgent.

[2016-09-28 20:56] #158 closed

[2016-09-28 20:57] arlin commented on #188
OK, good.  thanks.

[2016-09-28 20:57] #188 closed

[2016-09-28 21:59] ducvan0212 commented on #190
I fixed it for you, @arlin :-)

[2016-09-29 11:04] hdliv commented on #190
@arlin  @ducvan0212 got to it before me.  thanks for being quick. moving ticket to In Review

[2016-09-29 11:05] hdliv commented on #186
@arlin I have other public lists that I will add.  Do you suggest any in particular?

[2016-09-29 15:42] arlin commented on #190
This is fixed.  Thanks.

[2016-09-29 15:42] #190 closed

[2016-09-29 15:42] arlin commented on #179
I worked on this yesterday.  @hdliv can you review and see if the instructions are sufficient?

[2016-09-29 15:55] arlin opened #191 "accordion styling too subtle"
Please turn up the contrast in bkg color between the panel title (very light grey) and panel body (white) in the Help accordion.  The distinction is so subtle that it completely disappears when viewed on one of my displays-- title and body both look white and it is difficult to navigate without being able to distinguish them.

[2016-09-29 18:08] ducvan0212 commented on #185
Except uploading DwC-A requires user identity, all other workflows now expose to anonymous users.

[2016-09-29 18:11] abusalehmdtayeen commented on #138
In GNRD detect_language parameter is turned on by default. The same is true for phylotastic wrapper web service.

[2016-09-29 18:25] hdliv commented on #179
@arlin I think so -- closing ticket

[2016-09-29 18:25] #171 closed

[2016-09-29 18:46] arlin commented on #185
@ducvan0212, trees made by anonymous user seem to go into Public Trees list, where they are accessible to others, then disappear when session is over.  Is this the intended behavior?

[2016-09-29 19:03] arlin opened #192 "fuzzy search or better tips, at least"
When there are unmatched names, we could do a better job directing the user.  For instance, in the example below, "Agave americanus" and "Oncidium sawyeri" both appear on actual signs at Longwood Gardens, PA.  However, the first one is a mis-spelling of Agave americana, and the second one is a junior synonym of Oncidium maculatum.

Here are some things we can do:
* give more hints ("Mismatches are

[2016-09-29 19:04] arlin commented on #155
@epontell @ducvan0212 let's talk about this today.   Van has been very busy.  The only thing standing between us and our soft release is this ticket.

[2016-09-29 19:08] arlin commented on #178
I don't like this.  I saw this pop-up 6 or 7 times until I got tired of seeing it and ended my session.  It comes up every time I view another tree.  Please just allow the user to dismiss it with one click rather than tying it to the session.

[2016-09-29 19:34] ducvan0212 commented on #185
I keep the tree in Public Trees list. It will not be removed anyway.

[2016-09-29 19:45] ducvan0212 commented on #191
Can you check that the new color for Help headings is dark enough?

[2016-09-29 19:46] abusalehmdtayeen commented on #177
I think it is fixed now. The menu now appears near the node and node name is displayed along with the actions of the menu.

[2016-09-29 21:44] ducvan0212 commented on #178
@arlin I reworked on this. Can you check again?

[2016-09-30 23:07] arlin opened #193 "provide supporting studies for subtree"
As discussed at f2f meeting, we want to provide a list of supporting studies with the return subtree from OT.  This supports  important use cases for researchers, namely (1) I'm using phylotastic to expose the literature on a set of relationships and (2) I want to see if my published study is implicated.

@jar398 says "Looking at the code, it does seem there's a "supporting_studies" list in the re

[2016-10-03 19:30] arlin opened #194 "download all images at once"
We discussed this at the f2f meeting.

For the interface, we want the portal to autoload images if <= 20 OTUs.  If > 20, provide button "Load all images".  When selected, provide time estimate and ask user to confirm, e.g., "Loading 73 images will require an estimated 1 min 45 sec. OK to proceed?"

For the implementation, note two time-saving features.
1.  We want to retrieve pages by ID without u

[2016-10-03 19:57] arlin commented on #178
I can test anything right now.  The tree viewer does not work.  "Export" shows that the portal knows about the tree, but there is no image, and no capacity to download png or svg.  This means that the ETE part is not working.

![screen shot 2016-10-03 at 3 54 56 pm](https://cloud.githubusercontent.com/assets/1659198/19051744/0b049aa8-8982-11e6-9fc3-248a0666e762.png)

[2016-10-03 19:57] arlin commented on #191
closing this. thanks.

[2016-10-03 19:58] #191 closed

[2016-10-03 19:58] arlin commented on #191
In the future, please do *not* take issues off of the backlog.  We have backlog for a reason-- to create a distinction between issues that are an immediate priority for action, and issues that are not.

[2016-10-03 19:59] #185 closed

[2016-10-03 19:59] #179 closed

[2016-10-03 20:02] arlin commented on #186
Make sure we have multiple lists that will appeal to a wide audience including non-researchers.  The titles of these should not contain technical terms.  "Mammals returned to the water 3 times" is better than "Aquatic vs. terrestrial mammals".

I think some of these lists can do double-duty as educational examples . We just need to fill out the descriptions more fully.  I can work with you on that

[2016-10-03 20:04] arlin commented on #155
at the f2f meeting, we decided that this is a priority and that the due date was in about a week.  this is the only thing stopping us from the soft release which is scheduled for next week.

[2016-10-03 20:05] arlin commented on #176
I'm going to put this into backlog for the reason just given.

[2016-10-03 20:08] arlin commented on #194
closing this because it duplicates #146

[2016-10-03 20:08] #194 closed

[2016-10-03 21:09] abusalehmdtayeen commented on #178
@arlin, I checked the ETE web service and it  is running properly. I also tried to use the portal while keeping an eye on the web service request log, but it seems the portal is not sending any request to the service when a user is clicking on get tree button or selecting any saved tree. @ducvan0212 , can you check your end?  Specially the part where we made modification about the treeid.

[2016-10-03 21:38] abusalehmdtayeen commented on #193
Actually they have added this "supporting_studies" property in version 3 of their API. We need a separate web service to get the studies information. I am working on that.

[2016-10-03 22:02] arlin commented on #193
good, I'm looking forward to it.  this will be valuable for our users.

[2016-10-03 22:03] ducvan0212 commented on #178
@arlin @abusalehmdtayeen It is because the server is not up-to-dated with changes made in tree visualization. I updated the portal so no more tree rendering error

[2016-10-03 22:53] jar398 commented on #193
See https://github.com/OpenTreeOfLife/germinator/issues/89

[2016-10-04 15:12] arlin commented on #161
Can you provide a scientific context, in a few sentences?   What are you trying to achieve by obtaining a tree with 7000 species?

On Sep 22, 2016, at 3:28 PM, jcmassante <notifications@github.com> wrote:

------------
Arlin Stoltzfus (arlin@umd.edu)
Research Biologist, NIST; Fellow, IBBR; Adj. Assoc. Prof., UMCP
IBBR, 9600 Gudelsky Drive, Rockville, MD, 20850
tel: 240 314 6208; web: www.molevol.o

[2016-10-04 18:33] arlin commented on #186
This might be a good source because it focuses on the key groups of mammals necessary to show changes in thinking about relationships over the past 20 years.  http://blogs.scientificamerican.com/tetrapod-zoology/refined-fine-tuned-placental-mammal-family-tree/

[2016-10-06 03:43] abusalehmdtayeen commented on #193
Web service description added. https://github.com/phylotastic/phylo_services_docs/blob/master/ServiceDescription/PhyloServicesDescription.md#web-service-17

[2016-10-06 20:02] #177 closed

[2016-10-06 20:02] arlin commented on #177
thanks, closing this.

[2016-10-06 20:03] arlin commented on #178
@ducvan0212, earlier you said that you re-worked this feature, but I don't see a difference.  What is different?  I think you might need to reset my session count again.

[2016-10-06 20:40] ducvan0212 commented on #193
@hdliv where should I add this information in the portal?

[2016-10-06 21:21] arlin commented on #183
First, get a list of people who agree to do testing.  Get younger and older people.  Evolutionists and non-evolutionists.  Researchers and non-researchers.

[2016-10-06 21:21] #155 closed

[2016-10-07 16:37] arlin opened #195 "graphic for welcome pane"
the "welcome" pane shown to a new user would benefit from a graphic illustrating the workflow and perhaps some terms.

![graphic](https://cloud.githubusercontent.com/assets/1659198/19198129/6e00fc8a-8c8b-11e6-8d4e-41c52ca3d8ee.jpg)

[2016-10-07 17:29] arlin commented on #195
I generated a graphic and put it in app/assets/images.  @ducvan0212, can you make this part of the welcome message?

![welcome](https://cloud.githubusercontent.com/assets/1659198/19199413/eddbd5c8-8c91-11e6-8c94-9fd902644bc4.png)

[2016-10-07 17:31] arlin opened #196 "expand "how it works""
Many customers (especially researchers) will want to know where the data come from.  We should have a longer section devoted to this, as part of Help.

[2016-10-08 19:46] arlin opened #197 "Tree is available but doesn't render"
This may be specific to Safari 9.1.3.  We have not seen it elsewhere.  The tree is available, because I can get the Newick string using "Export".  However, it is not rendered (the lack of an error message is a separate ticket, #198)

@jimallman suggested a possible diagnosis and treatment based on Safari compatibility.

JS console points to line 20 of ete_dev.js where get_tree_image is defined.

A

[2016-10-11 14:35] arlin commented on #183
We did one so far.  It was very informative.  Two more planned for Wednesday.

[2016-10-12 21:04] arlin opened #198 "notify user upon view failure"
Currently there is no notification upon viewer failure.  In a user test, the user followed this up by pressing the "Generate image link" button.

1.  Test for viewer failure
2.  Notify the user with an alert box.  See the message below.  The alert box should have a button for "close" and a button for "Send feedback" which goes to the feedback form.

Message: "Sorry!  We got a tree (click "Export")

[2016-10-12 21:06] arlin commented on #178
During a user test today, I noticed that this is working as requested.  Thanks.  Closing.

[2016-10-12 21:06] #178 closed

[2016-10-12 22:27] arlin commented on #197
appears to be fixed.  closing.  thanks @ducvan0212

[2016-10-12 22:27] #197 closed

[2016-10-12 22:28] arlin commented on #183
this is done.  what we have to do now is to analyze the results and turn those into tickets.

[2016-10-12 22:31] arlin opened #199 "analyze user test results, prioritize issues"
* review user-test screencasts
   * Identify bugs
   * identify misdirection or confusion
   * identify missing features
* write tickets
* prioritize tickets
   1. soft release
   2. general release
   3. not a near-term priority

[2016-10-13 17:49] arlin opened #200 "list download failure"
download list failure - unexplained bug
* go to Home
* select Birds vs Reptiles
* try "Download .." --> WORKS
* click "Select/Deselect all" to deselect all
* click "Select/Deselect all" to select all
* try "Download .." --> FAILS

[2016-10-13 21:16] arlin opened #201 "welcome message tweaks"
* don't put DwC-A first
* put "if you don't have any lists . . " at the top.
* make "web site" the first item in the list, then doc, then taxon, then upload

[2016-10-13 21:19] #201 closed

[2016-10-13 21:20] arlin opened #202 "export list as text custom filename"
* prompt for file-name
* compose default from list name. e.g., "word1_word2_phylotastic_list.txt")

[2016-10-13 21:26] arlin opened #203 "make list view accessible to non-experts"
Non-experts will derive little from looking at a list of scientific names.   One of our user-testers expected to click on a name and go to an info page.

This ticket calls for further work to plan for improvements such as.

1.  retrieve common names and show them in the list view table

2. retrieve thumbnails and make them accessible by mouse-over or click.

3. retrieve EOL content and compose dyn

[2016-10-13 21:30] arlin opened #204 "link logo to main web site"
user expects to click on logo at top left.  Link this to http://www.phylotastic.org

[2016-10-13 21:42] arlin opened #205 "relocate "Get Tree" button, etc"
Make the following changes.

1. remove current "Get tree"
2. add "List viewer" as title to center panel, using same font as "Public lists"
3. add "List actions" as title for the lower right list
4. add "Get tree" to the "List actions" menu
5. swap the two lists on the right: put “List actions” above, “Make a new list” below”
6. rename "Download selected species as text" to "Download list"

![list_

[2016-10-13 21:54] arlin opened #206 "graphically unify viewer panel"
Use a light background color in the central list panel to highlight the distinction between this area and the left and right menu areas.

[2016-10-14 15:35] arlin opened #207 "Lost list in anonymous mode"
Extract from web in anonymous mode.  This creates a list.  Click on Tree view, then back to List view.  List is gone because there is no way to save.

This is part of the "login wall" we are trying to eliminate. It must be possible for the anonymous user to have > 1 list and to return to view lists.

[2016-10-14 23:50] hdliv opened #208 "Test browers"
Test portal with all 4 browsers: chrome, firefox, safari and IE.  Once these tests are done, we can push the latest updates to production.

[2016-10-14 23:53] hdliv opened #209 "tree feedback to user"
Get tree feedback: report to user how many taxa were found

[2016-10-14 23:54] hdliv opened #210 "Edits on 'Choose from taxon'"
* Choose from taxon - embedded docs and styling
  * change black "(\*)" to red "\*"
  * change prompt from "Taxon name" to "Taxon name (mouse-over for important instructions)"
  * add mouse-over text that applies both to Taxon name prompt and to input box: "Tax
  * greyed-out text in Taxon name: "e.g., Canidae, Felidae, Balaenoptera"
  * change "Subset by" to *boldfont* "Subset (choose one)"
  * d

[2016-10-14 23:55] hdliv opened #211 "tree nodes"
* tree node actions
  * don't make some options bold, others not: users think this means bold = available, not = unavailabl

[2016-10-14 23:57] hdliv opened #212 "leaf-node actions"
* changes to leaf-node actions
  * fonts
     * enlarge by 2 points
     * title in bold, others not in bold
  * title: "Medicago sativa" actions (use leaf name)
  * item 1 (EOL link): "Read info page"
  * items 2 to 4 should be toggles
  * item 2: "Add (remove) photo"
  * item 3: "Add (remove) box"
  * item 4: "Thick (thin) branch"

[2016-10-14 23:58] hdliv opened #213 "internal node actions"
* changes to internal node actions
  * fonts
     * enlarge by 2 points
     * title in bold, others not in bold
  * title:
     * named: Node "Node name" actions
     * un-named: Node actions
  * item 1: "Collapse subtree"
  * item 2: "Rotate subtree"
  * item 3: "Add (remove) box"
  * item 4: "Thick (thin) branches"

[2016-10-15 17:27] ducvan0212 commented on #198
I will keep a error in development server so you can see the pop up. I will remove the error when this ticket is closed.

[2016-10-15 17:35] ducvan0212 commented on #195
That is a very nice image. I inserted it into welcome message. Thank you, Arlin.

[2016-10-15 18:05] ducvan0212 commented on #200
@arlin can you check that this error is fixed in development server?

[2016-10-15 21:10] ducvan0212 commented on #205
I made changes as you suggested, Dr. Arlin.

[2016-10-15 21:17] ducvan0212 commented on #210
I need full text for the prompt in the third item

[2016-10-15 21:28] ducvan0212 commented on #209
Can you provide more description on this issue?

[2016-10-15 21:52] ducvan0212 commented on #202
Now list can be downloaded with custom name, Dr. Arlin.

[2016-10-17 17:32] arlin commented on #209
"Feedback" means providing information to the user about what the app is doing in response to the user's action. See:

 http://www.designforfounders.com/web-app-ux/

For instance, in Waffle, if you mouse over the "209" in the top left of this ticket, it changes color, which tells the user that there is some mouse-activated action associated with "209".

Here we are asking for feedback on how many

[2016-10-17 18:27] arlin commented on #210
Sorry, we forgot to finish that message.  "Enter the scientific name of a taxonomic group such as a genus, family or order.   See the FAQ for how to find scientific names.   You may choose only one taxon.  When subsetting by NCBI genome, queries using large taxa are possible. Otherwise, we can't process queries on taxa with more than  a few hundred species. "

[2016-10-17 18:28] arlin commented on #210
Greyed-out text needs to begin with "e.g., " otherwise the user will think that it is possible to enter a comma-separated list of 3 taxa.

[2016-10-17 18:35] arlin commented on #200
yes, this is fixed in dev.  thanks.

[2016-10-17 18:35] #200 closed

[2016-10-17 18:36] arlin commented on #195
Can you put a light frame around this, please?  This will graphically separate the labels at the top of the image from the text above it.  Currently this is visually confusing.

[2016-10-17 18:42] arlin commented on #205
Thanks.   Please use sentence capitalization throughout the portal interface, as indicated in the image above.  This means that only the first letter of the first word is capitalized, unless there is a capitalized name like "EOL" in the phrase.  Sentence capitalization: The origin of species.  Title capitalization: The Origin of Species.

There will be additional changes to this view after we fini

[2016-10-17 18:44] #183 closed

[2016-10-17 18:53] arlin commented on #210
Also, can you set the default country to something other than Albania?   What about Brazil or United States?  There are also ways to generate a random default value (look it up on stackoverflow).

[2016-10-17 20:15] arlin opened #214 "Public tree list full of junk from anonymous users"
Trees made by anonymous users seem to go into the public tree list.  This means that, when new users look at the list, they are looking at junk from new users, often with meaningless titles.  This is confusing.

We need to populate the public trees list with some nice examples.  If we assign them names beginning with space or underscore, they will sort to the top of the list.  That is a temporary

[2016-10-17 20:34] ducvan0212 commented on #210
Of course it can be set to a default country. I will set default value to United States, Dr. Arlin.

[2016-10-17 20:50] ducvan0212 commented on #210
@arlin I made changes and moved this ticket to preview but I have not pushed anythings to dev server yet. I will work on some other tickets first then push everything to server in one request so please dont check now. Thank you, Dr. Arlin.

[2016-10-17 21:34] ducvan0212 commented on #204
I added link from logo to phylotastic.org website.

[2016-10-17 22:09] arlin opened #215 "How do we get more eyes on Help?"
Users frequently do not click on "Help" until very late in the session, e.g., after 10 or 20 minutes.  Why don't users look at Help?  What might change the flow so that they notice this sooner?

Examine other web sites to see what they do, and make a suggestion.

One possibility would be to emphasize the top bar visually, and reduce it to "Home", "Trees", and "More", where "More" has a submenu for

[2016-10-17 22:12] arlin opened #216 "non-standard behavior of node actions box"
Select a node to get the node-actions box.
* click outside the viewer area --> nothing happens (as expected)
* click inside the viewer area --> box jumps to new location

The second one is not expected behavior.  Clicking outside the box should close it, not move it.

[2016-10-17 22:16] arlin opened #217 "Node box render failure (Firefox)"
In user test 3, using FireFox 48.0.1 on OSX 10 (10.10?), list items extended outside the box.   "This looks like a CSS thing" said the user, in case that is helpful.

I was not able to reproduce this error running Firefox 41.0.2 on OSX 10.9.5.

[2016-10-17 22:17] arlin commented on #217
I was not able to reproduce this error running Firefox 41.0.2 on OSX 10.9.5.  Therefore, no action should be taken on this.

[2016-10-17 22:18] arlin commented on #217
@hdliv, can you test for this error using the latest Firefox on 10.10?

[2016-10-17 22:23] arlin opened #218 "thumbnail behavior redesign"
Users expect to be able to mouse-down on portal to either (1) see an enlarged image or (2) get more information.  We already provide a link out to EOL.

In order to provide an enlarged view, we must first address the issue of rights.  We can use thumbnails as fair use.  If we are going to offer the full image we need to respect any protections .

1.  design a way to acknowledge authors
2.  write a

[2016-10-17 22:26] arlin opened #219 "Explain "ladderize""
Users do not know what "ladderize" means.  Add a float-over with the following text: "Rotate nodes to maximize asymmetry (this usually makes the tree easier to read)"

[2016-10-17 22:35] arlin opened #220 "Bad focus (Firefox)"
Select a tree, then click the export button.  The Newick tree is shown in a text box.  The user can retrieve this using Copy or Download.

However, users *also expect to be able to select it with the mouse*.  This is possible on Chrome or Safari.  However, in FireFox, the focus is stuck in the tree view and is not in the Newick box. The text connect be selected with the mouse.  Choosing cmd-a from

[2016-10-17 22:38] arlin opened #221 "Bad cursor in Newick box"
Click export Newick and the cursor appears with an icon showing a circle with a diagonal line through it, which means "forbidden".  This suggests that using the mouse inside the Newick box is forbidden.  This may explain #220 in Firefox.

However, selecting *is* possible in Chrome or Safari.  Therefore, the icon is misleading to the user.

Get rid of the icon.

![image](https://cloud.githubusercon

[2016-10-17 22:42] arlin opened #222 "redesign OTT ID option for Newick output"
Users are currently confused.  Button is labeled "Export as TXT" with pulldown options "WITH ottids" and "WITHOUT ottids".  User is not sure whether this is the same as the download button, and does not know what OTT Ids are.  User says "I like what I see [the Newick string] but I don't know if it has the IDs or not".

1.  Add check box to include OpenTree IDs.  When user clicks, Newick string is

[2016-10-17 22:48] arlin commented on #216
This is important to fix because it confuses users-- we have often been confused by this in the past.  We click on a node, and a box appears.  Then we try to click on another node. However, often it is difficult to select the node with the mouse, and this fails.  This ought to make the box disappear.  However, the box appears in a new place close to the mouse-down event.  This tricks the user into

[2016-10-17 23:54] arlin opened #223 ""Choose taxon" feedback: make a plan"
User selects the Taxon workflow, enters taxon name such as "Hexapoda" or "Mammalia".  There is  no feedback.  Two users have noted this.  Sometimes the user attempts to enter another taxon name, without having seen any feedback.

Queries with large taxa may take a long time.  Do they time out? Is it possible to provide a progress bar?  Will a taxon query continue to operate in the background?

Dis

[2016-10-17 23:56] arlin opened #224 "Fix "edit list""
"Edit list" appears prominently in the List actions menu, but does not allow the composition of the list to be edited.  It only allows the user to rename the list.

1.  Rename this action to "Rename list"
2.  Decide whether it should be moved somewhere else, then implement that.

[2016-10-17 23:58] arlin opened #225 "Remove line highlight"
As currently implemented, line highlighting is not useful.  Hide this option.

[2016-10-18 00:02] arlin opened #226 "fix tip alignment on trees"
Search "phylogeny" on google and click "images".  For square trees, the branches typically extend out to the tip labels.  This is what our users expect.  Currently our tree view shows uniform branch lengths that do not extend out to the tip labels.

![image](https://cloud.githubusercontent.com/assets/1659198/19459915/c93a10ac-94a4-11e6-8821-90f94fd8007f.png)

![image](https://cloud.githubuserconte

[2016-10-18 00:10] arlin opened #227 "redesign tree viewer control strip"
This ticket is unfinished.  Re-organize the viewer control strip to achieve greater clarity.
1.  Change "Line width"  to "Line weight"
2.  Change "Node labels" to "iNode Labels"
3.  Add float-over to iNode Labels: "Show taxon names associated with internal nodes"
4.  Use graphical style (e.g., collect all items in a box) to show what the "Apply" button refers to.  Sometimes the user does not under

[2016-10-18 00:23] arlin opened #228 "ETE node actions feedback"
Open a tree in the viewer.  Mouse-down on a node to get the node actions menu.  The implicated node is enlarged, but only slightly.   Now, mouse-over items in the menu.  Items get high-lighted during mouse-over, but this is very subtle.

Provide stronger feedback to the user.

1.  Change ETE behavior so that the current active node is enlarged *more than it is now*.

2.  Change ETE behavior so tha

[2016-10-18 00:26] arlin opened #229 "Sentence capitalization"
Use sentence capitalization (not title capitalization) for UI elements throughout the portal.

right: Sentence capitalization
wrong: Title Capitalization

[2016-10-18 00:30] arlin opened #230 "color individual branches"
add "Color branches" with pop-up to choose color for individual branches

[2016-10-18 00:31] arlin opened #231 "Special characters bug in taxon report"
Extract from web using from https://en.wikipedia.org/wiki/Wombat

Look at taxon matching report.  Special characters in some names not displayed properly.

[2016-10-18 00:32] arlin opened #232 "show rank of taxon labels"
In Tree view, show rank of taxon labels
   * capture rank information from OT
   * invent a code, e.g., kpcofg, o- = suborder, o+ = order.
   * show rank, e.g., Mammalia (c), Felidae (f), Homininae (f-), Canus (g)

[2016-10-18 00:33] arlin commented on #129
We also need to add this information in the taxon matching report.

[2016-10-18 00:35] arlin opened #233 "extract from web status message is too subtle"
extract from web message: too subtle.  fades too quickly.  Make this brighter and keep it there another second or two.

[2016-10-18 00:59] arlin commented on #199
I have finished analyzing the user tests and posting tickets, and prioritizing these.  I'll discuss it at the meeting on Thursday.

[2016-10-18 01:04] #221 closed

[2016-10-18 01:10] arlin commented on #219
This doesn't work in Safari 9.1.3 (osx 10.9.5), as shown in first image.  In chrome (second image), the association with "Ladderize" isn't clear enough.  Change "Rotate nodes to ..." to "(Ladderize) Rotate nodes to ...".  This will make clear to the user that the tooltip is about Ladderize.
<img width="440" alt="safari_floatover" src="https://cloud.githubusercontent.com/assets/1659198/19460895/05c

[2016-10-18 01:11] arlin commented on #204
OK, good.  But please don't take issues off of Backlog.  This wasn't a priority.

[2016-10-18 01:11] #204 closed

[2016-10-18 01:13] #210 closed

[2016-10-18 01:13] arlin commented on #210
Good work, @ducvan0212.  Thanks.

[2016-10-18 01:13] #195 closed

[2016-10-18 01:19] arlin commented on #211
this is redundant to #212 and #213. closing.

[2016-10-18 01:19] #211 closed

[2016-10-18 11:23] jhcepas commented on #228
Both things are doable, but changing tree style with mouse-over events might be a performance killer, specially in big trees. It would be ok with an SVG-based visualization, but currently the whole png image is regenerated with each redraw.

[2016-10-18 14:44] ducvan0212 commented on #207
@arlin I pushed my work on the server. Now, anonymous users can see their lists.

[2016-10-18 14:50] ducvan0212 opened #234 "Lists extracted from taxon cannot be used to construct tree"
I tried to use Equus taxon to build a tree but it failed. I checked and see that the request to constructing tree service has a lot of names but the services returned

{"status_code": 204, "message": "Not enough valid node ids provided to construct a subtree (there must be at least two).", "newick": ""}=> nil

[2016-10-18 15:04] ducvan0212 commented on #212
@abusalehmdtayeen I checked in style sheet file but there is no css rule for these changes. I guess you generated css and html elements dynamically. Can you check again?

[2016-10-18 15:13] ducvan0212 commented on #213
@abusalehmdtayeen same as #212.

[2016-10-18 15:21] ducvan0212 commented on #216
@abusalehmdtayeen I think we should work together to resolve ETE user-interface/user experience tickets. Because js code in ete is derived from multiple auto-generated parts so if you spot them then I fixed, it would be quicker.

[2016-10-18 16:49] abusalehmdtayeen commented on #212
@ducvan0212 , yes the leaf actions are generated dynamically. I will take care of this issue.

[2016-10-18 16:51] abusalehmdtayeen commented on #213
@ducvan0212 , I will take care of this issue.

[2016-10-18 16:52] abusalehmdtayeen commented on #216
@ducvan0212 , you are right. We have to work on these issues together. I will email you about scheduling a meeting time.

[2016-10-18 17:53] arlin commented on #228
The first item might not be as important if we fix #216 .

[2016-10-18 17:55] arlin commented on #228
@jhcepas, I'm confused, and I may have found something interesting.  The current active node is *already* highlighted when the node box is activated.  It doesn't get very much larger-- it mostly gets fuzzy.  See the first image.

![screen shot 2016-10-18 at 1 50 22 pm](https://cloud.githubusercontent.com/assets/1659198/19489673/2df120ae-953a-11e6-81d6-f4f65ccfb69b.png)

If the node is already high

[2016-10-18 19:48] arlin commented on #234
This isn't a problem with Equus per se.  For instance, extract names from https://en.wikipedia.org/wiki/Equus_(genus) and the result is this:

![](http://phylo.cs.nmsu.edu:8080/TreeViewer/demo/tmp/361.png)

[2016-10-19 03:40] abusalehmdtayeen commented on #226
@arlin , Currently there are dotted lines that extend to the tips from branches. Will making the dotted line to solid lines solve this issue? Or do you mean something else?

[2016-10-19 07:54] jhcepas commented on #228
I am not sure how the node is highlighted at the moment. If it requires redrawing, it will affect performance, but perhaps @abusalehmdtayeen is using some svg tricks to overlay on top of the tree image. In that case, no performance will be ok.

[2016-10-19 15:08] ducvan0212 commented on #214
Trees made by an anonymous user will not be put in public category anymore.

[2016-10-19 16:17] ducvan0212 commented on #222
I did make this change, Dr Arlin

[2016-10-19 18:29] arlin commented on #226
@abusalehmdtayeen, it doesn't sound like a good solution, but I'll let you figure that out.

The "look" that we want for our trees is illustrated in the examples above.  The tree must consist of straight solid lines that extend to the tip labels.  The appearance of the tree must be clean and rectangular.   By default, the line style must be the same throughout the tree (prior to any user customiza

[2016-10-19 18:49] arlin opened #235 "set up dev access for UMD team"
@arlin and @hdliv would like to start working on the portal code directly.  We have tried to install it here unsuccessfully, and have given up.  We would now like to have access to the dev server local repo so that we can test changes during development.

[2016-10-19 18:59] arlin opened #236 "List view load error"
In anonymous mode, create an empty list by choosing "Extract from web" and providing a URL with no species names (e.g., www.phylotastic.org).

The "Make a new list" menu does not load.  This is an important error because the next step for the user is to try again to create a list, but the options are not available.

[2016-10-19 19:05] ducvan0212 commented on #236
I tried to reproduce the error but I saw

<img width="1195" alt="screen shot 2016-10-19 at 1 03 41 pm" src="https://cloud.githubusercontent.com/assets/1614884/19533354/a136dfdc-95fc-11e6-9d0c-783cb06e9fa6.png">

[2016-10-19 19:14] arlin commented on #236
I'm sorry, I made a slight mistake.  You are getting this error because you entered "www.phylotastic.org" instead of "http://www.phylotastic.org".  The portal does not recognize the first one as a URL (that's a separate issue) and returns an error immediately.  If you enter a valid URL, then you will be directed to list view and you will see the green banner indicating that the list is being proce

[2016-10-19 19:22] arlin opened #237 "handle URLs without http prefix"
Users might enter a URL without the http:// prefix, e.g., www.eol.org.  The portal does not recognize this and returns an error, with no explanation other than "Cannot process this link".

Change the message to "Invalid URL.  Did you forget the http prefix?  To be sure, go to the page you want, then copy the text from the browser's URL bar."

[2016-10-19 19:28] arlin commented on #222
Thanks.  This is much easier for the user to understand!  Closing.

[2016-10-19 19:28] #222 closed

[2016-10-19 19:29] arlin commented on #219
I'm going to close this.  I will treat the float-over problems as a separate issue.  None of the float-overs work in Safara 9.1.3

[2016-10-19 19:29] #219 closed

[2016-10-19 19:30] epontell commented on #237
should be easy to parse the url to see if it starts with http: or https: (if not, add it).

[2016-10-19 19:30] ducvan0212 commented on #236
Ah, it is because last weekend, I performed a code refactor and I forgot to add the creation navbar in the new error layout. I added it back. Thank you Dr Arlin for discovering this.

[2016-10-19 19:34] #202 closed

[2016-10-19 19:35] arlin commented on #205
There is already a separate ticket calling for sentence capitalization, so I'm going to close this.

[2016-10-19 19:35] #205 closed